﻿<style>
    .scrollbar {
        /*background-color: #333;*/
        overflow: auto;
        white-space: nowrap;
    }

    .tengah {
        position: fixed;
        width: auto;
        top: 410px;
    }
</style>


<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">Master / Survey / Update Survey</div>
            <div class="card-body">
                @using (Html.BeginForm("AddUpQuest", "Survey", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                @*<input type="hidden" name="SVY_ID" id="QuestionSVY_ID" />*@
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label for="" class="col-sm-2 col-form-label">Subject</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="SVY_Subject" id="SVY_Subject" placeholder="title" value="@item.SVY_Subject" autocomplete="off" required />
                                                <input type="hidden" class="form-control" name="SVY_ID" id="SVY_ID" value="@item.SVY_ID" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-sm-2 col-form-label">Description</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" name="SVY_Desc" id="SVY_Desc" rows="3" pattern="[A-Za-z 0-9]" title="only alphabets and numbers allowed" autocomplete="off" required>@item.SVY_Desc</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-sm-2 col-form-label">DeadLine</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="SVY_End" id="Inv_DueDate" placeholder="deadline" value="@item.SVY_End.ToString("MM/dd/yyyy")" autocomplete="off" required />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-sm-2 col-form-label">Publish</label>
                                            <div class="col-sm-10">
                                                <select class="form-control selectpicker" id="SVY_IsActive" name="SVY_IsActive" required>
                                                    <option value="">Select</option>
                                                    @if (item.SVY_IsActive == true)
                                                    {
                                                        <option value="true" selected>Yes</option>
                                                        <option value="false">No</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="true">Yes</option>
                                                        <option value="false" selected>No</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <br />
                                        <h5><u>Questions</u></h5><br />
                                    </div>
                                    <div class="col-md-10">
                                        <div id="Quest">
                                            @{
                                                int _qw = 1;
                                                foreach (var t in item.SurveyD1)
                                                {
                                                    if (t.SVY_Type == "Spinner")
                                                    {
                                                        <script>
                                            $(document).ready(function () {
                                                $("#Remove@_qw").click(function () {
                                                    $("#chard@_qw").remove();
                                            });


                                                $("#changeType@_qw").change(function () {
                                                    var val = $("#changeType@_qw option:selected").val();

                                        switch (val) {
                                            case "Spinner": {
                                                    createCardSpinner(@_qw);
                                                }
                                                break;

                                            case "Radio": {
                                                    createCardRadio(@_qw);
                                                }
                                                break;

                                            case "TextBox": {
                                                    createCardTB(@_qw);
                                                }
                                                break;

                                            case "TextArea": {
                                                    createCardTA(@_qw);
                                                }
                                                break;

                                            case "Image": {
                                                    createCardImage(@_qw);
                                                }
                                                break;

                                        }
                                    });

                                });
                                                        </script>

                                                        <div id="chard@_qw">
                                                            <div class="input-group">
                                                                <div class="col-md-8">
                                                                    <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                    <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                    <div id="type_answer_quest@_qw">

                                                                        <div id="Quest@_qw">

                                                                            <input type="hidden" name="AnswerType" value="Spinner|@_qw">
                                                                            @foreach (var ank in t.SurveyD2)
                                                                            {
                                                                                <div class="input-group mb-3">
                                                                                    <div class="input-group-prepend">
                                                                                        <div class="input-group-text">
                                                                                            <span>@ank.SVY_Value</span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <input type="hidden" name="AnswerTypeValue" value="Spinner|@_qw">
                                                                                    <input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" placeholder="" value="@ank.SVY_Desc" autocomplete="off">
                                                                                </div>
                                                                            }

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="input-group mb-3">
                                                                        <select class="custom-select" id="changeType@_qw">

                                                                            <option value="Spinner" selected>Spinner</option>
                                                                            <option value="TextBox">TextBox</option>
                                                                            <option value="TextArea">TextArea</option>
                                                                            <option value="Radio">Radio</option>
                                                                            <option value="Image">Image</option>
                                                                        </select>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Remove" id="Remove@_qw">
                                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                                </button>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                    }
                                                    else if (t.SVY_Type == "TextBox")
                                                    {
                                                        <script>
                                            $(document).ready(function () {
                                                $("#Remove@_qw").click(function () {
                                                    $("#chard@_qw").remove();
                                            });


                                                $("#changeType@_qw").change(function () {
                                                    var val = $("#changeType@_qw option:selected").val();

                                        switch (val) {
                                            case "Spinner": {
                                                    createCardSpinner(@_qw);
                                                }
                                                break;

                                            case "Radio": {
                                                    createCardRadio(@_qw);
                                                }
                                                break;

                                            case "TextBox": {
                                                    createCardTB(@_qw);
                                                }
                                                break;

                                            case "TextArea": {
                                                    createCardTA(@_qw);
                                                }
                                                break;

                                            case "Image": {
                                                    createCardImage(@_qw);
                                                }
                                                break;

                                        }
                                    });

                                });
                                                        </script>

                                                        <div id="chard@_qw">
                                                            <div class="input-group">
                                                                <div class="col-md-8">
                                                                    <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                    <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                    <div id="type_answer_quest@_qw">

                                                                        <div id="Quest@_qw">

                                                                            <input type="hidden" name="AnswerType" value="TextBox|@_qw">
                                                                            @foreach (var ank in t.SurveyD2)
                                                                            {
                                                                                <input type="hidden" name="AnswerTypeValue" value="TextBox|@_qw">
                                                                                <input type="text" name="Answer" class="form-control mb-3" readonly placeholder="......">
                                                                            }

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="input-group mb-3">
                                                                        <select class="custom-select" id="changeType@_qw">

                                                                            <option value="Spinner">Spinner</option>
                                                                            <option value="TextBox" selected>TextBox</option>
                                                                            <option value="TextArea">TextArea</option>
                                                                            <option value="Radio">Radio</option>
                                                                            <option value="Image">Image</option>
                                                                        </select>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Remove" id="Remove@_qw">
                                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                                </button>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                    }
                                                    else if (t.SVY_Type == "TextArea")
                                                    {
                                                        <script>
                                            $(document).ready(function () {
                                                $("#Remove@_qw").click(function () {
                                                    $("#chard@_qw").remove();
                                            });


                                                $("#changeType@_qw").change(function () {
                                                    var val = $("#changeType@_qw option:selected").val();

                                        switch (val) {
                                            case "Spinner": {
                                                    createCardSpinner(@_qw);
                                                }
                                                break;

                                            case "Radio": {
                                                    createCardRadio(@_qw);
                                                }
                                                break;

                                            case "TextBox": {
                                                    createCardTB(@_qw);
                                                }
                                                break;

                                            case "TextArea": {
                                                    createCardTA(@_qw);
                                                }
                                                break;

                                            case "Image": {
                                                    createCardImage(@_qw);
                                                }
                                                break;

                                        }
                                    });

                                });
                                                        </script>

                                                        <div id="chard@_qw">
                                                            <div class="input-group">
                                                                <div class="col-md-8">
                                                                    <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                    <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                    <div id="type_answer_quest@_qw">

                                                                        <div id="Quest@_qw">

                                                                            <input type="hidden" name="AnswerType" value="TextArea|@_qw">
                                                                            @foreach (var ank in t.SurveyD2)
                                                                            {
                                                                                <input type="hidden" name="AnswerTypeValue" value="TextArea|@_qw">
                                                                                <textarea class="form-control mb-3" placeholder="......" name="Answer" readonly></textarea>
                                                                            }

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="input-group mb-3">
                                                                        <select class="custom-select" id="changeType@_qw">

                                                                            <option value="Spinner">Spinner</option>
                                                                            <option value="TextBox">TextBox</option>
                                                                            <option value="TextArea" selected>TextArea</option>
                                                                            <option value="Radio">Radio</option>
                                                                            <option value="Image">Image</option>
                                                                        </select>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Remove" id="Remove@_qw">
                                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                                </button>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                    }
                                                    else if (t.SVY_Type == "Radio")
                                                    {
                                                        <script>
                                            $(document).ready(function () {
                                                $("#Remove@_qw").click(function () {
                                                    $("#chard@_qw").remove();
                                            });


                                                $("#changeType@_qw").change(function () {
                                                    var val = $("#changeType@_qw option:selected").val();

                                        switch (val) {
                                            case "Spinner": {
                                                    createCardSpinner(@_qw);
                                                }
                                                break;

                                            case "Radio": {
                                                    createCardRadio(@_qw);
                                                }
                                                break;

                                            case "TextBox": {
                                                    createCardTB(@_qw);
                                                }
                                                break;

                                            case "TextArea": {
                                                    createCardTA(@_qw);
                                                }
                                                break;

                                            case "Image": {
                                                    createCardImage(@_qw);
                                                }
                                                break;

                                        }
                                    });

                                });
                                                        </script>

                                                        <div id="chard@_qw">
                                                            <div class="input-group">
                                                                <div class="col-md-8">
                                                                    <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                    <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                    <div id="type_answer_quest@_qw">

                                                                        <div id="Quest@_qw">

                                                                            <input type="hidden" name="AnswerType" value="Radio|@_qw">
                                                                            @foreach (var ank in t.SurveyD2)
                                                                            {
                                                                                <div class="input-group mb-3">
                                                                                    <div class="input-group-prepend">
                                                                                        <div class="input-group-text">
                                                                                            <input type="radio" aria-label="Checkbox for following text input">
                                                                                        </div>
                                                                                    </div>
                                                                                    <input type="hidden" name="AnswerTypeValue" value="Radio|@_qw">
                                                                                    <input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" placeholder="" value="@ank.SVY_Desc" autocomplete="off">
                                                                                </div>
                                                                            }

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="input-group mb-3">
                                                                        <select class="custom-select" id="changeType@_qw">

                                                                            <option value="Spinner">Spinner</option>
                                                                            <option value="TextBox">TextBox</option>
                                                                            <option value="TextArea">TextArea</option>
                                                                            <option value="Radio" selected>Radio</option>
                                                                            <option value="Image">Image</option>
                                                                        </select>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Remove" id="Remove@_qw">
                                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                                </button>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                    }
                                                    else if (t.SVY_Type == "Image")
                                                    {
                                                        <script>
                                            $(document).ready(function () {
                                                $("#Remove@_qw").click(function () {
                                                    $("#chard@_qw").remove();
                                            });


                                                $("#changeType@_qw").change(function () {
                                                    var val = $("#changeType@_qw option:selected").val();

                                        switch (val) {
                                            case "Spinner": {
                                                    createCardSpinner(@_qw);
                                                }
                                                break;

                                            case "Radio": {
                                                    createCardRadio(@_qw);
                                                }
                                                break;

                                            case "TextBox": {
                                                    createCardTB(@_qw);
                                                }
                                                break;

                                            case "TextArea": {
                                                    createCardTA(@_qw);
                                                }
                                                break;

                                            case "Image": {
                                                    createCardImage(@_qw);
                                                }
                                                break;

                                        }
                                    });

                                });
                                                        </script>

                                                        <div id="chard@_qw">
                                                            <div class="input-group">
                                                                <div class="col-md-8">
                                                                    <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                    <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                    <div id="type_answer_quest@_qw">

                                                                        <div id="Quest@_qw">

                                                                            <input type="hidden" name="AnswerType" value="Image|@_qw">
                                                                            @foreach (var ank in t.SurveyD2)
                                                                            {
                                                                                <input type="hidden" name="AnswerTypeValue" value="Image|@_qw">
                                                                                <input type="hidden" name="Answer" value="">
                                                                            }

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="input-group mb-3">
                                                                        <select class="custom-select" id="changeType@_qw">

                                                                            <option value="Spinner">Spinner</option>
                                                                            <option value="TextBox">TextBox</option>
                                                                            <option value="TextArea">TextArea</option>
                                                                            <option value="Radio">Radio</option>
                                                                            <option value="Image" selected>Image</option>
                                                                        </select>
                                                                        <div class="input-group-append">
                                                                            <span class="input-group-btn">
                                                                                <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Remove" id="Remove@_qw">
                                                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                                                </button>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                    }


                                                    _qw += 1;
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="tengah">
                                            <div class="input-group mb-2">
                                                <span class="input-group-btn">
                                                    <button type="button" id="addQuest" class="btn btn-info" data-toggle="tooltip" data-placement="right" title="Add Question">
                                                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add Question
                                                    </button>
                                                </span>
                                            </div>
                                            <button type="button" class="btn btn-outline-primary add">Save</button>
                                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" onclick="location.href='@Url.Action("Index", "Survey")'">Back</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal perifikasi-->
                                <div class="modal fade" id="perifikasi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            @*<div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>*@
                                            <div class="modal-body">
                                                <p id="perifikasi_isi"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">No!</button>
                                                <button type="submit" class="btn btn-outline-success">Yes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @*<button type="submit" class="btn btn-outline-primary">Save</button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>*@
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>

<script>

    count = @ViewBag.StarNumber;

    $('#addQuest').click(function () {
        count += 1;
        $("#Quest").append(createCard(count));
    });

    function createCard(qw) {
        $("#Quest").append(
            '<script>' +
            '$(document).ready(function(){' +
            '$("#Remove' + qw + '").click(function () {' +
            '$("#chard' + qw + '").remove();' +
            '});' +


            '$("#changeType' + qw + '").change(function () {' +
            'var val = $("#changeType' + qw + ' option:selected").val();' +
            //'$("#changeType' + qw + '").val("val");' +

            'switch (val) {' +
            'case "Spinner": {' +
            //'$("#Quest' + A + '").remove();' +
            'createCardSpinner(' + qw + ')' +
            '}' +
            'break;' +

            'case "Radio": {' +
            //'$("#Quest' + A + '").remove();' +
            'createCardRadio(' + qw + ')' +
            '}' +
            'break;' +

            'case "TextBox": {' +
            //'$("#Quest' + A + '").remove();' +
            'createCardTB(' + qw + ')' +
            '}' +
            'break;' +

            'case "TextArea": {' +
            //'$("#Quest' + A + '").remove();' +
            'createCardTA(' + qw + ')' +
            '}' +
            'break;' +

            'case "Image": {' +
            //'$("#Quest' + A + '").remove();' +
            'createCardImage(' + qw + ')' +
            '}' +
            'break;' +

            '}' +
            '});' +

            '});' +
            '<' + '/' + 'script>' +

            '<div id="chard' + qw + '">' +
            '<div class="input-group">' +
            '<div class="col-md-8">' +
            '<textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question' + qw + '"></textarea>' +
            '<div id="type_answer_quest' + qw + '">' +

            '<div id="Quest' + qw + '">' +

            '<input type="hidden" name="AnswerType" value="Spinner|' + qw + '">' +
            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<span>1</span>' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Spinner|' + qw + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option1">' +
            '</div>' +

            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<span>2</span>' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Spinner|' + qw + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option2">' +
            '</div>' +

            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<span>3</span>' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Spinner|' + qw + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option3">' +
            '</div>' +

            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<span>4</span>' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Spinner|' + qw + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option4">' +
            '</div>' +

            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<span>5</span>' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Spinner|' + qw + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option5">' +
            '</div>' +

            '</div>' +
            '</div>' +
            '</div>' +

            '<div class="col-md-4">' +
            '<div class="input-group mb-3">' +
            '<select class="custom-select" id="changeType' + qw + '">' +

            '<option value="Spinner" selected>Spinner</option>' +
            '<option value="TextBox">TextBox</option>' +
            '<option value="TextArea">TextArea</option>' +
            '<option value="Radio">Radio</option>' +
            '<option value="Image">Image</option>' +
            '</select>' +
            '<div class="input-group-append">' +
            '<span class="input-group-btn">' +
            '<button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Remove" id="Remove' + qw + '">' +
            '<i class="fa fa-times" aria-hidden="true"></i>' +
            '</button>' +
            '</span>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '</div>' +
            '<hr>' +
            '</div>');
    }

    function createCardSpinner(A) {
        //$("#changeType" + A).change(function () {
        //    var val = $("#changeType" + A + " option:selected").val();
        //    alert(val);
        //});

        $('#Quest' + A).empty();
        $("#Quest" + A).append(
            '<input type="hidden" name="AnswerType" value="Spinner|' + A + '">' +
            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<span>1</span>' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Spinner|' + A + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option1">' +
            '</div>' +

            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<span>2</span>' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Spinner|' + A + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option2">' +
            '</div>' +

            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<span>3</span>' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Spinner|' + A + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option3">' +
            '</div>' +

            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<span>4</span>' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Spinner|' + A + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option4">' +
            '</div>' +

            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<span>5</span>' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Spinner|' + A + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option5">' +
            '</div>');
    }

    function createCardRadio(B) {
        //$("#changeType" + B).change(function () {
        //    var val = $("#changeType" + B + " option:selected").val();
        //    alert(val);
        //});

        $('#Quest' + B).empty();
        $("#Quest" + B).append(
            '<input type="hidden" name="AnswerType" value="Radio|' + B + '">' +
            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<input type="radio" aria-label="Checkbox for following text input">' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Radio|' + B + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option1">' +
            '</div>' +

            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<input type="radio" aria-label="Checkbox for following text input">' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Radio|' + B + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option2">' +
            '</div>' +

            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<input type="radio" aria-label="Checkbox for following text input">' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Radio|' + B + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option3">' +
            '</div>' +

            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<input type="radio" aria-label="Checkbox for following text input">' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Radio|' + B + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option4">' +
            '</div>' +

            '<div class="input-group mb-3">' +
            '<div class="input-group-prepend">' +
            '<div class="input-group-text">' +
            '<input type="radio" aria-label="Checkbox for following text input">' +
            '</div>' +
            '</div>' +
            '<input type="hidden" name="AnswerTypeValue" value="Radio|' + B + '">' +
            '<input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" autocomplete="off" placeholder="option5">' +
            '</div>');
    }

    function createCardTB(C) {
        //$("#changeType" + C).change(function () {
        //    var val = $("#changeType" + C + " option:selected").val();
        //    alert(val);
        //});

        $('#Quest' + C).empty();
        $("#Quest" + C).append(
            '<input type="hidden" name="AnswerType" value="TextBox|' + C + '">' +
            '<input type="hidden" name="AnswerTypeValue" value="TextBox|' + C + '">' +
            '<input type="text" name="Answer" class="form-control mb-3" readonly placeholder="......">');
    }

    function createCardTA(D) {
        //$("#changeType" + D).change(function () {
        //    var val = $("#changeType" + D + " option:selected").val();
        //    alert(val);
        //});

        $('#Quest' + D).empty();
        $("#Quest" + D).append(
            '<input type="hidden" name="AnswerType" value="TextArea|' + D + '">' +
            '<input type="hidden" name="AnswerTypeValue" value="TextArea|' + D + '">' +
            '<textarea class="form-control mb-3" placeholder="......" name="Answer" readonly></textarea>');
    }

    function createCardImage(E) {
        //$("#changeType" + E).change(function () {
        //    var val = $("#changeType" + E + " option:selected").val();
        //    alert(val);
        //});

        $('#Quest' + E).empty();
        $("#Quest" + E).append(
            '<input type="hidden" name="AnswerType" value="Image|' + E + '">' +
            '<input type="hidden" name="AnswerTypeValue" value="Image|' + E + '">' +
            '<input type="hidden" name="Answer" value="">');
    }

    $('.tengah').on('click', '.add', function () {
        var a = $('textarea[name="Question"]').length;
        if (a >= 1) {

        } else {
            $("#perifikasi").modal("show");
            $("#perifikasi_isi").text("Anda belum membuat pertanyaan, lanjut menyimpan data?");
        }
    });
</script>
