﻿@model b2bWeb.Models.rowsSlideShow

@*<link rel="stylesheet" href="https://foliotek.github.io/Croppie/croppie.css">*@

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <span class="input-group-btn">
                            <a class="btn btn-outline-primary create" href="javascript:void(0)">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add
                            </a>
                        </span>
                        @*<span class="input-group-btn">
                            <a class="btn btn-outline-secondary import" href="javascript:void(0)">
                                <i class="fa fa-upload"></i>&nbsp;Import
                            </a>
                        </span>
                        <span class="input-group-btn">
                            <a class="btn btn-outline-success" href="@Url.Action("ExportToExcel", "SlideShow")">
                                <i class="fa fa-download"></i>&nbsp;Excel
                            </a>
                        </span>*@
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataSlideShow", "SlideShow")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">ACTION</th>
                                <th data-field="@Html.DisplayNameFor(m => m.SDS_URL)" data-formatter="imageFormatterSlideShow">IMAGE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.SDS_isPUBLISH)" data-formatter="ToYesNo">PUBLISH</th>
                                <th data-field="@Html.DisplayNameFor(m => m.SDS_INSERTON)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.SDS_INSERTBY)">INSERT BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.SDS_UPDATEON)" data-formatter="ToDate">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.SDS_UPDATEBY)">UPDATE BY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("_ScriptTable"); }

<!-- Modal Add & update -->
@*data-show-refresh="true"*@
<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Image</label><br />
                    @*<a class="mg-b-10" href="#" data-toggle="modal" data-target="#ChooseImageSDS_URL">*@
                    <img id="ImagesSDS_URL" src="~/Content/images/default-image.png" style="width:150px; height:150px;" /><br />
                    <p>size 250x300 pixel</p>
                    @*</a>*@
                    @*<span>klik image</span>*@
                    <input type="hidden" name="id" id="id" />
                    <input type="file" name="Images" id="item_Image1" onchange="readURLSS(this);" />
                    <input type="hidden" name="SDS_URL" id="SDS_URL" />
                    @*<input type="hidden" name="SDS_URL" id="SDS_URL" />*@
                </div>                
                <div id="active" class="form-group">
                    <label>Publish</label>
                    <select class="form-control selectpicker" id="SDS_isPUBLISH" name="SDS_isPUBLISH" title="Select">
                        <option value="true">Active</option>
                        <option value="false">NonActive</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-primary add" data-request-url="@Url.Action("AddSlideShow", "SlideShow")" type="button">
                    Submit
                </button>
                <button class="btn btn-primary addL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal image-->
<div class="modal fade" id="ChooseImageSDS_URL" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6183ff;">
                <h5 class="" id=""><span style="color: #ffffff">Choose Image</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="file-upload-inner ts-forms">
                    <div class="input prepend-big-btn">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input type="file" id="uploadSDS_URL" name="SDS_URL" class="form-control">
                                <br />
                                <div id="upload-SDS_URL" style="width:300px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary upload-SDS_URL">Choose</button>
            </div>
        </div>
    </div>
</div>

<!-- modal delete -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#e82323">
                <h5 class="modal-title text-white" id="exampleModalLabel">Delete @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="javascript:void(0)" role="form">
                <div class="modal-body">
                    <input id="idDel" type="hidden" class="form-control" name="id" value="">
                    Are you sure you want to delete @ViewBag.Title @*"<b><span id="nameDel"></span></b>"*@ ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel!</button>
                    <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "SlideShow")">Yes, delete it!</button>
                    <button class="btn btn-primary deleteL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@*<script src="https://foliotek.github.io/Croppie/croppie.js"></script>*@
<script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
</script>
<script src="~/Scripts/data/SlideShow.js"></script>