﻿@model b2bWeb.Models.rowsCurrentStock

<style>
    .datepicker {
        z-index: 1600 !important; /* has to be larger than 1050 */
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <span class="input-group-btn">
                            <a href="#" class="btn btn-outline-success my-2 my-sm-0" onclick="excel_date();">
                                <i class="fa fa-download"></i>&nbsp;Excel
                            </a>
                        </span>
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataCurrentStock", "CurrentStock")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="@Html.DisplayNameFor(m => m.Opname_InsertON)" data-formatter="ToDateOnly">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Opname_OutletCode)">OUTLET CODE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Name)">OUTLET NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Opname_ProductCode)">PRODUCT CODE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Item_Name)">PRODUCT NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Opname_Stock)">STOCK</th>
                                <th data-field="@Html.DisplayNameFor(m => m.H1_Sales_from_lastOpname)">H1 SALES FROM LAST OPNAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Current_Stock)" data-formatter="To_H1">CURRENT STOCK</th>
                                <th data-field="@Html.DisplayNameFor(m => m.STOCK_INSERTON)" data-formatter="ToDate">STOCK INSERT ON</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_ScriptTable"); }


<div class="modal fade" id="myModal_excel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6183ff;">
                <h5 class="modal-title" id="myModalLabel" style="color: #ffffff">Export to Excel @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            @using (Html.BeginForm("ExportToExcel", "CurrentStock", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="text-uppercase">Periode</label>
                        <div>
                            <input type="text" class="form-control" id="dateMonth" name="startDate" required autocomplete="off">
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label for="" class="text-uppercase">End Date</label>
                            <div>
                                <input type="text" class="form-control" id="endDate" name="endDate" required autocomplete="off">
                            </div>
                        </div>*@
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success ex">Excel</button>
                    <button class="btn btn-primary exL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>


@*

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Reports</li>
            <li class="breadcrumb-item active" aria-current="page">Current Stock</li>
        </ol>
    </nav>

    @using (Ajax.BeginForm("Index", "CurrentStock",
              new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" },
              new { id = "frm-search" }))
    {
        <table class="container-fluid mb-1">
            <tr>
                <td class="col-xs-12">
                    <div class="input-group">
                        @{
                            if (ViewData["Outlet"] != null)
                            {
                                <input class="form-control" id="" type="text" name="Outlet" placeholder="Outlet" value="@ViewData["Outlet"]">
                            }
                            else
                            {
                                <input class="form-control" id="" type="text" name="Outlet" placeholder="Outlet">
                            }
                        }
                        &nbsp;
                        <span class="input-group-btn">
                            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                                <i class="fa fa-search"></i>&nbsp;Search
                            </button>
                        </span>
                        &nbsp;
                        <span class="input-group-btn">
                            <a href="@Url.Action("ExportToExcel", new { Outlet = ViewData["Outlet"] })" class="btn btn-outline-success">
                                <i class="fa fa-download"></i>&nbsp;Excel
                            </a>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
        <div id="grid-list">
            @{ Html.RenderPartial("_AjaxCurrentStockList", Model); }
        </div>
    }*@