﻿@model b2bWeb.Models.rowsRoute
@using b2bWeb.Models
@{
    var area = ViewBag.Area as List<Area> ?? new List<Area>();
    var recurring = ViewBag.Recurring as List<Recurring> ?? new List<Recurring>();
    var employee = ViewBag.Employee as List<Employee> ?? new List<Employee>();
}

<style>
    .datetimepicker {
        z-index: 1600 !important; /* has to be larger than 1050 */
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <span class="input-group-btn">
                            <a class="btn btn-outline-primary create" href="javascript:void(0)">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add
                            </a>
                        </span>
                        <span class="input-group-btn">
                            <a class="btn btn-outline-secondary import" href="javascript:void(0)">
                                <i class="fa fa-upload"></i>&nbsp;Import
                            </a>
                        </span>
                        <span class="input-group-btn">
                            <a class="btn btn-outline-success" href="@Url.Action("ExportToExcel", "Route")">
                                <i class="fa fa-download"></i>&nbsp;Excel
                            </a>
                        </span>
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataRoute", "Route")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">ACTION</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Route_isActive)" data-formatter="ToYesNo">ACTIVE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Route_EmployeeNik)">NIK</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Nama_SPG)">NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Route_Queque)">QUEUE</th>
                                @*<th data-field="@Html.DisplayNameFor(m => m.Repeat_Name)">DAY</th>*@
                                <th data-field="@Html.DisplayNameFor(m => m.Route_SuggestionTime)" data-formatter="ToTime">SUGGEST TIME</th>
                                @*<th data-field="@Html.DisplayNameFor(m => m.Route_AreaID)">AREA ID</th>*@
                                <th data-field="@Html.DisplayNameFor(m => m.Area_Nama)">AREA NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Route_Type)" data-formatter="ToOA">ROUTE BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Route_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Insert_Oleh)">INSERT BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Route_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Update_Oleh)">UPDATE BY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("_ScriptTable"); }

<!-- Modal Add & update -->
<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Employee</label>
                    <select class="form-control selectpicker" data-live-search="true" id="Route_EmployeeNik" name="Route_EmployeeNik" title="employee">
                        @foreach (var dis in employee ?? new List<Employee>())
                        {
                            <option value="@dis.Employee_NIK">@dis.Employee_Name</option>
                        }
                    </select>
                    <input type="hidden" class="form-control" id="id" name="id" />
                    <p class="errorEmployee text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Queue</label>
                    <input type="text" class="form-control" id="Route_Queque" name="Route_Queque" placeholder="Queue" autocomplete="off" />
                    <p class="errorQueue text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Route Repeat</label>
                    <select class="form-control selectpicker" data-live-search="true" id="Route_Day" name="Route_Day" title="repeat">
                        @foreach (var R in recurring ?? new List<Recurring>())
                        {
                            <option value="@R.Repeat_IDX">@R.Repeat_Name (@R.Repeat_Type)</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Time</label>
                    <div class="input-group date" id="commonTime" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" id="Route_SuggestionTime" name="Route_SuggestionTime" data-target="#commonTime" />
                        <div class="input-group-append" data-target="#commonTime" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-clock"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Area</label>
                    <select class="form-control selectpicker" data-live-search="true" id="Route_AreaID" name="Route_AreaID" title="area">
                        @foreach (var A in area ?? new List<Area>())
                        {
                            <option value="@A.Area_ID">@A.Area_Name</option>
                        }
                    </select>
                    <p class="errorArea text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="Type">Route By</label>
                    <select class="form-control selectpicker" id="Route_Type" name="Route_Type" title="route by">
                        <option value="true">AREA</option>
                        <option value="false">OUTLET</option>
                    </select>
                    <p class="errorType text-danger d-none"></p>
                </div>
                <div id="active" class="form-group">
                    <label>Active</label>
                    <select class="form-control selectpicker" id="Route_isActive" name="Route_isActive" title="Select">
                        <option value="true">Active</option>
                        <option value="false">NonActive</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-primary add" data-request-url="@Url.Action("AddUpd", "Route")" type="button">
                    Submit
                </button>
                <button class="btn btn-primary addL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal import -->
<div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-6">
                    <p>
                        for the example of Template click <a href="@Url.Action("ExportTemplate", "Route")" class="btn btn-primary btn-sm">here</a>
                        @*<button class="btn btn-primary templateL btn-sm d-none" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>*@
                    </p>
                    <div class="form-group">
                        <input type="file" id="input-excel" class="form-control" name="postedFile" required />
                        <p class="errorImport text-danger d-none">file is required!</p>
                    </div>
                </div>
                <div id="result-table" class="d-none table-responsive">
                    <table id="table_import" class="table table-bordered table-sm">
                        <thead>
                            <tr class="text-uppercase">
                                <th>Route Employee NIK</th>
                                <th>Route Employee Name</th>
                                <th>Route Queue</th>
                                <th>Route Day</th>
                                <th>Route Suggestion Time</th>
                                <th>Route Area ID</th>
                                <th>Route Area Name</th>
                                <th>Route Type</th>
                            </tr>
                        </thead>
                        <tbody id="qw"></tbody>
                    </table>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary Import" data-request-url="@Url.Action("Import", "Route")">Import</button>
                <button class="btn btn-primary ImportL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal delete -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#e82323">
                <h5 class="modal-title text-white" id="exampleModalLabel">Delete @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="javascript:void(0)" role="form">
                <div class="modal-body">
                    <input id="idDel" type="hidden" class="form-control" name="id" value="">
                    Are you sure you want to delete @ViewBag.Title "<b><span id="nameDel"></span></b>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel!</button>
                    <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "Route")">Yes, delete it!</button>
                    <button class="btn btn-primary deleteL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
</script>
<script src="~/Scripts/data/Route.js"></script>