﻿@using Newtonsoft.Json;
@using b2bWeb.Models
@{
    var Question = ViewBag.Question as List<Survey>;
    var Respond = ViewBag.Narasumber as List<DetailsSurvey>;
}
<style>
    .scrollable {
        overflow-y: auto;
        max-height: 240px;
    }
</style>
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">Transaction / Details Survey</div>
            <div class="card-body">

                @{
                    foreach (var item in Question ?? new List<Survey>())
                    {
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <ul class="nav nav-tabs card-header-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="Question" onclick="return Question()">Question</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="Respond" onclick="return Respond()">Respond <span class="badge badge-dark">@ViewBag.TotalRespond</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <div class="row" id="DetailsQuest">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label for="" class="col-sm-2 col-form-label">Subject</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="SVY_Subject" id="SVY_Subject" placeholder="title" value="@item.SVY_Subject" required />
                                                        <input type="hidden" class="form-control" name="SVY_ID" id="SVY_ID" value="@item.SVY_ID" />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="" class="col-sm-2 col-form-label">Description</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" name="SVY_Desc" id="SVY_Desc" rows="3" required>@item.SVY_Desc</textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="" class="col-sm-2 col-form-label">DeadLine</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="SVY_End" id="Inv_DueDate" placeholder="deadline" value="@item.SVY_End.ToString("MM/dd/yyyy")" required />
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="" class="col-sm-2 col-form-label">Publish</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control selectpicker" id="SVY_IsActive" name="SVY_IsActive" required disabled>
                                                            <option value="">Select</option>
                                                            @if (item.SVY_IsActive == true)
                                                            {
                                                                <option value="true" selected>Yes</option>
                                                                <option value="false">No</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="true">Yes</option>
                                                                <option value="false" selected>No</option>
                                                            }

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <br />
                                                <h5><u>Questions</u></h5><br />
                                            </div>
                                            <div class="col-md-12">
                                                <div id="QuestAll">
                                                    @{
                                                        int _qw = 1;
                                                        foreach (var t in item.SurveyD1)
                                                        {
                                                            if (t.SVY_Type == "Spinner")
                                                            {
                                                                <div id="chard@_qw">
                                                                    <div class="input-group">
                                                                        <div class="col-md-8">
                                                                            <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                            <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                            <div id="type_answer_quest@_qw">

                                                                                <div id="Quest@_qw">

                                                                                    <input type="hidden" name="AnswerType" value="Spinner|@_qw">
                                                                                    @foreach (var ank in t.SurveyD2)
                                                                                    {
                                                                                        if (ank.SVY_Desc != "")
                                                                                        {
                                                                                            <div class="input-group mb-3">
                                                                                                <div class="input-group-prepend">
                                                                                                    <div class="input-group-text">
                                                                                                        <span>@ank.SVY_Value</span>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <input type="hidden" name="AnswerTypeValue" value="Spinner|@_qw">
                                                                                                <input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" placeholder="" value="@ank.SVY_Desc">
                                                                                            </div>
                                                                                        }
                                                                                    }

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            }
                                                            else if (t.SVY_Type == "TextBox")
                                                            {
                                                                <div id="chard@_qw">
                                                                    <div class="input-group">
                                                                        <div class="col-md-8">
                                                                            <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                            <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                            <div id="type_answer_quest@_qw">

                                                                                <div id="Quest@_qw">

                                                                                    <input type="hidden" name="AnswerType" value="TextBox|@_qw">
                                                                                    @foreach (var ank in t.SurveyD2)
                                                                                    {
                                                                                        <input type="hidden" name="AnswerTypeValue" value="TextBox|@_qw">
                                                                                        <input type="text" name="Answer" class="form-control mb-3" readonly placeholder="......">
                                                                                    }

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            }
                                                            else if (t.SVY_Type == "TextArea")
                                                            {
                                                                <div id="chard@_qw">
                                                                    <div class="input-group">
                                                                        <div class="col-md-8">
                                                                            <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                            <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                            <div id="type_answer_quest@_qw">

                                                                                <div id="Quest@_qw">

                                                                                    <input type="hidden" name="AnswerType" value="TextArea|@_qw">
                                                                                    @foreach (var ank in t.SurveyD2)
                                                                                    {
                                                                                        <input type="hidden" name="AnswerTypeValue" value="TextArea|@_qw">
                                                                                        <textarea class="form-control mb-3" placeholder="......" name="Answer" readonly></textarea>
                                                                                    }

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            }
                                                            else if (t.SVY_Type == "Radio")
                                                            {
                                                                <div id="chard@_qw">
                                                                    <div class="input-group">
                                                                        <div class="col-md-8">
                                                                            <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                            <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                            <div id="type_answer_quest@_qw">

                                                                                <div id="Quest@_qw">

                                                                                    <input type="hidden" name="AnswerType" value="Radio|@_qw">
                                                                                    @foreach (var ank in t.SurveyD2)
                                                                                    {
                                                                                        if (ank.SVY_Desc != "")
                                                                                        {
                                                                                            <div class="input-group mb-3">
                                                                                                <div class="input-group-prepend">
                                                                                                    <div class="input-group-text">
                                                                                                        <input type="radio" aria-label="Checkbox for following text input">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <input type="hidden" name="AnswerTypeValue" value="Radio|@_qw">
                                                                                                <input type="text" name="Answer" class="form-control" aria-label="Text input with checkbox" placeholder="" value="@ank.SVY_Desc">
                                                                                            </div>
                                                                                        }
                                                                                    }

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            }
                                                            else if (t.SVY_Type == "Image")
                                                            {
                                                                <div id="chard@_qw">
                                                                    <div class="input-group">
                                                                        <div class="col-md-8">
                                                                            <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                            <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                            <div id="type_answer_quest@_qw">

                                                                                <div id="Quest@_qw">

                                                                                    <input type="hidden" name="AnswerType" value="Image|@_qw">
                                                                                    @foreach (var ank in t.SurveyD2)
                                                                                    {
                                                                                        <input type="hidden" name="AnswerTypeValue" value="Image|@_qw">
                                                                                        <input type="hidden" name="Answer" value="">
                                                                                    }

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            }

                                                            _qw += 1;
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row d-none" id="DetailsRespond">
                                            <div class="col-md-12">
                                                @if (ViewBag.TotalRespond == 0)
                                                {

                                                }
                                                else
                                                {
                                                    <span class="input-group-btn float-right">
                                                        <a class="btn btn-outline-success" href="@Url.Action("Excel", "TrSurvey", new { ID = ViewBag.ID, Subject = ViewBag.Subject })">
                                                            <i class="fa fa-download"></i>&nbsp;Excel
                                                        </a>
                                                    </span> <br /><br />
                                                }
                                                <div class="card">
                                                    <div class="scrollable">
                                                        <div class="card-text">
                                                            <ul>
                                                                @foreach (var Nara in Respond ?? new List<DetailsSurvey>())
                                                                {
                                                                    for (int u = 0; u < Nara.DS.Count; u++)
                                                                    {
                                                                        int listN = u + 1;

                                                                        <li><a onclick="Show_Answer(@u)" class="text-dark">Narasumber @listN</a></li>
                                                                    }
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <br />
                                                <h5><u>Questions</u></h5><br />
                                            </div>
                                            <div class="col-md-12">
                                                <div id="Quest">
                                                    @{
                                                        //int _qw = 1;
                                                        foreach (var t in item.SurveyD1)
                                                        {
                                                            if (t.SVY_Type == "Spinner")
                                                            {
                                                                <div id="chard@_qw">
                                                                    <div class="input-group">
                                                                        <div class="col-md-8">
                                                                            <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                            <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                            <div id="type_answer_quest@_qw">

                                                                                <div id="Quest@_qw">

                                                                                    <input type="hidden" name="AnswerType" value="Spinner|@_qw">
                                                                                    <canvas id="ChartSpinner@_qw" class="chartjs" width="1200" height="600"></canvas>
                                                                                    @{
                                                                                        List<int> Y = new List<int>();
                                                                                        List<string> X = new List<string>();

                                                                                        for (int f = 0; f < t.SurveyD2.Count; f++)
                                                                                        {
                                                                                            if (t.SurveyD2[f].SVY_Desc != "")
                                                                                            {
                                                                                                int A = t.SurveyD2[f].SVY_Total;
                                                                                                Y.Add(A);

                                                                                                string B = t.SurveyD2[f].SVY_Desc;
                                                                                                X.Add(B);
                                                                                            }
                                                                                        }

                                                                                        int[] YY = Y.ToArray();
                                                                                        string[] XX = X.ToArray();

                                                                                        ViewBag.YY = JsonConvert.SerializeObject(YY);
                                                                                        ViewBag.XX = JsonConvert.SerializeObject(XX);

                                                                                        <script>
                                                                                var trans = document.getElementById('ChartSpinner'+@_qw).getContext('2d');
                                                                                var transchart = new Chart(trans, {
                                                                                    // The type of chart we want to create
                                                                                    //type: 'bar',
                                                                                    type: 'horizontalBar',

                                                                                    // The data for our dataset
                                                                                    data: {
                                                                                        labels: @Html.Raw(ViewBag.XX),
                                                                                        datasets: [{
                                                                                            //label: "Display",
                                                                                            backgroundColor: 'rgb(64, 64, 66)',
                                                                                            borderColor: 'rgb(64, 64, 66)',
                                                                                            fill: false,
                                                                                            data: @Html.Raw(ViewBag.YY),
                                                                                        }]
                                                                                    },

                                                                                    // Configuration options go here
                                                                                    options: {
                                                                                        legend: {
                                                                                            display: false
                                                                                        },
                                                                                        responsive: true,
                                                                                         scales: {
                                                                                            yAxes: [{
                                                                                                ticks: {
                                                                                                    beginAtZero: true
                                                                                                }
                                                                                             }],

                                                                                             xAxes: [{
                                                                                                ticks: {
                                                                                                    beginAtZero: true
                                                                                                }
                                                                                            }]
                                                                                        },
                                                                                         tooltips: {
                                                                                            callbacks: {
                                                                                                labelColor: function(tooltipItem, chart) {
                                                                                                    return {
                                                                                                        borderColor: 'rgb(250, 247, 247)',
                                                                                                        backgroundColor: 'rgb(250, 247, 247)'
                                                                                                    };
                                                                                                },
                                                                                                labelTextColor: function(tooltipItem, chart) {
                                                                                                    return '#543453';
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                });
                                                                                        </script>

                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            }
                                                            else if (t.SVY_Type == "TextBox")
                                                            {
                                                                <div id="chard@_qw">
                                                                    <div class="input-group">
                                                                        <div class="col-md-8">
                                                                            <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                            <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                            <div id="type_answer_quest@_qw">

                                                                                <div id="Quest@_qw">

                                                                                    <input type="hidden" name="AnswerType" value="TextBox|@_qw">
                                                                                    @foreach (var ank in t.SurveyD2)
                                                                                    {
                                                                                        <input type="hidden" name="AnswerTypeValue" value="TextBox|@_qw">
                                                                                        <input type="text" name="Answer" class="form-control mb-3" readonly placeholder="......">
                                                                                    }

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            }
                                                            else if (t.SVY_Type == "TextArea")
                                                            {
                                                                <div id="chard@_qw">
                                                                    <div class="input-group">
                                                                        <div class="col-md-8">
                                                                            <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                            <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                            <div id="type_answer_quest@_qw">

                                                                                <div id="Quest@_qw">

                                                                                    <input type="hidden" name="AnswerType" value="TextArea|@_qw">
                                                                                    @foreach (var ank in t.SurveyD2)
                                                                                    {
                                                                                        <input type="hidden" name="AnswerTypeValue" value="TextArea|@_qw">
                                                                                        <textarea class="form-control mb-3" placeholder="......" name="Answer" readonly></textarea>
                                                                                    }

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            }
                                                            else if (t.SVY_Type == "Radio")
                                                            {
                                                                <div id="chard@_qw">
                                                                    <div class="input-group">
                                                                        <div class="col-md-8">
                                                                            <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                            <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                            <div id="type_answer_quest@_qw">

                                                                                <div id="Quest@_qw">

                                                                                    <input type="hidden" name="AnswerType" value="Radio|@_qw">
                                                                                    <canvas id="ChartRadio@_qw" class="chartjs" width="1200" height="600"></canvas>
                                                                                    @{
                                                                                        List<int> Y = new List<int>();
                                                                                        List<string> X = new List<string>();

                                                                                        for (int f = 0; f < t.SurveyD2.Count; f++)
                                                                                        {
                                                                                            if (t.SurveyD2[f].SVY_Desc != "")
                                                                                            {
                                                                                                int A = t.SurveyD2[f].SVY_Total;
                                                                                                Y.Add(A);

                                                                                                string B = t.SurveyD2[f].SVY_Desc;
                                                                                                X.Add(B);
                                                                                            }
                                                                                        }

                                                                                        int[] YY = Y.ToArray();
                                                                                        string[] XX = X.ToArray();

                                                                                        ViewBag.YY = JsonConvert.SerializeObject(YY);
                                                                                        ViewBag.XX = JsonConvert.SerializeObject(XX);

                                                                                        <script>
                                                                                var trans = document.getElementById('ChartRadio'+@_qw).getContext('2d');
                                                                                var transchart = new Chart(trans, {
                                                                                    // The type of chart we want to create
                                                                                    //type: 'bar',
                                                                                    type: 'horizontalBar',

                                                                                    // The data for our dataset
                                                                                    data: {
                                                                                        labels: @Html.Raw(ViewBag.XX),
                                                                                        datasets: [{
                                                                                            //label: "Display",
                                                                                            backgroundColor: 'rgb(146, 146, 148)',
                                                                                            borderColor: 'rgb(146, 146, 148)',
                                                                                            fill: false,
                                                                                            data: @Html.Raw(ViewBag.YY),
                                                                                        }]
                                                                                    },

                                                                                    // Configuration options go here
                                                                                    options: {
                                                                                        legend: {
                                                                                            display: false
                                                                                        },
                                                                                        responsive: true,
                                                                                         scales: {
                                                                                            yAxes: [{
                                                                                                ticks: {
                                                                                                    beginAtZero: true
                                                                                                }
                                                                                             }],

                                                                                             xAxes: [{
                                                                                                ticks: {
                                                                                                    beginAtZero: true
                                                                                                }
                                                                                            }]
                                                                                        }
                                                                                    }
                                                                                });
                                                                                        </script>

                                                                                    }

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            }
                                                            else if (t.SVY_Type == "Image")
                                                            {
                                                                <div id="chard@_qw">
                                                                    <div class="input-group">
                                                                        <div class="col-md-8">
                                                                            <textarea class="form-control mb-3" placeholder="Question" name="Question" id="Question@_qw">@t.SVY_Question</textarea>
                                                                            <input type="hidden" name="SVY_QuestionID" value="@t.SVY_QuestionID">
                                                                            <div id="type_answer_quest@_qw">

                                                                                <div id="Quest@_qw">

                                                                                    <input type="hidden" name="AnswerType" value="Image|@_qw">
                                                                                    @foreach (var ank in t.SurveyD2)
                                                                                    {
                                                                                        <input type="hidden" name="AnswerTypeValue" value="Image|@_qw">
                                                                                        <input type="hidden" name="Answer" value="">
                                                                                    }

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                </div>
                                                            }

                                                            _qw += 1;
                                                        }
                                                    }
                                                </div>

                                                @foreach (var Nara in Respond ?? new List<DetailsSurvey>())
                                                {
                                                    for (int u = 0; u < Nara.DS.Count; u++)
                                                    {
                                                        int _listN = u;
                                                        <div id="chardAnswer@_listN" class="d-none">
                                                            @for (int w = 0; w < Nara.DS[u].DS1.Count; w++)
                                                            {
                                                                <div class="input-group">
                                                                    <div class="col-md-8">
                                                                        <textarea class="form-control mb-3" placeholder="Question">@Nara.DS[u].DS1[w].SVY_Question</textarea>
                                                                        <div id="@_listN">
                                                                            <div id="@_listN">
                                                                                <ul>
                                                                                    <li>@Nara.DS[u].DS1[w].SVY_DescAnswer</li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                            }
                                                        </div>
                                                    }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
<script>
    function Question() {
        $("#DetailsQuest").removeClass("d-none");
        $("#DetailsRespond").addClass("d-none");
        $("#Respond").removeClass("active");
        $("#Question").addClass("active");
    }

    function Respond() {
        $("#DetailsRespond").removeClass("d-none");
        $("#DetailsQuest").addClass("d-none");
        $("#Question").removeClass("active");
        $("#Respond").addClass("active");

        var data = @Html.Raw(Json.Encode(ViewBag.Narasumber));
         $("#Quest").removeClass("d-none");
        for (var t = 0; t < data[0].DS.length; t++) {
                $("#chardAnswer" + t).addClass("d-none");
        }
        }

    function Show_Answer(e) {
        var data = @Html.Raw(Json.Encode(ViewBag.Narasumber));
        for (var t = 0; t < data[0].DS.length; t++) {
            if (t == e) {
                $("#Quest").addClass("d-none");
                $("#chardAnswer" + t).removeClass("d-none");
            } else {
                $("#chardAnswer" + t).addClass("d-none");
            }
        }
        }
</script>
