﻿@model b2bWeb.Models.rowsSurvey

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <input class="form-control" type="text" id="periode" name="periode" value="" placeholder="periode" size="21" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataTrSurvey", "TrSurvey")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           data-query-params="queryParams"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatterDetailsOnly" data-events="operateEvents">DETAILS</th>
                                <th data-field="@Html.DisplayNameFor(m => m.SVY_IsActive)" data-formatter="ToYesNo">ACTIVE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.SVY_Subject)">SUBJECT</th>
                                <th data-field="@Html.DisplayNameFor(m => m.SVY_Desc)">NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.SVY_End)" data-formatter="ToDateOnly">DEADLINE</th>                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("_ScriptTable"); }

<script>
    window.operateEvents = {
        'click .details': function (e, value, row, index) {
            console.log(row);
            window.location = "TrSurvey/DetailsSurvey/" + row.SVY_ID;
        }
    }
</script>