﻿@model b2bWeb.Models.rowsRecurring


<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <span class="input-group-btn">
                            <a class="btn btn-outline-primary create" href="javascript:void(0)">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add
                            </a>
                        </span>
                        @*<span class="input-group-btn">
                            <a class="btn btn-outline-secondary import" href="javascript:void(0)">
                                <i class="fa fa-upload"></i>&nbsp;Import
                            </a>
                        </span>
                        <span class="input-group-btn">
                            <a class="btn btn-outline-success" href="@Url.Action("ExportToExcel", "Recurring")">
                                <i class="fa fa-download"></i>&nbsp;Excel
                            </a>
                        </span>*@
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataRecurring", "Recurring")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">ACTION</th>
                                @*<th data-field="@Html.DisplayNameFor(m => m.isac)" data-formatter="ToYesNo">ACTIVE</th>*@
                                <th data-field="@Html.DisplayNameFor(m => m.Repeat_Name)">NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Repeat_Type)">TYPE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Repeat_Every)">REPEAT EVERY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Repeat_On)">REPEAT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Repeat_insertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Repeat_InsertBy_Name)">INSERT BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Repeat_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Repeat_UpdateBy_Name)">UPDATE BY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_ScriptTable"); }

<!-- Modal Add & update -->
@*data-show-refresh="true"*@
<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Repeat_Name">Repeat Name</label>
                    <input type="text" class="form-control" id="Repeat_Name" name="Repeat_Name" placeholder="Name" autocomplete="off"/>                    
                    <input type="hidden" class="form-control" id="id" name="id" />
                    <p class="errorName text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="Repeat_Type">Repeat Type</label>
                    <select class="form-control selectpicker" id="Repeat_Type" name="Repeat_Type" title="choose">                        
                        <option value="Daily">Daily</option>
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                    </select>
                    <p class="errorRepeat text-danger d-none"></p>
                </div>

                <div class="d-none form-group" id="Every_Daily">
                    <label for="Repeat_Every">Repeat Every</label>
                    <input type="number" class="form-control" id="Repeat_Daily" name="Repeat_Every1" placeholder="Every" autocomplete="off" />
                    <p class="errorEvery text-danger d-none"></p>
                </div>

                <div class="d-none form-group" id="Every_Weekly">
                    <label for="Repeat_Every">Repeat Every</label>
                    <input type="number" class="form-control" id="Repeat_Weekly" name="Repeat_Every2" placeholder="Every" autocomplete="off" />
                    <p class="errorEvery text-danger d-none"></p>
                </div>

                <div class="d-none form-group" id="Every_Monthly">
                    <label for="Repeat_Every">Repeat Every</label>
                    <input type="number" class="form-control" id="Repeat_Monthly" name="Repeat_Every3" placeholder="Every" autocomplete="off" />
                    <p class="errorEvery text-danger d-none"></p>
                </div>

                <div class="d-none form-group" id="On_Monthly">
                    <label for="Repeat_On">On Date</label>
                    <br />
                    <div class="card">
                        <div class="card-body">
                            @for (int a = 1; a <= 31; a++)
                            {
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" name="RepeatOn_@a" id="RepeatOn_@a" type="checkbox" value="@a">
                                    <label class="form-check-label">@a</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="d-none form-group" id="On_Weekly">
                    <label for="Repeat_On">On Days</label>
                    <br />
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="day0" name="RepeatOn_1" value="0">
                                <label class="form-check-label" for="SUN">SUN</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="day1" name="RepeatOn_2" value="1">
                                <label class="form-check-label" for="MON">MON</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="day2" name="RepeatOn_3" value="2">
                                <label class="form-check-label" for="TUE">TUE</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="day3" name="RepeatOn_4" value="3">
                                <label class="form-check-label" for="WED">WED</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="day4" name="RepeatOn_5" value="4">
                                <label class="form-check-label" for="THU">THU</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="day5" name="RepeatOn_6" value="5">
                                <label class="form-check-label" for="FRI">FRI</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="day6" name="RepeatOn_7" value="6">
                                <label class="form-check-label" for="SAT">SAT</label>
                            </div>
                        </div>
                    </div>
                </div>
            @*<div id="active" class="form-group">
            <label>Active</label>
            <select class="form-control selectpicker" id="Role_IsActive" name="Role_IsActive" title="Select">
                <option value="true">Active</option>
                <option value="false">NonActive</option>
            </select>
        </div>*@
        </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-primary add" data-request-url="@Url.Action("AddUp", "Recurring")" type="button">
                    Submit
                </button>
                <button class="btn btn-primary addL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#e82323">
                <h5 class="modal-title text-white" id="exampleModalLabel">Delete @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="javascript:void(0)" role="form">
                <div class="modal-body">
                    <input id="idDel" type="hidden" class="form-control" name="id" value="">
                    Are you sure you want to delete @ViewBag.Title "<b><span id="nameDel"></span></b>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel!</button>
                    <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "Recurring")">Yes, delete it!</button>
                    <button class="btn btn-primary deleteL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
</script>
<script src="~/Scripts/data/Recurring.js"></script>