﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Index</title>

    <script src="~/Scripts/FormatTime.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Content/datepicker/css/datepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script src="~/Scripts/bootstrap-table-toolbar.min.js"></script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/export/bootstrap-table-export.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="~/Scripts/read-excel-file.min.js"></script>

    <style>
        .megamenu-li {
            position: static;
        }

        .megamenu {
            position: absolute;
            /*width: 100%;*/
            left: 100px;
            right: 100px;
            padding: 15px;
            /*background-color: #e8ebef;*/
        }

            .megamenu .dropdown-item {
                color: #070606;
            }

                .megamenu .dropdown-item:hover {
                    color: #000000;
                    background-color: #cecaca;
                }
    </style>
</head>
<body>

    <div class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container-fluid">
            @if (Session["Logo"] != null)
            {
                <a class="navbar-brand py-0" href="@Url.Action("Index", "Dashboard")">
                    <img src="@Session["Logo"]" width="30" height="30" class="d-inline-block rounded align-top" alt="">
                    @Session["Company_Name"]
                </a>
            }
            else
            {
                <a class="navbar-brand py-0" href="@Url.Action("Index", "Dashboard")">
                    <img src="~/Content/images/default-image.png" width="30" height="30" class="d-inline-block rounded align-top" alt="">
                    @Session["Company_Name"]
                </a>
            }
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (Session["CompanyID"] != null)
            {
                Html.RenderPartial("_Menu");
            }
        </div>
    </div>
    <br />
    <div class="container-fluid mb-5">
        @if (TempData["Success"] != null)
        {
            <script>
                swal("Success", "@TempData["Success"]", {
                        icon : "success",
                        buttons: false,
                        timer: 2500,
                    });
            </script>
        }

        @if (TempData["Error"] != null)
        {
            <script>
                swal("Failed!", "@TempData["Error"]", {
                        icon : "error",
                        buttons: false,
                        timer: 2500,
                    });
            </script>
        }

        @RenderBody()
    </div>
    <div class="mb-5"></div>
    <div class="container-fluid" style="background-color:#ffffff">
        <hr />
        <p class="text-center">
            &nbsp;Copyright <a href="https://goldeneye.id/">goldeneye.id</a> 2018&nbsp; <br />
            <a href="https://api.whatsapp.com/send?phone=6281299867899&text=hello%20Cinta%20ID" target="_blank">
                <img border="0" alt="whatsapp" src="https://www.aozata.com/wp-content/uploads/2019/01/iconfinder_whatsapp_287520.png" width="40" height="40">
            </a>
            &nbsp; hello@cinta.id &nbsp; +62 812-9986-7899
        </p>
    </div>
    @{ Html.RenderPartial("_Script"); }

    <script src="~/Content/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/ToExcel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>