﻿@using b2bWeb.Models
@{
    var Menu = ViewBag.HMenu as List<HeaderMenu> ?? new List<HeaderMenu>();
}

<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav">
        @foreach (var q in Menu ?? new List<HeaderMenu>())
        {
            if (q.Menu.Count > 5)
            {               
                <li class="nav-item dropdown megamenu-li" style="padding-left:1em">
                    <a class="nav-link dropdown-toggle py-0" href="" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@q.MHeader_Name</a>
                    <div class="dropdown-menu megamenu" aria-labelledby="dropdown02">
                        <div class="row text-uppercase">
                            @{
                                int _no = 0;
                                foreach (var r in q.Menu)
                                {

                                    if (_no >= 0 && _no < 5)
                                    {
                                        if ((Convert.ToInt32(Session["CompanyID"]) != 2 && r.Menu_Name.ToUpper() == "CURRENT STOCK") || (Convert.ToInt32(Session["CompanyID"]) != 3 && r.Menu_Name.ToUpper() == "CALL TARGET") || (Convert.ToInt32(Session["CompanyID"]) != 18 && r.Menu_Name.ToUpper() == "CALL TARGET"))
                                        {
                                            <div class="col-sm-6 col-lg-3">
                                                <a class="dropdown-item py-0" href="@Url.Action(r.Menu_Controller_Name, r.Menu_Controller)">@r.Menu_Name</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-6 col-lg-3">
                                                <a class="dropdown-item py-0" href="@Url.Action(r.Menu_Controller_Name, r.Menu_Controller)">@r.Menu_Name</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                        }

                                    }
                                    else if (_no > 6 && _no < 10)
                                    {
                                        if ((Convert.ToInt32(Session["CompanyID"]) != 2 && r.Menu_Name.ToUpper() == "CURRENT STOCK") || (Convert.ToInt32(Session["CompanyID"]) != 3 && r.Menu_Name.ToUpper() == "CALL TARGET") || (Convert.ToInt32(Session["CompanyID"]) != 18 && r.Menu_Name.ToUpper() == "CALL TARGET"))
                                        {
                                            <div class="col-sm-6 col-lg-3">
                                                <a class="dropdown-item py-0" href="@Url.Action(r.Menu_Controller_Name, r.Menu_Controller)">@r.Menu_Name</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-6 col-lg-3">
                                                <a class="dropdown-item py-0" href="@Url.Action(r.Menu_Controller_Name, r.Menu_Controller)">@r.Menu_Name</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                        }
                                    }
                                    else if (_no > 11 && _no < 15)
                                    {
                                        if ((Convert.ToInt32(Session["CompanyID"]) != 2 && r.Menu_Name.ToUpper() == "CURRENT STOCK") || (Convert.ToInt32(Session["CompanyID"]) != 3 && r.Menu_Name.ToUpper() == "CALL TARGET") || (Convert.ToInt32(Session["CompanyID"]) != 18 && r.Menu_Name.ToUpper() == "CALL TARGET"))
                                        {
                                            <div class="col-sm-6 col-lg-3">
                                                <a class="dropdown-item py-0" href="@Url.Action(r.Menu_Controller_Name, r.Menu_Controller)">@r.Menu_Name</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-6 col-lg-3">
                                                <a class="dropdown-item py-0" href="@Url.Action(r.Menu_Controller_Name, r.Menu_Controller)">@r.Menu_Name</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                        }
                                    }
                                    else if (_no > 16 && _no < 20)
                                    {
                                        if ((Convert.ToInt32(Session["CompanyID"]) != 2 && r.Menu_Name.ToUpper() == "CURRENT STOCK") || (Convert.ToInt32(Session["CompanyID"]) != 3 && r.Menu_Name.ToUpper() == "CALL TARGET") || (Convert.ToInt32(Session["CompanyID"]) != 18 && r.Menu_Name.ToUpper() == "CALL TARGET"))
                                        {
                                            <div class="col-sm-6 col-lg-3">
                                                <a class="dropdown-item py-0" href="@Url.Action(r.Menu_Controller_Name, r.Menu_Controller)">@r.Menu_Name</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-6 col-lg-3">
                                                <a class="dropdown-item py-0" href="@Url.Action(r.Menu_Controller_Name, r.Menu_Controller)">@r.Menu_Name</a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                        }
                                    }

                                    _no = +1;
                                }
                            }

                        </div>
                    </div>
                </li>
            }
            else if (q.Menu.Count == 1)
            {
                <li class="nav-item dropdown" style="padding-left:1em">
                    <a class="nav-link dropdown-toggle leftRgith mb-1 py-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@q.MHeader_Name</a>
                    <div class="dropdown-menu">
                        @foreach (var r in q.Menu)
                        {
                            <a class="dropdown-item text-uppercase py-0" href="@Url.Action(r.Menu_Controller_Name, r.Menu_Controller)">@r.Menu_Name</a>
                        }
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item dropdown" style="padding-left:1em">
                    <a class="nav-link dropdown-toggle leftRgith mb-1 py-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@q.MHeader_Name</a>
                    <div class="dropdown-menu">
                        @foreach (var r in q.Menu)
                        {
                            <a class="dropdown-item text-uppercase py-0" href="@Url.Action(r.Menu_Controller_Name, r.Menu_Controller)">@r.Menu_Name</a>
                            <div class="dropdown-divider"></div>
                        }
                    </div>
                </li>
            }

        }        
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
            <a class="btn btn-danger float-right" href="@Url.Action("LogOut", "Dashboard")">
                <i class="fa fa-sign-out"></i>&nbsp;Log Out
            </a>
        </li>
    </ul>
</div>
