﻿<script>
    var $table = $('#table')

    function imageFormatter(value, row) {
        if (value != null && value !== "tidak ada foto") {
            var A = '"' + value + '"';
            return "<a href='#' onclick='pop(" + A + ")'><img id='imageresource' src='" + value + "' width='30' height='30' /></a>";
        } else {
            return "<a href='#'><img id='imageresource' src='/Content/images/default-image.png' width='30' height='30' /></a>";
        }        
    }

    function imageFormatterSlideShow(value, row) {
        if (value != null && value !== "tidak ada foto") {
            var A = '"' + value + '"';
            return "<a href='#' onclick='pop(" + A + ")'><img id='imageresource' src='" + value + "' width='300' height='250' /></a>";
        } else {
            return "<a href='#'><img id='imageresource' src='/Content/images/default-image.png' width='300 height='250' /></a>";
        }        
    }

    function imageFormatterDisplay(value, row) {
        if (value != null) {
            //var A = '"' + value + '"';
            return "<a href='#' onclick='popDisplay(" + row + ")'><img id='imageresource' src='" + value + "' width='30' height='30' /></a>";
        }                
    }

    function To_H1(value, row) {
        var a = row.Opname_Stock - row.H1_Sales_from_lastOpname;
        return a;
    }
    
    function ToSisaStock(value, row) {
        var a = row.Opname_stock - row.Sales_Qty;
        return a;
    }

    function ToPercent(value, row) {
         if (value != null) {            
             var rounded = parseFloat(value).toFixed(2);
            return rounded + " %";
        }                
    }

    function DelivStatus(value, row) {
        if (value == true) {            
            return '<kbd class="bg-info">Sudah Diantar</kbd>';
        } else {
            return '<kbd class="bg-danger">Belum Diantar</kbd>';
        }        
    }

     function CallStatus(value, row) {
        if (value == true) {            
            return '<kbd class="bg-info">Sudah Ditagih</kbd>';
        } else {
            return '<kbd class="bg-danger">Belum Ditagih</kbd>';
        }        
    }    

    function ToDate(value, row) {
        if (value != null) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            var Result = ("0" + dt.getDate()).slice(-2) + "-" + ("0" + (dt.getMonth() + 1)).slice(-2) + "-" + dt.getFullYear() + " " + ("0" + dt.getHours()).slice(-2) + ":" + ("0" + dt.getMinutes()).slice(-2) + ":" + ("0" + dt.getSeconds()).slice(-2);

            if (Result == "01-01-1 06:42:04" || Result == "01-01-1 07:07:12") {
                return "-";
            } else {
                return Result;
            }
        } else {
            return "-";
        }        
    }

    function ToRp(value, row) {
        return convertToRupiah(value);
    }

    function ToLink(value, row) {
        if (value != null) {
            return "<a href='" + value + "' target='_blank'>" + value + "</a>";
        } else {
            return "-";
        }
    }

    function ToDateOnly(value, row) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        var Result = ("0" + dt.getDate()).slice(-2) + "-" + ("0" + (dt.getMonth() + 1)).slice(-2) + "-" + dt.getFullYear();

        if (Result == "01-01-1") {
            return "-";
        } else {
            return Result;
        }
    }

    function ToTime(value, row) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        var Result = ("0" + dt.getHours()).slice(-2) + ":" + ("0" + dt.getMinutes()).slice(-2);

        if (Result == "00:00") {
            return "-";
        } else {
            return Result;
        }
    }

    function ToDateMonthNameAndYear(value, row) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));

        var month = new Array();
        month[0] = "January";
        month[1] = "February";
        month[2] = "March";
        month[3] = "April";
        month[4] = "May";
        month[5] = "June";
        month[6] = "July";
        month[7] = "August";
        month[8] = "September";
        month[9] = "October";
        month[10] = "November";
        month[11] = "December";

        var Result = month[dt.getMonth()] + " " + dt.getFullYear();
        
        if (Result == "01-01-1") {
            return "-";
        } else {
            return Result;
        }
    }

    function ToYesNo(value, row) {
        if (value == true) {
            return '<kbd class="bg-info">Yes</kbd>';
        } else {
            return '<kbd class="bg-danger">No</kbd>';
        }
    }

    function ToOA(value, row) {
        if (value == true) {
            return '<kbd class="bg-dark">AREA</kbd>';
        } else {
            return '<kbd class="bg-secondary">OUTLET</kbd>';
        }
    }    

    function operateFormatter(value, row, index) {
        return [
            '<a class="btn-outline-success btn-sm like" data-toggle="modal" href="javascript:void(0)">',
            '<i class="fa fa-edit"></i>',
            '</a>',
            //'&nbsp;',
            '<a class="btn-outline-danger btn-sm remove" data-toggle="modal" href="javascript:void(0)">',
            '<i class="fa fa-trash"></i>',
            '</a>'
        ].join('')
    }

    function operateFormatterArea(value, row, index) {
        return [
            '<a class="btn-outline-success btn-sm like" id="like'+row.Area_ID+'" data-toggle="modal" href="javascript:void(0)">',
            '<i class="fa fa-edit"></i>',
            '</a>',
            '<button class="btn-success d-none" id="likeL'+row.Area_ID+'" type="button" disabled>',
            '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>',
            'Loading...',
            '</button>',
            //'&nbsp;',
            '<a class="btn-outline-danger btn-sm remove" data-toggle="modal" href="javascript:void(0)">',
            '<i class="fa fa-trash"></i>',
            '</a>'
        ].join('')
    }
        
    function operateFormatterOutlet(value, row, index) {
        return [
            '<a class="btn-outline-success btn-sm like" id="like'+row.Outlet_ID+'" data-toggle="modal" href="javascript:void(0)">',
            '<i class="fa fa-edit"></i>',
            '</a>',
            '<button class="btn-success d-none" id="likeL'+row.Outlet_ID+'" type="button" disabled>',
            '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>',
            'Loading...',
            '</button>',
            //'&nbsp;',
            '<a class="btn-outline-danger btn-sm remove" data-toggle="modal" href="javascript:void(0)">',
            '<i class="fa fa-trash"></i>',
            '</a>'
        ].join('')
    }

    function operateFormatterDetails(value, row, index) {        
        return [
            '<a class="btn-outline-success btn-sm like" data-toggle="modal" href="javascript:void(0)">',
            '<i class="fa fa-edit"></i>',
            '</a>',
            //'&nbsp;',
            '<a class="btn-outline-danger btn-sm remove" data-toggle="modal" href="javascript:void(0)">',
            '<i class="fa fa-trash"></i>',
            '</a>',
            //'&nbsp;',
            '<a class="btn-outline-dark btn-sm details" data-toggle="modal" href="javascript:void(0)">',
            '<i class="fa fa-eye"></i>',
            '</a>'
        ].join('')
    }

    function operateFormatterDetailsOnly(value, row, index) {        
        return [            
            '<a class="btn-outline-dark btn-sm details" data-toggle="modal" href="javascript:void(0)">',
            '<i class="fa fa-eye"></i>',
            '</a>'
        ].join('')
    }

    function operateFormatterDisplay(value, row, index) {        
        return [            
            '<a class="Display" data-toggle="modal" href="javascript:void(0)">',
            '<img id="imageresource" src="' + row.Planogram_Image + '" width="30" height="30" />',
            '</a>'            
        ].join('')
    }
</script>