﻿<div class="modal fade" id="modal_preview_Image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6183ff;">
                <h4 class="modal-title" id="myModalLabel" style="color: #ffffff">Image Preview</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <img src="" class="rounded mx-auto d-block" id="imagepreviewImage" style="width: 400px; height: 350px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@*<script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5af9e40b227d3d7edc254eaa/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>*@

<script>
    $(document).ready(function () {
        $(".megamenu").on("click", function (e) {
            e.stopPropagation();
        });
    });
</script>


<script>
    $(document).ready(function () {
        $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
            var $el = $(this);
            var $parent = $(this).offsetParent(".dropdown-menu");
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            }
            var $subMenu = $(this).next(".dropdown-menu");
            $subMenu.toggleClass('show');

            $(this).parent("li").toggleClass('show');

            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                $('.dropdown-menu .show').removeClass("show");
            });

            if (!$parent.parent().hasClass('navbar-nav')) {
                $el.next().css({ "top": $el[0].offsetTop, "left": $parent.outerWidth() - 4 });
            }

            return false;
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#image_excel").change(function () {
            var selectedCountry = $(this).children("option:selected").val();
            if (selectedCountry == "true") {
                $("#image_value").text("Proses akan memakan waktu cukup lama...");
            } else {
                $("#image_value").text("");
            }
        });
    });

    function excel_date() {
        $('#startDate').val("");
        $('#endDate').val("");
        $("#image_excel").prop("selectedIndex", 2);
        $("#image_value").text("");
        $('#myModal_excel').modal('show');
    }

    function myFunction() {
        var x = document.getElementById("inputan").value;

        if (x != "") {
            $("#pilih").prop('required', true);
        } else {
            $("#pilih").prop('required', false);
            $('#pilih option[value="0"]').attr('selected', "selected");
        }
    }

    function pop(id) {
        //$(".modal-title").text('Image Preview');
        $('#modal_preview_Image').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
        $('#imagepreviewImage').attr('src', id); // here asign the image to the modal when the user click the enlarge link
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#Images_Item')
                    .attr('src', e.target.result)
                    .width(200)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURLPromo1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#ImagesPromosi_File1').attr('src', e.target.result).width(200).height(200);
                $('#Promosi_File1').val(e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function readURLPromo2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#ImagesPromosi_File2').attr('src', e.target.result).width(200).height(200);
                $('#Promosi_File2').val(e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    function beginPaging(args) {
        // Animate
        $('#grid-list').fadeOut('normal');
    }

    function successPaging() {
        // Animate
        $('#grid-list').fadeIn('normal');
        $('a').tooltip();
    }

    function failurePaging() {
        alert("Could not retrieve list.");
    }

    $(function () {
        $('#startDate').datepicker({
            //changeMonth: true,
            //changeYear: true,
            //showButtonPanel: true,
        });

        $('#endDate').datepicker({
            //changeMonth: true,
            //changeYear: true,
            //showButtonPanel: true,
        });

        $('#Inv_DueDate').datepicker({
            //changeMonth: true,
            //changeYear: true,
            //showButtonPanel: true,
            //todayBtn: "linked"
        });

        $('#DO_Transdate').datepicker({
            //changeMonth: true,
            //changeYear: true,
            //showButtonPanel: true,
        });

        $('#commonDate').datepicker({
            //format: 'dd/mm/yyyy'
        });

        $(function () {
            $('#commonTime').datetimepicker({
                //format: 'LT'
                //use24hours: true
                format: 'HH:mm'
            });
        });
    });

    function ToJavaScriptDateA(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        var result = ("0" + (dt.getMonth() + 1)).slice(-2) + "/" + ("0" + dt.getDate()).slice(-2) + "/" + dt.getFullYear();
        if (result == "01/01/1") {
            return "";
        } else {
            return result;
        }
    }

    function ToMonthYear(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return ("0" + (dt.getMonth() + 1)).slice(-2) + "/" + dt.getFullYear();
    }

    function ToMonthNameAndYear(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));

        var month = new Array();
        month[0] = "January";
        month[1] = "February";
        month[2] = "March";
        month[3] = "April";
        month[4] = "May";
        month[5] = "June";
        month[6] = "July";
        month[7] = "August";
        month[8] = "September";
        month[9] = "October";
        month[10] = "November";
        month[11] = "December";

        var Result = month[dt.getMonth()] + " " + dt.getFullYear();
        return Result;
    }

    function convertToRupiah(angka) {
        if (angka != null) {
            var rupiah = '';
            var D = angka.toString().split('.')[0];
            var angkarev = D.toString().split('').reverse().join('');
            for (var i = 0; i < angkarev.length; i++) if (i % 3 == 0) rupiah += angkarev.substr(i, 3) + '.';
            return 'Rp' + rupiah.split('', rupiah.length - 1).reverse().join('') + ',00';
        } else {
            return "-";
        }
    }

    function ToTimeOnly(angka) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(angka);
        var dt = new Date(parseFloat(results[1]));
        var Result = ("0" + (dt.getHours())).slice(-2) + ":" + ("0" + (dt.getMinutes())).slice(-2);

        if (Result == "00:00") {
            return "-";
        } else {
            return Result;
        }
    }


    $(document).ready(function () {
        //apply on typing and focus
        $('input.rupiah').on('blur', function () {
            $(this).manageCommas();
        });
        //then sanatize on leave
        // if sanitizing needed on form submission time,
        //then comment beloc function here and call in in form submit function.
        $('input.rupiah').on('focus', function () {
            $(this).santizeCommas();
        });
    });

    String.prototype.addComma = function () {
        return this.replace(/(.)(?=(.{3})+$)/g, "$1,").replace(',.', '.');
    }
    //Jquery global extension method
    $.fn.manageCommas = function () {
        return this.each(function () {
            $(this).val($(this).val().replace(/(,|)/g, '').addComma());
        });
    }

    $.fn.santizeCommas = function () {
        return $(this).val($(this).val().replace(/(,| )/g, ''));
    }
</script>
<script>
    $(document).ready(function () {
        $("#dateMonth").datepicker({
            format: "mm/yyyy",
            viewMode: "months",
            minViewMode: "months"
        });
    });
</script>
<script>
    function queryParams(params) {
        params.filter = $("#periode").val()
        return params
    }

    $(function () {
        $('#periode').daterangepicker({
            opens: 'left',
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });

        $('#periode').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            $(".pagination li:nth-child(2)").click();
            $table.bootstrapTable('refresh');
        });

        $('#periode').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
            $(".pagination li:nth-child(2)").click();
            $table.bootstrapTable('refresh');
        });

        $('.applyBtn').on('click', function () {
            var input = $("#periode");
            var len = input.val().length;
            input.val(input.val());

            setCaretPosition("periode", len);
        })

        function setCaretPosition(elemId, caretPos) {
            var el = document.getElementById(elemId);

            if (el !== null) {

                if (el.createTextRange) {
                    var range = el.createTextRange();
                    range.move('character', caretPos);
                    range.select();
                    return true;
                }

                else {
                    if (el.selectionStart || el.selectionStart === 0) {
                        el.focus();
                        el.setSelectionRange(caretPos, caretPos);
                        return true;
                    }

                    else { // fail city, fortunately this never happens (as far as I've tested) :)
                        el.focus();
                        return false;
                    }
                }
            }
        }
    });
</script>
<script>
    function queryParamss(params) {
        params.filter = $("#PeriodeMonth").val()
        return params
    }

    $(document).ready(function () {
        $('input[name="PeriodeMonth"]').datepicker({
            format: "mm/yyyy",
            viewMode: "months",
            minViewMode: "months"
        }).on('changeDate', function (ev) {
            $("#PeriodeMonth").val(convert(ev.date));
            $(".pagination li:nth-child(2)").click();
            $table.bootstrapTable('refresh');
            $(this).datepicker('hide');
        });

        function convert(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            return [mnth, date.getFullYear()].join("/");
        }
    });
</script>