﻿@using b2bWeb.Models
@{
    var Employee = ViewBag.Employee;
}

<style>
    #directions-panel {
        margin-top: 10px;
        background-color: #f8f8f6;
        padding: 10px;
        overflow: scroll;
        height: 480px;
    }
</style>

<div class="row mb-2">
    <div class="col-md-9">
        <br />
        <div id="MapNol" style="height:550px;width:100%;" class="d-none">
            <div class="d-flex justify-content-center"><h5>Upps, data tidak ditemukan...</h5></div>
        </div>

        <div id="Map" style="height:550px;width:100%;">
        </div>
        <br />
    </div>
    <div class="col-md-3">        
        <p>Route Optimize for :</p>
        <div class="input-group">
            <select class="form-control selectpicker" data-live-search="true" id="name1" name="name1" onchange="find1()">
                <option value="">Select Employee</option>
                @foreach (var E in Employee ?? new List<Employee>())
                {
                    if (Convert.ToString(ViewData["name2"]) == Convert.ToString(E.Employee_NIK))
                    {
                        <option value="@E.Employee_NIK-@Session["CompanyID"]-2" selected>@E.Employee_Name.ToUpper()</option>
                    }
                    else
                    {
                        <option value="@E.Employee_NIK-@Session["CompanyID"]-2">@E.Employee_Name.ToUpper()</option>
                    }
                }
            </select>
        </div>
        <div id="directions-panel"></div>
    </div>
</div>
<script>
    var map;
    function initMapp() {
        map = new google.maps.Map(document.getElementById('Map'), {
            center: { lat: -6.2293867, lng: 106.6894293 },
            zoom: 6
        });
    }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKDtW47ZKzT5JPduQvi3gUFNHNZmXk-FU&callback=initMapp"></script>
<script>
    function find1() {
        var data = document.getElementById("name1").value;
        window.location.href = "/RouteOptimize/index?name1=" + data;
    }
</script>
<script type="text/javascript">
    var markers = @Html.Raw(ViewBag.Data);
     if (markers.Message == "Data not found") {
        $("#MapNol").removeClass("d-none");
        $("#Map").addClass("d-none");
        $("#directions-panel").empty();
    }

    ListData(markers);

    window.onload = function () {
        var mapOptions = {
            center: new google.maps.LatLng(markers[0].lat.toString(), markers[0].lng.toString()),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.roadmap
        };

        var infoWindow = new google.maps.InfoWindow();
        var bounds = new google.maps.LatLngBounds();
        var polygons = [];
        var arr = new Array();
        var map = new google.maps.Map(document.getElementById("Map"), mapOptions);

            arr = [];
            for (var j = 0; j < markers.length; j++) {

                arr.push(new google.maps.LatLng(
                    parseFloat(markers[j].lat),
                    parseFloat(markers[j].lng)
                ));

                bounds.extend(arr[arr.length - 1])
            }

            // Construct the polygon.
            polygons.push(new google.maps.Polyline({
                path: arr,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35
            }));
            polygons[polygons.length - 1].setMap(map);

        map.fitBounds(bounds);

        console.log(markers);
        for (i = 0; i < markers.length; i++) {

                    var image = {
                        url: 'https://foodiegost17.blob.core.windows.net/icons/pinmaps/oke4.png',
                        scaledSize: new google.maps.Size(40, 40),
                    };

            var no = i + 1;
            var labelny = {
                color: '#fff', fontSize: '12px',
                text: no.toString(),
            };

                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    icon: image,
                    map: map,
                    title: data.Outlet_Name,
                    label: labelny
                });

                (function (marker, data) {
                    google.maps.event.addListener(marker, "mouseover", function (e) {
                        infoWindow.setContent('<div>' +
                            'Outlet = <strong>' + data.Outlet_Code + '</strong><br>' +
                            'Outlet = <strong>' + data.Outlet_Name + '</strong><br>' +
                        '</div>');
                        infoWindow.open(map, marker);
                    });

                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent('<div>' +
                            'Outlet = <strong>' + data.Outlet_Code + '</strong><br>' +
                            'Outlet = <strong>' + data.Outlet_Name + '</strong><br>' +
                            '</div>');
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }

    function ListData(markers) {
        if (markers.length > 0) {
            console.log(markers);

                var route = markers;
                var summaryPanel = document.getElementById('directions-panel');
                summaryPanel.innerHTML = '';

                for (var i = 0; i < route.length; i++) {
                    var convert = route[i].Distance_Between.split("|");
                    summaryPanel.innerHTML += 'Route : From <b>' + convert[0].toUpperCase() + '</b> To <b>' + convert[1].toUpperCase() +
                        '</b><br>';
                    summaryPanel.innerHTML += ' Distance : <b>' + route[i].Distance + '</b><br>';
                    summaryPanel.innerHTML += ' Duration : <b>'+ route[i].Duration+'</b><br><hr>';
                }
            } else {
                console.log("no data");
                $("#directions-panel").empty();
            }
        }
</script>
