﻿@model b2bWeb.Models.rowsPlanogram

<style>
    .datepicker {
        z-index: 1600 !important; /* has to be larger than 1050 */
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <div class="form-inline" role="form">
                            <span class="input-group-btn">
                                <a href="#" class="btn btn-outline-success my-2 my-sm-0" onclick="excel_date();">
                                    <i class="fa fa-download"></i>&nbsp;Excel
                                </a>
                            </span>
                            &nbsp;
                            <div class="form-group">
                                <input class="form-control" type="text" id="periode" name="periode" value="" placeholder="periode" size="21" autocomplete="off" />
                            </div>
                        </div>                        
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataPlanogram", "Planogram")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           data-query-params="queryParams"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="@Html.DisplayNameFor(m => m.Employee_Name)">NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Name)">OUTLET</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Area_Name)">AREA</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Respond_Module)">RESPOND</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Planogram_Desc)">DESC</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Planogram_Image)" data-formatter="operateFormatterDisplay" data-events="operateEvents">IMAGE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Planogram_Tier)">TIER</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Planogram_InsertOn)" data-formatter="ToDateOnly">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Planogram_UpdateOn)" data-formatter="ToDateOnly">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Planogram_Isdelete)" data-formatter="ToYesNo">DELETE</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_ScriptTable"); }

<div class="modal fade" id="myModal_excel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6183ff;">
                <h5 class="modal-title" id="myModalLabel" style="color: #ffffff">Export to Excel @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            @using (Html.BeginForm("ExportToExcel", "Planogram", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="text-uppercase">Start Date</label>
                        <div>
                            <input type="text" class="form-control" id="startDate" name="startDate" required autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="text-uppercase">End Date</label>
                        <div>
                            <input type="text" class="form-control" id="endDate" name="endDate" required autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">IMAGE</label>
                        <select class="custom-select" id="image_excel" name="image" required autocomplete="off">
                            <option value="">Select</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        <span id="image_value" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success ex">Excel</button>
                    <button class="btn btn-primary exL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    window.operateEvents = {
        'click .Display': function (e, value, row, index) {            
            $('#DisplayModal').modal('show');
            
            if (row.Planogram_Image != null && row.Planogram_Image !== "tidak ada foto") {
                $('#Planogram_Image').attr('src', row.Planogram_Image);
            } else {
                $('#Planogram_Image').attr('src', "/Content/images/default-image.png");
            }

            if (row.Planogram_Image2 != null && row.Planogram_Image2 !== "tidak ada foto") {
                $('#Planogram_Image2').attr('src', row.Planogram_Image2);
            } else {
                $('#Planogram_Image2').attr('src', "/Content/images/default-image.png");
            }

            if (row.Planogram_Image3 != null && row.Planogram_Image3 !== "tidak ada foto") {
                $('#Planogram_Image3').attr('src', row.Planogram_Image3);
            } else {
                $('#Planogram_Image3').attr('src', "/Content/images/default-image.png");
            }

            if (row.Planogram_Image4 != null && row.Planogram_Image4 !== "tidak ada foto") {
                $('#Planogram_Image4').attr('src', row.Planogram_Image4);
            } else {
                $('#Planogram_Image4').attr('src', "/Content/images/default-image.png");
            }

            if (row.Planogram_Image5 != null && row.Planogram_Image5 !== "tidak ada foto") {
                $('#Planogram_Image5').attr('src', row.Planogram_Image5);
            } else {
                $('#Planogram_Image5').attr('src', "/Content/images/default-image.png");
            }
        }
    }

</script>

<!-- Modal -->
<div class="modal fade" id="DisplayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Image Preview
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-deck">
                    <div class="card text-center">
                        <br />
                        <p class="text-center"><img id="Planogram_Image" src="" class="card-img-top" style="width:160px;height:180px;" alt=""></p>
                        <div class="card-body text-center">
                            <span class="card-text"><b>Display 1</b></span><br />
                        </div>
                        <br />
                    </div>

                    <div class="card text-center">
                        <br />
                        <p class="text-center"><img id="Planogram_Image2" src="" class="card-img-top" style="width:160px;height:180px;" alt=""></p>
                        <div class="card-body text-center">
                            <span class="card-text"><b>Display 2</b></span><br />
                        </div>
                        <br />
                    </div>

                    <div class="card text-center">
                        <br />
                        <p class="text-center"><img id="Planogram_Image3" src="" class="card-img-top" style="width:160px;height:180px;" alt=""></p>
                        <div class="card-body text-center">
                            <span class="card-text"><b>Display 3</b></span><br />
                        </div>
                        <br />
                    </div>

                    <div class="card text-center">
                        <br />
                        <p class="text-center"><img id="Planogram_Image4" src="" class="card-img-top" style="width:160px;height:180px;" alt=""></p>
                        <div class="card-body text-center">
                            <span class="card-text"><b>Display 4</b></span><br />
                        </div>
                        <br />
                    </div>

                    <div class="card text-center">
                        <br />
                        <p class="text-center"><img id="Planogram_Image5" src="" class="card-img-top" style="width:160px;height:180px;" alt=""></p>
                        <div class="card-body text-center">
                            <span class="card-text"><b>Display 5</b></span><br />
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>