﻿@using MvcPaging
@model IPagedList<b2bWeb.Models.Pay>

@using b2bWeb.Models

<div class="table-responsive text-nowrap mb-1">
    <table class="table table-bordered table-sm table-hover">
        <thead>
            <tr class="table-active text-uppercase">
                @*<th>Pay_ID</th>*@
                <th>Code</th>
                <th>Transdate</th>
                <th>Periode</th>
                <th>Type</th>
                <th>Insert On</th>
                <th>Insert By</th>
                <th>Update On</th>
                <th>Update By</th>                
            </tr>
        </thead>
        <tbody>
            @{

                foreach (var item in Model)
                {
            <tr>
                @*<td>@item.Paid_ID</td>*@
                <td>@item.Paid_Code</td>
                <td>@item.Paid_Transdate.ToString("dd-MM-yyyy")</td>
                <td>@item.Paid_Periode.ToString("dd-MM-yyyy")</td>
                <td>@item.Paid_Type</td>
                <td>@item.Paid_InsertOn.ToString("dd-MM-yyyy HH:mm:ss")</td>
                <td>@item.Pay_InsertBy_Name</td>
                <td>
                    @if (item.Paid_UpdateOn.ToString("dd-MM-yyyy HH:mm:ss") == "01-01-0001 00:00:00")
                    {
                        <span>-</span>
                    }
                    else
                    {
                        @item.Paid_UpdateOn.ToString("dd-MM-yyyy HH:mm:ss")
                    }
                </td>
                <td>@item.Pay_UpdateBy_Name</td>                
            </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="alert alert-dismissible alert-dark" role="alert">
    <div class="pagination pagination-large light-theme">
        @Html.Raw(Ajax.Pager(
                new Options
                {
                    PageSize = Model.PageSize,
                    TotalItemCount = Model.TotalItemCount,
                    CurrentPage = Model.PageNumber,
                    ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "" },
                    ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                    TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
                    Size = Size.small,
                    Alignment = Alignment.right,
                    IsShowControls = true,
                    IsShowFirstLast = true,
                    IsShowPages = true,
                    CssClass=""
                },
                new AjaxOptions
                {
                    UpdateTargetId = "grid-list",
                    OnBegin = "beginPaging",
                    OnSuccess = "successPaging",
                    OnFailure = "failurePaging"
                }, new { controller = "Pay", action = "Index", role_name = ViewData["Pay"] }))
    </div>

    <p>
        Showing <span class="badge badge-success">@Model.ItemStart</span> to <span class="badge badge-success">@Model.ItemEnd</span>
        of <span class="badge badge-info">@Model.TotalItemCount</span> entries
    </p>
</div>

<link href="~/Content/paging.css" rel="stylesheet" type="text/css" />



