﻿@model b2bWeb.Models.rowsPay

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">                    
                    <table id="table"
                           data-toggle="table"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataPay", "Pay")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="@Html.DisplayNameFor(m => m.Paid_Code)">CODE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Paid_Transdate)" data-formatter="ToDateOnly">TRANSDATE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Paid_Periode)" data-formatter="ToDateMonthNameAndYear">PERIODE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Paid_Type)">TYPE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Paid_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Pay_InsertBy_Name)">INSERT BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Paid_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Pay_UpdateBy_Name)">UPDATE BY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_ScriptTable"); }