﻿    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-transparent">@ViewBag.Title</div>
                <div class="card-body">
                    <div class="table-responsive text-nowrap mb-1">                       
                        <embed src="~/PDF/B2B Guidance for Admin.pdf" type="application/pdf" height="700px" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>