﻿@using b2bWeb.Models
@{
    var Employee = ViewBag.Employee;
}

@using (Html.BeginForm("Index", "Map", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row mb-2">
        <div class="col-md-4">
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">Start Date</label>
                <div class="col-sm-9">
                    <input class="form-control" id="startDate" type="text" name="StartDate" value="@ViewBag.StartDate">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label">End Date</label>
                <div class="col-sm-9">
                    <input class="form-control" id="EndDate" type="text" name="EndDate" value="@ViewBag.EndDate">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <select class="form-control selectpicker" data-live-search="true" id="name" name="name">
                    <option value="">Select Employee</option>
                    @foreach (var E in Employee ?? new List<Employee>())
                    {
                        if (Convert.ToString(ViewData["name"]) == Convert.ToString(E.Employee_Name))
                        {
                            <option value="@E.Employee_Name" selected>@E.Employee_Name.ToUpper()</option>
                        }
                        else
                        {
                            <option value="@E.Employee_Name">@E.Employee_Name.ToUpper()</option>
                        }
                    }
                </select>
                &nbsp;
                <span class="input-group-btn">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                        <i class="fa fa-search"></i>&nbsp;Search
                    </button>
                </span>
            </div>
        </div>
    </div>
}
@if (ViewBag.Yes == "no")
{
    <br />
    <div style="height:500px;width:100%;">
        <div class="d-flex justify-content-center"><h5>Upps, data tidak ditemukan...</h5></div>
    </div>
}
else
{
    <div id="Map" style="height:500px;width:100%;">
    </div>
}
<br />

<div>
    <div class="d-flex justify-content-center">
        <ul class="list-group list-group-horizontal-xl">
            <li class="list-group-item text-sm-center">
                <span style="font-size:13px"><img src="https://foodiegost17.blob.core.windows.net/icons/pinmaps/oke1.png" style="width:25px;height:27px;" /> = YBS telah melakukan <b>1-10</b> checkin</span>
            </li>
            <li class="list-group-item text-sm-center">
                <span style="font-size:13px"><img src="https://foodiegost17.blob.core.windows.net/icons/pinmaps/oke2.png" style="width:25px;height:27px;" /> = YBS telah melakukan <b>11-20</b> checkin</span>
            </li>
            <li class="list-group-item text-sm-center">
                <span style="font-size:13px"><img src="https://foodiegost17.blob.core.windows.net/icons/pinmaps/oke3.png" style="width:25px;height:27px;" /> = YBS telah melakukan <b>21-30</b> checkin</span>
            </li>
            <li class="list-group-item text-sm-center">
                <span style="font-size:13px"><img src="https://foodiegost17.blob.core.windows.net/icons/pinmaps/oke4.png" style="width:25px;height:27px;" /> = YBS telah melakukan <b>31-&infin;</b> checkin</span>
            </li>
        </ul>
    </div>    
</div>
    


    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKDtW47ZKzT5JPduQvi3gUFNHNZmXk-FU"></script>
    <script type="text/javascript">
    var markers = @Html.Raw(ViewBag.Markers);
    var Head = @Html.Raw(ViewBag.DisNo);
    var Oke = @Html.Raw(ViewBag.MapJos);

    window.onload = function () {
        var mapOptions = {
            center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.roadmap
        };

        var infoWindow = new google.maps.InfoWindow();
        var bounds = new google.maps.LatLngBounds();
        var polygons = [];
        var arr = new Array();
        var map = new google.maps.Map(document.getElementById("Map"), mapOptions);
        var coordinates = Oke;

        for (var i in coordinates) {
            arr = [];
            for (var j = 0; j < coordinates[i].LatLng.length; j++) {

                arr.push(new google.maps.LatLng(
                    parseFloat(coordinates[i].LatLng[j].lat),
                    parseFloat(coordinates[i].LatLng[j].lng)
                ));

                bounds.extend(arr[arr.length - 1])
            }

            // Construct the polygon.
            polygons.push(new google.maps.Polyline({
                path: arr,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35
            }));
            polygons[polygons.length - 1].setMap(map);
        }
        map.fitBounds(bounds);


        for (i = 0; i < markers.length; i++) {
                if (markers[i].number > 0 && markers[i].number <= 10) {
                    var image = {
                        url: 'https://foodiegost17.blob.core.windows.net/icons/pinmaps/oke1.png',
                        scaledSize: new google.maps.Size(40, 40),
                    };

                    var labelny = {
                        color: '#fff', fontSize: '12px',
                        text: markers[i].number,
                    };
                }
                else if (markers[i].number > 11 && markers[i].number <= 20) {
                    var image = {
                        url: 'https://foodiegost17.blob.core.windows.net/icons/pinmaps/oke2.png',
                        scaledSize: new google.maps.Size(40, 40),
                    };

                    var labelny = {
                        color: '#fff', fontSize: '12px',
                        text: markers[i].number,
                    };

                } else if (markers[i].number > 21 && markers[i].number <= 30) {
                    var image = {
                        url: 'https://foodiegost17.blob.core.windows.net/icons/pinmaps/oke3.png',
                        scaledSize: new google.maps.Size(40, 40),
                    };

                    var labelny = {
                        color: '#fff', fontSize: '12px',
                        text: markers[i].number,
                    };
                } else if (markers[i].number > 31) {
                    var image = {
                        url: 'https://foodiegost17.blob.core.windows.net/icons/pinmaps/oke4.png',
                        scaledSize: new google.maps.Size(40, 40),
                    };

                    var labelny = {
                        color: '#fff', fontSize: '12px',
                        text: markers[i].number,
                    };
                }

                var data = markers[i]
                var myLatlng = new google.maps.LatLng(data.lat, data.lng);
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    icon: image,
                    map: map,
                    title: data.title,
                    label: labelny
                });

                (function (marker, data) {
                    google.maps.event.addListener(marker, "mouseover", function (e) {
                        infoWindow.setContent('<div>' +
                            '<p class="text-center"><img class="rounded" src="' + data.Visit_Image + '" style="width:150px;height:170px;"></p>'+
                            '<p class="text-center"><u><strong>' + data.Employee_Name + '</strong></u></p>' +
                            'Date = <strong>' + data.Date + '</strong><br>' +
                            'Outlet = <strong>' + data.Outlet_Name + '</strong><br>' +
                            'Visit Checkin = <strong>' + data.Visit_Checkin + '</strong><br>' +
                            'Visit Checkout = <strong>' + data.Visit_Checkout + '</strong><br>' +
                        '</div>');
                        infoWindow.open(map, marker);
                    });

                    google.maps.event.addListener(marker, "click", function (e) {
                        infoWindow.setContent('<div>' +
                            '<p class="text-center"><img class="rounded" src="' + data.Visit_Image + '" style="width:150px;height:170px;"></p>' +
                            '<p class="text-center"><u><strong>' + data.Employee_Name + '</strong></u></p>' +
                            'Date = <strong>' + data.Date + '</strong><br>' +
                            'Outlet = <strong>' + data.Outlet_Name + '</strong><br>' +
                            'Visit Checkin = <strong>' + data.Visit_Checkin + '</strong><br>' +
                            'Visit Checkout = <strong>' + data.Visit_Checkout + '</strong><br>' +
                            '</div>');
                        infoWindow.open(map, marker);
                    });
                })(marker, data);
            }
        }
    </script>
    <script>
        $(function () {
            $('#startDate').datepicker({
                //dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
            });

            $('#EndDate').datepicker({
                //dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
            });
        });
    </script>
