﻿@model b2bWeb.Models.rowsArea
@using b2bWeb.Models
@{
    var District = ViewBag.District as List<AutoComplete> ?? new List<AutoComplete>();
}
@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBKDtW47ZKzT5JPduQvi3gUFNHNZmXk-FU&libraries=places"></script>
    <style type="text/css">
        .pac-container {
            background-color: #FFF;
            z-index: 1050 !important;
            position: fixed;
            display: inline-block;
            float: left;
        }

        .modal {
            z-index: 20;
        }

        .modal-backdrop {
            z-index: 10;
        }

        .input-controls {
            margin-top: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #searchInput {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 50%;
        }

            #searchInput:focus {
                border-color: #4d90fe;
            }
    </style>*@

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <span class="input-group-btn">
                            <a class="btn btn-outline-primary create" href="javascript:void(0)">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add
                            </a>
                            <button class="btn btn-primary createL d-none" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>
                        </span>
                        <span class="input-group-btn">
                            <a class="btn btn-outline-secondary import" href="javascript:void(0)">
                                <i class="fa fa-upload"></i>&nbsp;Import
                            </a>
                        </span>
                        <span class="input-group-btn">
                            <a class="btn btn-outline-success" href="@Url.Action("ExportToExcel", "Area")">
                                <i class="fa fa-download"></i>&nbsp;Excel
                            </a>
                        </span>
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataArea", "Area")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatterArea" data-events="operateEvents">ACTION</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Area_isActive)" data-formatter="ToYesNo">ACTIVE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Area_ID)">ID</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Area_Name)">NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Area_Desc)">DESC</th>
                                <th data-field="@Html.DisplayNameFor(m => m.District_Name)">DISTRICT</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Area_Long)">LONGITUDE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Area_Lat)">LATITUDE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Area_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Insert_Oleh)">INSERT BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Area_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Update_Oleh)">UPDATE BY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_ScriptTable"); }
@*<script>
        //function initialize(Lat, Lng) {
        function initialize() {
            //if (parseFloat(Lat)) {
            //} else {
            //    Lat = -6.165087;
            //}

            //if (parseFloat(Lng)) {
            //} else {
            //    Lng = 106.914355;
            //}

            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -6.165087, lng: 106.914355 },
                zoom: 18
            });
            var marker = new google.maps.Marker({
                map: map,
                position: { lat: -6.165087, lng: 106.914355 },
                draggable: true,
                anchorPoint: new google.maps.Point(0, -29)
            });

            var input = document.getElementById('searchInput');
            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(input);
            var geocoder = new google.maps.Geocoder();
            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);
            var infowindow = new google.maps.InfoWindow();
            autocomplete.addListener('place_changed', function () {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    window.alert("Autocomplete's returned place contains no geometry");
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }

                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                bindDataToForm(place.formatted_address, place.geometry.location.lat(), place.geometry.location.lng());
                infowindow.setContent(place.formatted_address);
                infowindow.open(map, marker);

            });
            // this function will work on marker move event into map
            google.maps.event.addListener(marker, 'dragend', function () {
                geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[0]) {
                            bindDataToForm(results[0].formatted_address, marker.getPosition().lat(), marker.getPosition().lng());
                            infowindow.setContent(results[0].formatted_address);
                            infowindow.open(map, marker);
                        }
                    }
                });
            });
        }
        function bindDataToForm(address, lat, lng) {
            //document.getElementById('Outlet_Address1').value = address;
            document.getElementById('Lat').value = lat;
            document.getElementById('Long').value = lng;
        }
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>*@
<!-- Modal Add & update -->
@*data-show-refresh="true"*@
@*<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="hidden" class="form-control" id="id" name="id" value="" />
                        <input type="text" class="form-control" id="Area_Name" name="Area_Name" placeholder="Name" autocomplete="off"/>
                        <p class="errorName text-danger d-none"></p>
                    </div>
                    <div class="form-group">
                        <label for="">Area_Desc</label>
                        <input type="text" class="form-control" id="Area_Desc" name="Area_Desc" placeholder="Desc" autocomplete="off" />
                        <p class="errorDesc text-danger d-none"></p>
                    </div>
                    <div class="form-group">
                        <label for="">Area District</label>
                        <select class="form-control selectpicker" data-live-search="true" id="Area_DistrictID" name="Area_DistrictID" title="Area District">
                            @foreach (var E in District ?? new List<AutoComplete>())
                            {
                                <option value="@E.ID" class="text-sm-left" style="font-size:small">@E.Name.ToUpper() (@E.Regen_Dis.ToUpper().Replace("KABUPATEN", "KAB."))</option>
                            }
                        </select>
                        <p class="errorDistrict text-danger d-none"></p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="">Set Location</label>
                            <div class="card">
                                <input id="searchInput" class="input-controls" type="text" placeholder="Enter a location">
                                <div class="map" id="map" style="width: 100%; height: 300px;"></div>
                            </div>
                            <div class="row">
                                <div class="col-8 col-sm-6">
                                    <div class="form-group">
                                        <label for="">Area Longitude</label>
                                        <input type="text" class="form-control" id="Long" name="Area_Long" placeholder="Longitude" autocomplete="off"/>
                                        <p class="errorLongitude text-danger d-none"></p>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-6">
                                    <div class="form-group">
                                        <label for="">Area Latitude</label>
                                        <input type="text" class="form-control" id="Lat" name="Area_Lat" placeholder="Latitude" autocomplete="off"/>
                                        <p class="errorLatitude text-danger d-none"></p>
                                    </div>
                                </div>
                            </div>
                            <div id="active" class="form-group">
                                <label>Active</label>
                                <select class="form-control selectpicker" id="Area_isActive" name="Area_isActive" title="Select">
                                    <option value="true">Active</option>
                                    <option value="false">NonActive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Close
                    </button>
                    <button class="btn btn-primary add" data-request-url="@Url.Action("AddUp", "Area")" type="button">
                        Submit
                    </button>
                    <button class="btn btn-primary addL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </div>
        </div>
    </div>*@

<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-url='@Url.Action("ViewAddUpArea", "Area")'>
    <div id="viewAddUp"></div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#e82323">
                <h5 class="modal-title text-white" id="exampleModalLabel">Delete @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="javascript:void(0)" role="form">
                <div class="modal-body">
                    <input id="idDel" type="hidden" class="form-control" name="id" value="">
                    Are you sure you want to delete @ViewBag.Title "<b><span id="nameDel"></span></b>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel!</button>
                    <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "Area")">Yes, delete it!</button>
                    <button class="btn btn-primary deleteL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal import -->
<div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-6">
                    <p>
                        for the example of Template click <a href="@Url.Action("ExportTemplate", "Area")" class="btn btn-primary btn-sm">here</a>
                        @*<button class="btn btn-primary templateL btn-sm d-none" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>*@
                    </p>
                    <div class="form-group">
                        <input type="file" id="input-excel" class="form-control" name="postedFile" required />
                        <p class="errorImport text-danger d-none">file is required!</p>
                    </div>
                </div>
                <div id="result-table" class="d-none table-responsive">
                    <table id="table_import" class="table table-bordered table-sm">
                        <thead>
                            <tr class="text-uppercase">
                                <th>Area Name</th>
                                <th>Area Description</th>
                                <th>Area Longitude</th>
                                <th>Area Latitude</th>
                                <th>Area District Code</th>
                                <th>Area District Name</th>
                            </tr>
                        </thead>
                        <tbody id="qw"></tbody>
                    </table>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary Import" data-request-url="@Url.Action("Import", "Area")">Import</button>
                <button class="btn btn-primary ImportL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
</script>
<script src="~/Scripts/data/Area.js"></script>
