﻿@model b2bWeb.Models.Area
@using b2bWeb.Models
@{
    var District = ViewBag.District as List<AutoComplete> ?? new List<AutoComplete>();
}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBKDtW47ZKzT5JPduQvi3gUFNHNZmXk-FU&libraries=places&callback=initialize"></script>

<style type="text/css">
    .pac-container {
        background-color: #FFF;
        z-index: 1050 !important;
        position: fixed;
        display: inline-block;
        float: left;
    }

    .modal {
        z-index: 20;
    }

    .modal-backdrop {
        z-index: 10;
    }

    .input-controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #searchInput {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 50%;
    }

        #searchInput:focus {
            border-color: #4d90fe;
        }
</style>

<script>
    function initialize() {
        var LAT = '@Model.Area_Lat';
        var LNG = '@Model.Area_Long';

        var latlng = new google.maps.LatLng(LAT, LNG);

        var map = new google.maps.Map(document.getElementById('map'), {
            //center: { lat: -6.165087, lng: 106.914355 },
            center: latlng,
            zoom: 18
        });
        var marker = new google.maps.Marker({
            map: map,            
            position: latlng,
            draggable: true,
            anchorPoint: new google.maps.Point(0, -29)
        });

        var input = document.getElementById('searchInput');
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(input);
        var geocoder = new google.maps.Geocoder();
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        var infowindow = new google.maps.InfoWindow();
        autocomplete.addListener('place_changed', function () {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("Autocomplete's returned place contains no geometry");
                return;
            }

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);
            }

            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            bindDataToForm(place.formatted_address, place.geometry.location.lat(), place.geometry.location.lng());
            infowindow.setContent(place.formatted_address);
            infowindow.open(map, marker);

        });
        // this function will work on marker move event into map
        google.maps.event.addListener(marker, 'dragend', function () {
            geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        bindDataToForm(results[0].formatted_address, marker.getPosition().lat(), marker.getPosition().lng());
                        infowindow.setContent(results[0].formatted_address);
                        infowindow.open(map, marker);
                    }
                }
            });
        });
    }

    function bindDataToForm(address, lat, lng) {
        //document.getElementById('Outlet_Address1').value = address;
        document.getElementById('Lat').value = lat;
        document.getElementById('Long').value = lng;
    }

    google.maps.event.addDomListener(window, 'load', initialize());
</script>

@*<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">*@
<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-dark"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="">Name</label>
                <input type="hidden" class="form-control" id="id" name="id" value="" />
                <input type="text" class="form-control" id="Area_Name" name="Area_Name" placeholder="Name" autocomplete="off" />
                <p class="errorName text-danger d-none"></p>
            </div>
            <div class="form-group">
                <label for="">Area_Desc</label>
                <input type="text" class="form-control" id="Area_Desc" name="Area_Desc" placeholder="Desc" autocomplete="off" />
                <p class="errorDesc text-danger d-none"></p>
            </div>
            <div class="form-group">
                <label for="">Area District</label>
                <select class="form-control selectpicker" data-live-search="true" id="Area_DistrictID" name="Area_DistrictID" title="Area District">
                    @foreach (var E in District ?? new List<AutoComplete>())
                    {
                        <option value="@E.ID" class="text-sm-left" style="font-size:small">@E.Name.ToUpper() (@E.Regen_Dis.ToUpper().Replace("KABUPATEN", "KAB."))</option>
                    }
                </select>
                <p class="errorDistrict text-danger d-none"></p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label for="">Set Location</label>
                    <div class="card">
                        <input id="searchInput" class="input-controls" type="text" placeholder="Enter a location">
                        <div class="map" id="map" style="width: 100%; height: 300px;"></div>
                    </div>
                    <div class="row">
                        <div class="col-8 col-sm-6">
                            <div class="form-group">
                                <label for="">Area Longitude</label>
                                <input type="text" class="form-control" id="Long" name="Area_Long" placeholder="Longitude" autocomplete="off" />
                                <p class="errorLongitude text-danger d-none"></p>
                            </div>
                        </div>
                        <div class="col-4 col-sm-6">
                            <div class="form-group">
                                <label for="">Area Latitude</label>
                                <input type="text" class="form-control" id="Lat" name="Area_Lat" placeholder="Latitude" autocomplete="off" />
                                <p class="errorLatitude text-danger d-none"></p>
                            </div>
                        </div>
                    </div>
                    <div id="active" class="form-group">
                        <label>Active</label>
                        <select class="form-control selectpicker" id="Area_isActive" name="Area_isActive" title="Select">
                            <option value="true">Active</option>
                            <option value="false">NonActive</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
                Close
            </button>
            <button class="btn btn-primary add" data-request-url="@Url.Action("AddUp", "Area")" type="button">
                Submit
            </button>
            <button class="btn btn-primary addL d-none" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </div>
</div>
@*</div>*@

<script>
    
$('.modal-footer').on('click', '.add', function () {
    $(".addL").removeClass("d-none");
    $(".add").addClass("d-none");
    $.ajax({
        type: 'POST',
        url: $(this).data('request-url'),
        data: {
            'Area_ID': $("#id").val(),
            'Area_Name': $("#Area_Name").val(),
            'Area_Desc': $("#Area_Desc").val(),
            'Area_DistrictID': $("#Area_DistrictID").val(),
            'searchInput': $("#searchInput").val(),
            'Area_Long': $("#Long").val(),
            'Area_Lat': $("#Lat").val(),
            'Area_isActive': $("#Area_isActive").val()
        },
        success: function (data) {
            $('.errorName').addClass('d-none');
            $('.errorDistrict').addClass('d-none');
            $('.errorLongitude').addClass('d-none');
            $('.errorLatitude').addClass('d-none');
            $('.errorDesc').addClass('d-none');

            if (data == "success") {
                cleanValue();
                $('#ModalAU').modal('hide');
                swal("Success", "add " + ViewBag + " successfully", {
                    icon: "success",
                    buttons: false,
                    timer: 2000,
                });
                document.getElementsByName("refresh")[0].click();

            } else if (data == "failed") {
                cleanValue();
                $('#ModalAU').modal('hide');
                swal("Failed!", "failed", {
                    icon: "error",
                    buttons: false,
                    timer: 2000,
                });
            } else if (data == "update") {
                cleanValue();
                $('#ModalAU').modal('hide');
                swal("Success", "update " + ViewBag + " successfully", {
                    icon: "success",
                    buttons: false,
                    timer: 2000,
                });
                document.getElementsByName("refresh")[0].click();

            } else if (data == "has") {
                cleanValue();
                $('#ModalAU').modal('hide');
                swal("oopppsss!", "data with that code already exists!", {
                    icon: "warning",
                    buttons: false,
                    timer: 2000,
                });
                document.getElementsByName("refresh")[0].click();

            } else {
                if ((data.errorModel.length > 0)) {
                    $(".addL").addClass("d-none");
                    $(".add").removeClass("d-none");
                    for (var i = 0; i < data.errorModel.length; i++) {
                        if (data.errorModel[i]["key"] == "Area_Name") {
                            $('.errorName').removeClass('d-none');
                            $('.errorName').text(data.errorModel[i]["errors"]);
                        }

                        if (data.errorModel[i]["key"] == "Area_DistrictID") {
                            $('.errorDistrict').removeClass('d-none');
                            $('.errorDistrict').text(data.errorModel[i]["errors"]);
                        }

                        if (data.errorModel[i]["key"] == "Area_Long") {
                            $('.errorLongitude').removeClass('d-none');
                            $('.errorLongitude').text(data.errorModel[i]["errors"]);
                        }

                        if (data.errorModel[i]["key"] == "Area_Lat") {
                            $('.errorLatitude').removeClass('d-none');
                            $('.errorLatitude').text(data.errorModel[i]["errors"]);
                        }

                        if (data.errorModel[i]["key"] == "Area_Desc") {
                            $('.errorDesc').removeClass('d-none');
                            $('.errorDesc').text(data.errorModel[i]["errors"]);
                        }                        
                    }
                }
            }
        },
    });
});

$('.modal-footer').on('click', '.delete', function () {
    $(".deleteL").removeClass("d-none");
    $(".delete").addClass("d-none");
    $.ajax({
        type: 'POST',
        url: $(this).data('request-url'),
        data: {
            'Area_ID': $("#idDel").val(),
        },
        success: function (data) {
            $("#ModalDelete").modal('hide');
            $(".deleteL").addClass("d-none");
            $(".delete").removeClass("d-none");
            if (data == 1) {
                document.getElementsByName("refresh")[0].click();
                swal("Success", "delete " + ViewBag +" successfully", {
                    icon: "success",
                    buttons: false,
                    timer: 2000,
                });
            } else {
                swal("Failed!", "delete " + ViewBag +" failed", {
                    icon: "error",
                    buttons: false,
                    timer: 2000,
                });
            }
        },
    });
});
</script>