﻿@model b2bWeb.Models.rowsAchievementEmployee

<style>
    .datepicker {
        z-index: 1600 !important; /* has to be larger than 1050 */
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <span class="input-group-btn">
                            <a href="#" class="btn btn-outline-success my-2 my-sm-0" onclick="excel_date();">
                                <i class="fa fa-download"></i>&nbsp;Excel
                            </a>
                        </span>
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataAchievementEmployee", "AchievementEmployee")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="@Html.DisplayNameFor(m => m.TargetByEmployee_EmployeeNIK)">NIK</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Target_EmployeeName)">EMPLOYEE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.TargetByEmployee_Periode)" data-formatter="ToDateMonthNameAndYear">PERIODE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Sales_LineTotal)" data-formatter="ToRp">SALES TOTAL</th>
                                <th data-field="@Html.DisplayNameFor(m => m.TargetByEmployee_Amount)" data-formatter="ToRp">TARGET AMOUNT</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Achievements)" data-formatter="ToPercent">ACHIEVEMENT</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_ScriptTable"); }


<div class="modal fade" id="myModal_excel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6183ff;">
                <h5 class="modal-title" id="myModalLabel" style="color: #ffffff">Export to Excel @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            @using (Html.BeginForm("ExportToExcel", "AchievementEmployee", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="text-uppercase">Periode</label>
                        <div>
                            <input type="text" class="form-control" id="dateMonth" name="startDate" required autocomplete="off">
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label for="" class="text-uppercase">End Date</label>
                        <div>
                            <input type="text" class="form-control" id="endDate" name="endDate" required autocomplete="off">
                        </div>
                    </div>*@                    
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success ex">Excel</button>
                    <button class="btn btn-primary exL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>