﻿@model b2bWeb.Models.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="~/Content/Login.css" rel="stylesheet" />

    <style class="cp-pen-styles">
        html,
        body {
            height: 100%
        }
    </style>
</head>
<body class="login-block">
    @if (@ViewBag.Message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <section class="login-block">
            <div class="container">
                <fieldset>
                    <div class="row">
                        <div class="col-md-4 login-sec">
                            <h2 class="text-center">Hello...</h2>
                            <form class="login-form" action="Login" method="POST">
                                <div class="form-group">
                                    <label for="Username" class="text-uppercase"> Username</label>
                                    <div>
                                        @Html.TextBoxFor(u => u.Employee_NIK, new { @class = "form-control", placeholder = "phone number", required = "required" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user_password">Password:</label>
                                    <div class="input-group">
                                        <input type="password" name="Employee_Password" id="user_password" class="form-control" data-toggle="password" placeholder="password">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fa fa-eye-slash"></i></span>
                                        </div>
                                    </div>
                                </div>

                                @if (@TempData["fail"] != null)
                                {
                                    <p class="text-danger">@TempData["fail"]</p>
                                }                                
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        <small> Remember Me</small>
                                    </label>
                                    <button type="submit" class="btn btn-login float-right login"> Submit</button>
                                    <button class="btn btn-login float-right loginL d-none" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Loading...
                                    </button>
                                </div>
                            </form>
                            <div class="copy-text">
                                Created with <i class="fa fa-heart"> </i> by <a href="https://goldeneye.id/"> goldeneye.id</a> 2018
                                <br /><br />
                                <a href="https://api.whatsapp.com/send?phone=6281299867899&text=hello%20Cinta%20ID" target="_blank">
                                    <img border="0" alt="whatsapp" src="https://www.aozata.com/wp-content/uploads/2019/01/iconfinder_whatsapp_287520.png" width="40" height="40">
                                </a>
                                &nbsp; hello@cinta.id &nbsp; +62 812-9986-7899
                            </div>
                        </div>
                        <div class="col-md-8 banner-sec">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"> </li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"> </li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"> </li>
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="banner-text">
                                                <h2> Welcome</h2>
                                                <p> Welcome to b2b.cinta.co.id, we're here to served you for better services and products to help you feel easier and comfort.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="banner-text">
                                                <h2> Need help?</h2>
                                                <p> Problem? NO PROBLEM, just call us/WA on +62 812-9986-7899 or chat with us on the pop-up application here. we're very please to served and help you.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="banner-text">
                                                <h2> Joint us.</h2>
                                                <p>Welcome to b2b.cinta.co.id, we're here to served you for better services and products to help you feel easier and comfort. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
    }
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
@*<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5af9e40b227d3d7edc254eaa/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>*@

<script>
    //$('.login').on('click', function () {
    //    $(".login").addClass("d-none");
    //    $(".loginL").removeClass("d-none");
    //});


    !function ($) {
        'use strict';

        $(function () {
            $('[data-toggle="password"]').each(function () {
                var input = $(this);
                var eye_btn = $(this).parent().find('.input-group-text');
                eye_btn.css('cursor', 'pointer').addClass('input-password-hide');
                eye_btn.on('click', function () {
                    if (eye_btn.hasClass('input-password-hide')) {
                        eye_btn.removeClass('input-password-hide').addClass('input-password-show');
                        eye_btn.find('.fa').removeClass('fa-eye-slash').addClass('fa-eye')
                        input.attr('type', 'text');
                    } else {
                        eye_btn.removeClass('input-password-show').addClass('input-password-hide');
                        eye_btn.find('.fa').removeClass('fa-eye').addClass('fa-eye-slash')
                        input.attr('type', 'password');
                    }
                });
            });
        });

    }(window.jQuery);
</script>
