﻿@using MvcPaging
@model IPagedList<b2bWeb.Models.Billing>


    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Month-Year
                </th>
                <th>
                    Insert By
                </th>
                <th>
                    Name
                </th>
                <th>
                    Leader NIK
                </th>
                <th>
                    Active
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Bulan/@item.Tahun
                    </td>
                    <td>
                        @item.Display_InsertBy
                    </td>
                    <td>
                        @item.Employee_Name
                    </td>
                    <td>
                        @item.Employee_LeaderNik
                    </td>
                    <td>
                        @item.Employee_IsActive
                    </td>
                </tr>
            }
        </tbody>
    </table>


<div class="alert alert-dismissible alert-dark" role="alert">
    <div class="pagination pagination-large light-theme">
        @Html.Raw(Ajax.Pager(
                new Options
                {
                    PageSize = Model.PageSize,
                    TotalItemCount = Model.TotalItemCount,
                    CurrentPage = Model.PageNumber,
                    ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "" },
                    ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
                    TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
                    Size = Size.small,
                    Alignment = Alignment.right,
                    IsShowControls = true,
                    IsShowFirstLast = true,
                    IsShowPages = true,
                    CssClass=""
                },
                new AjaxOptions
                {
                    UpdateTargetId = "grid-list",
                    OnBegin = "beginPaging",
                    OnSuccess = "successPaging",
                    OnFailure = "failurePaging"
                }, new { controller = "Billing", action = "Index", role_name = ViewData["billing_date"] }))
    </div>

    <p>
        Showing <span class="badge badge-success">@Model.ItemStart</span> to <span class="badge badge-success">@Model.ItemEnd</span>
        of <span class="badge badge-info">@Model.TotalItemCount</span> entries
    </p>
</div>

