﻿@model b2bWeb.Models.Billing
@using b2bWeb.Models
@{
    var Data = ViewBag.Data as List<Billing>;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Billing</li>
    </ol>
</nav>

@using (Ajax.BeginForm("Index", "Billing",
          new AjaxOptions { UpdateTargetId = "grid-list", HttpMethod = "get", LoadingElementId = "loading", OnBegin = "beginPaging", OnSuccess = "successPaging", OnFailure = "failurePaging" },
          new { id = "frm-search" }))
{
    <table class="container-fluid mb-3">
        <tr>
            <td>
                @*<a href="#" class="btn btn-outline-success" onclick="excel_date();">Excel</a>*@
            </td>
            <td class="col-xs-12">
                <div class="input-group">
                    @{
                        if (ViewData["tgl"] != null)
                        {
                            <input class="form-control" id="appendedInputButton" type="text" name="request" placeholder="MM/yyyy" value="@ViewData["tgl"]">
                        }
                        else
                        {
                            <input class="form-control" id="appendedInputButton" type="text" name="request" placeholder="MM/yyyy">
                        }
                    }
                    &nbsp;
                    <span class="input-group-btn">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                            <i class="fa fa-search"></i>&nbsp;Search
                        </button>
                    </span>
                </div>
            </td>
        </tr>
    </table>
    <div class="table-responsive text-nowrap mb-1">
        <table id="data" class="table compact table-bordered table-sm table-hover">
            <thead>
                <tr class="table-active text-uppercase">
                    <th>Month-Year</th>
                    <th>Insert By</th>
                    <th>Name</th>
                    <th>Leader NIK</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Data ?? new List<Billing>())
                {
                    <tr>
                        <td>@a.Bulan/@a.Tahun</td>
                        <td>@a.Display_InsertBy</td>
                        <td>@a.Employee_Name</td>
                        <td>@a.Employee_LeaderNik</td>
                        <td>@a.Employee_IsActive</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<br />

<div class="modal fade" id="myModal_excel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Export to Excel</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>

            @using (Html.BeginForm("ExportToExcel", "Billing", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="text-uppercase">Start Date</label>
                        <div>
                            <input type="date" class="form-control" id="startDate" name="startDate" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="text-uppercase">End Date</label>
                        <div>
                            <input type="date" class="form-control" id="endDate" name="endDate" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success">Excel</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>

            }
        </div>
    </div>
</div>