﻿@model b2bWeb.Models.rowsPromo
@using b2bWeb.Models
@{
    //var brand = ViewBag.Brand as List<Brand> ?? new List<Brand>();
    var item = ViewBag.Item as List<Item> ?? new List<Item>();
}

    <link rel="stylesheet" href="https://foliotek.github.io/Croppie/croppie.css">
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <span class="input-group-btn">
                            <a class="btn btn-outline-primary create" href="javascript:void(0)">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add
                            </a>
                        </span>
                        @*<span class="input-group-btn">
                                <a class="btn btn-outline-secondary import" href="javascript:void(0)">
                                    <i class="fa fa-upload"></i>&nbsp;Import
                                </a>
                            </span>
                            <span class="input-group-btn">
                                <a class="btn btn-outline-success" href="@Url.Action("ExportToExcel", "Promo")">
                                    <i class="fa fa-download"></i>&nbsp;Excel
                                </a>
                            </span>*@
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataPromo", "Promo")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">ACTION</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Promosi_IsActive)" data-formatter="ToYesNo">ACTIVE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Promosi_Code)">CODE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Promosi_Name)">NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Promosi_Desc)">DESC</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Promosi_Category_Name)">PRODUCT</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Promosi_File1)" data-formatter="ToLink">PROMO1</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Promosi_File2)" data-formatter="ToLink">PROMO2</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Promosi_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Promosi_InsertBy_Name)">INSERT BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Promosi_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Promosi_UpdateBy_Name)">UPDATE BY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_ScriptTable"); }

<!-- Modal Add & update -->
<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Code</label>
                    <input type="hidden" class="form-control" id="id" name="id" value="" />
                    <input type="text" class="form-control" id="Promosi_Code" name="Promosi_Code" placeholder="code" autocomplete="off" />
                    <p class="errorCode text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" id="Promosi_Name" name="Promosi_Name" placeholder="name" autocomplete="off" />
                    <p class="errorName text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Desc</label>
                    <input type="text" class="form-control" id="Promosi_Desc" name="Promosi_Desc" placeholder="desc" autocomplete="off" />
                    <p class="errorDesc text-danger d-none"></p>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 col-form-label">
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" onclick="image()" id="radio1" type="radio" value="1">
                            <label class="form-check-label" for="radio1">Images</label>
                        </div>
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" onclick="video()" id="radio2" type="radio" value="2">
                            <label class="form-check-label" for="radio2">Videos</label>
                        </div>
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" onclick="link()" id="radio3" type="radio" value="3">
                            <label class="form-check-label" for="radio3">Links</label>
                        </div>
                    </div>

                    <div class="col-md-12 col-form-label">
                        <div class="collapse" id="collapse1">
                            <div class="card card-body">

                                <div class="form-group">
                                    <label for="">Image 1</label><br />
                                    @*<a class="mg-b-10" href="#" data-toggle="modal" data-target="#ChooseImagePromosi_File1">*@
                                    <img id="ImagesPromosi_File1" src="~/Content/images/default-image.png" style="width:150px; height:150px;" />
                                    @*</a>
                                    <span>klik image</span>*@
                                    <input type="file" name="Images" id="item_Image1" onchange="readURLPromo1(this);" />
                                    <input type="hidden" name="Promosi_File1" id="Promosi_File1" />
                                </div>

                                <div class="form-group">
                                    <label for="">Image 2</label><br />
                                    @*<a class="mg-b-10" href="#" data-toggle="modal" data-target="#ChooseImagePromosi_File2">*@
                                    <img id="ImagesPromosi_File2" src="~/Content/images/default-image.png" style="width:150px; height:150px;" />
                                    @*</a>
                                    <span>klik image</span>*@
                                    <input type="file" name="Images" id="item_Image2" onchange="readURLPromo2(this);" />
                                    <input type="hidden" name="Promosi_File2" id="Promosi_File2" />
                                </div>
                            </div>
                        </div>

                        <div class="collapse" id="collapse2">
                            <div class="card card-body">
                                <div class="form-group">
                                    <label for="">Video 1</label>
                                    <input multiple="multiple" type="file" class="form-control" id="Promosi_Vidio_File1" name="Promosi_File1" placeholder="promo 1" />
                                    <p id="vidio1"></p>
                                </div>
                                <div class="form-group">
                                    <label for="">Video 2</label>
                                    <input multiple="multiple" type="file" class="form-control" id="Promosi_Vidio_File2" name="Promosi_File2" placeholder="promo 2" />
                                    <p id="vidio2"></p>
                                </div>
                            </div>
                        </div>

                        <div class="collapse" id="collapse3">
                            <div class="card card-body">
                                <div class="form-group">
                                    <label for="">link 1</label>
                                    <input type="text" class="form-control" id="Promosi_Link_File1" name="Promosi_File1" placeholder="promo 1" autocomplete="off" />
                                </div>
                                <div class="form-group">
                                    <label for="">link 2</label>
                                    <input type="text" class="form-control" id="Promosi_Link_File2" name="Promosi_File2" placeholder="promo 2" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                    <label for="">Category</label>
                    <select class="form-control selectpicker" id="Promosi_CategoryCode" name="Promosi_CategoryCode" data-live-search="true" title="choose">
                        @{
                            foreach (var a in brand ?? new List<Brand>())
                            {
                                <option value="@a.Category_Code">@a.Category_Code (@a.Category_Name)</option>
                            }
                        }
                    </select>
                    <p class="errorBrand text-danger d-none"></p>
                </div>*@
                <div class="form-group">
                    <label for="">Product</label>
                    <select class="form-control selectpicker" id="Promosi_CategoryCode" name="Promosi_CategoryCode" data-live-search="true" title="choose">
                        @{
                            foreach (var a in item ?? new List<Item>())
                            {
                                <option value="@a.Item_Code">@a.Item_Code (@a.Item_Name)</option>
                            }
                        }
                    </select>
                    <p class="errorBrand text-danger d-none"></p>
                </div>
                <div id="active" class="form-group">
                    <label>Active</label>
                    <select class="form-control selectpicker" id="Promosi_IsActive" name="Promosi_IsActive" title="Select">
                        <option value="true">Active</option>
                        <option value="false">NonActive</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-primary add" data-request-url="@Url.Action("AddUp", "Promo")" type="button">
                    Submit
                </button>
                <button class="btn btn-primary addL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal image1-->
<div class="modal fade" id="ChooseImagePromosi_File1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6183ff;">
                <h5 class="" id=""><span style="color: #ffffff">Choose Image 1</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="file-upload-inner ts-forms">
                    <div class="input prepend-big-btn">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input type="file" id="uploadPromosi_File1" name="ImagesLogo" class="form-control">
                                <br />
                                <div id="upload-Promosi_File1" style="width:300px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary upload-Promosi_File1">Choose</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal image2-->
<div class="modal fade" id="ChooseImagePromosi_File2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6183ff;">
                <h5 class="" id=""><span style="color: #ffffff">Choose Image 2</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="file-upload-inner ts-forms">
                    <div class="input prepend-big-btn">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input type="file" id="uploadPromosi_File2" name="ImagesLogo" class="form-control">
                                <br />
                                <div id="upload-Promosi_File2" style="width:300px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary upload-Promosi_File2">Choose</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#e82323">
                <h5 class="modal-title text-white" id="exampleModalLabel">Delete @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="javascript:void(0)" role="form">
                <div class="modal-body">
                    <input id="idDel" type="hidden" class="form-control" name="id" value="">
                    Are you sure you want to delete @ViewBag.Title "<b><span id="nameDel"></span></b>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel!</button>
                    <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "Promo")">Yes, delete it!</button>
                    <button class="btn btn-primary deleteL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://foliotek.github.io/Croppie/croppie.js"></script>
<script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
</script>
<script src="~/Scripts/data/Promo.js"></script>