﻿@model b2bWeb.Models.rowsOutlet
@using b2bWeb.Models
@{
    var Area = ViewBag.Area as List<Area> ?? new List<Area>();
    var GO = ViewBag.GroupOutlet as List<GroupOutlet> ?? new List<GroupOutlet>();
    var Repeat = ViewBag.recurring as List<Recurring> ?? new List<Recurring>();
}

@*<link rel="stylesheet" href="https://foliotek.github.io/Croppie/croppie.css">
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBKDtW47ZKzT5JPduQvi3gUFNHNZmXk-FU&libraries=places"></script>

<style type="text/css">
    .pac-container {
        background-color: #FFF;
        z-index: 1050 !important;
        position: fixed;
        display: inline-block;
        float: left;
    }

    .modal {
        z-index: 20;
    }

    .modal-backdrop {
        z-index: 10;
    }

    .input-controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #searchInput {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 50%;
    }

        #searchInput:focus {
            border-color: #4d90fe;
        }
</style>*@

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <span class="input-group-btn">
                            <a class="btn btn-outline-primary create" href="javascript:void(0)">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add
                            </a>
                        </span>
                        <button class="btn btn-primary createL d-none" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                        <span class="input-group-btn">
                            <a class="btn btn-outline-secondary import" href="javascript:void(0)">
                                <i class="fa fa-upload"></i>&nbsp;Import
                            </a>
                        </span>
                        <span class="input-group-btn">
                            <a class="btn btn-outline-success" href="@Url.Action("ExportToExcel", "Outlet")">
                                <i class="fa fa-download"></i>&nbsp;Excel
                            </a>
                        </span>
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataOutlet", "Outlet")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatterOutlet" data-events="operateEvents">ACTION</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Isactive)" data-formatter="ToYesNo">ACTIVE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Code)">CODE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Name)">NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Phone)">PHONE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Email)">EMAIL</th>
                                <th data-field="@Html.DisplayNameFor(m => m.GroupOutlet_Name)">GROUP</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Type)">TYPE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Desc)">DESC</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Repeat_Name)">RECURRING</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Longitude)">LONGITUDE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Latitude)">LATITUDE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_AreaID)">AREA ID</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Cari_Area)">AREA NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Address1)">ADDRESS</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Picture)" data-formatter="imageFormatter">IMAGE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_PICFront)" data-formatter="imageFormatter">IMAGE FRONT</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_PICCashier)" data-formatter="imageFormatter">IMAGE CASHIER</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Insert_Name)">INSERT BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Update_Name)">UPDATE BY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("_ScriptTable"); }
@*<script>
    //function initialize(Lat, Lng) {
    function initialize() {
        //if (parseFloat(Lat)) {
        //} else {
        //    Lat = -6.165087;
        //}

        //if (parseFloat(Lng)) {
        //} else {
        //    Lng = 106.914355;
        //}

        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -6.165087, lng: 106.914355 },
            zoom: 18
        });
        var marker = new google.maps.Marker({
            map: map,
            position: { lat: -6.165087, lng: 106.914355 },
            draggable: true,
            anchorPoint: new google.maps.Point(0, -29)
        });

        var input = document.getElementById('searchInput');
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(input);
        var geocoder = new google.maps.Geocoder();
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        var infowindow = new google.maps.InfoWindow();
        autocomplete.addListener('place_changed', function () {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("Autocomplete's returned place contains no geometry");
                return;
            }

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);
            }

            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            bindDataToForm(place.formatted_address, place.geometry.location.lat(), place.geometry.location.lng());
            infowindow.setContent(place.formatted_address);
            infowindow.open(map, marker);

        });
        // this function will work on marker move event into map
        google.maps.event.addListener(marker, 'dragend', function () {
            geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        bindDataToForm(results[0].formatted_address, marker.getPosition().lat(), marker.getPosition().lng());
                        infowindow.setContent(results[0].formatted_address);
                        infowindow.open(map, marker);
                    }
                }
            });
        });
    }
    function bindDataToForm(address, lat, lng) {
        //document.getElementById('Outlet_Address1').value = address;
        document.getElementById('Lat').value = lat;
        document.getElementById('Long').value = lng;
    }
    google.maps.event.addDomListener(window, 'load', initialize);

</script>*@

<!-- Modal Add & update -->
@*data-show-refresh="true"*@
@*<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Image</label><br />
                    <a class="mg-b-10" href="#" data-toggle="modal" data-target="#ChooseImageOutlet_Image">
                        <img id="ImagesOutlet_Image" src="~/Content/images/default-image.png" style="width:150px; height:150px;" />
                    </a>
                    <span>klik image</span>
                    <input type="hidden" name="Outlet_Image" id="Outlet_Image" />
                </div>
                <div class="form-group">
                    <label for="Outlet_Code">Outlet_Code</label>
                    <input type="hidden" class="form-control" id="id" name="id" value="" />
                    <input type="text" class="form-control" id="Outlet_Code" name="Outlet_Code" placeholder="Outlet Code" autocomplete="off" />
                    <p class="errorCode text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="Outlet_Name" name="Outlet_Name" placeholder="Outlet Name" autocomplete="off" />
                    <p class="errorName text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="text" class="form-control" id="Outlet_Email" name="Outlet_Email" placeholder="Outlet Email" autocomplete="off" />
                    <p class="errorEmail text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="Name">Group</label>
                    <select class="form-control selectpicker" data-live-search="true" id="Outlet_GroupCode" name="Outlet_GroupCode" title="Outlet Group">
                        @foreach (var dis in GO ?? new List<GroupOutlet>())
                        {
                            <option value="@dis.GroupOutlet_Code">@dis.GroupOutlet_Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="Type">Type</label>
                    <select class="form-control selectpicker" id="Outlet_Type" name="Outlet_Type" autocomplete="off">
                        <option value="">Select</option>
                        <option value="GT">GT</option>
                        <option value="MT">MT</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <input type="text" class="form-control" id="Outlet_Desc" name="Outlet_Desc" placeholder="Outlet Desc" autocomplete="off" />
                    <p class="errorDesc text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="Name">Area Name</label>
                    <select class="form-control selectpicker" data-live-search="true" id="Outlet_AreaID" name="Outlet_AreaID" title="choose" required>
                        @foreach (var E in Area ?? new List<Area>())
                        {
                            <option value="@E.Area_ID">@E.Area_Name</option>
                        }
                    </select>
                    <p class="errorArea text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="Name">Recurring</label>
                    <select class="form-control selectpicker" data-live-search="true" id="Outlet_Repeat_IDX" name="Outlet_Repeat_IDX" title="choose" required>
                        @foreach (var E in Repeat ?? new List<Recurring>())
                        {
                            <option value="@E.Repeat_IDX">@E.Repeat_Name</option>
                        }
                    </select>                    
                </div>
                <div class="form-group">
                    <label for="Zipcode">Zipcode</label>
                    <input type="text" class="form-control" id="Outlet_Zipcode" name="Outlet_Zipcode" placeholder="Outlet Zipcode" autocomplete="off" />
                    <p class="errorPos text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="Phone">Phone</label>
                    <input type="text" class="form-control" id="Outlet_Phone" name="Outlet_Phone" placeholder="Outlet Phone" autocomplete="off" />
                    <p class="errorPhone text-danger d-none"></p>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="">Set Location</label>
                        <div class="card">
                            <input id="searchInput" class="input-controls" type="text" placeholder="Enter a location">
                            <div class="map" id="map" style="width: 100%; height: 300px;"></div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-sm-6">
                                <div class="form-group">
                                    <label for="Longitude">Longitude</label>
                                    <input type="text" class="form-control" id="Long" name="Outlet_Longitude" placeholder="Outlet Longitude" autocomplete="off" />
                                    <p class="errorLongitude text-danger d-none"></p>
                                </div>
                            </div>
                            <div class="col-4 col-sm-6">
                                <div class="form-group">
                                    <label for="Latitude">Latitude</label>
                                    <input type="text" class="form-control" id="Lat" name="Outlet_Latitude" placeholder="Outlet Latitude" autocomplete="off" />
                                    <p class="errorLatitude text-danger d-none"></p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Address1">Address1</label>
                            <textarea class="form-control" id="Outlet_Address1" name="Outlet_Address1" rows="5" placeholder="Outlet Address1" autocomplete="off"></textarea>
                            <p class="errorAddress1 text-danger d-none"></p>
                        </div>
                        <div class="form-group">
                            <label for="Address2">Address2</label>
                            <textarea class="form-control" id="Outlet_Address2" name="Outlet_Address2" placeholder="Outlet Address2" autocomplete="off"></textarea>
                            <p class="errorAddress2 text-danger d-none"></p>
                        </div>
                        <div id="active" class="form-group">
                            <label>Active</label>
                            <select class="form-control selectpicker" id="Outlet_Isactive" name="Outlet_Isactive" title="Select">
                                <option value="true">Active</option>
                                <option value="false">NonActive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-primary add" data-request-url="@Url.Action("AddUpd", "Outlet")" type="button">
                    Submit
                </button>
                <button class="btn btn-primary addL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>*@

<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-url='@Url.Action("ViewAddUpOutlet", "Outlet")'>
    <div id="viewAddUp"></div>
</div>

    <!-- Modal image-->
    <div class="modal fade" id="ChooseImageOutlet_Image" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#6183ff;">
                    <h5 class="" id=""><span style="color: #ffffff">Choose Image</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="file-upload-inner ts-forms">
                        <div class="input prepend-big-btn">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <input type="file" id="uploadOutlet_Image" name="ImagesLogo" class="form-control">
                                    <br />
                                    <div id="upload-Outlet_Image" style="width:300px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary upload-Outlet_Image">Choose</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal import -->
    <div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Import @ViewBag.Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-sm-6">
                        <p>
                            for the example of Template click <a href="@Url.Action("ExportTemplate", "Outlet")" class="btn btn-primary btn-sm">here</a>
                            @*<button class="btn btn-primary templateL btn-sm d-none" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </button>*@
                        </p>
                        <div class="form-group">
                            <input type="file" id="input-excel" class="form-control" name="postedFile" required />
                            <p class="errorImport text-danger d-none">file is required!</p>
                        </div>
                    </div>
                    <div id="result-table" class="d-none table-responsive">
                        <table id="table_import" class="table table-bordered table-sm">
                            <thead>
                                <tr class="text-uppercase">
                                    <th>Outlet Code</th>
                                    <th>Outlet Name</th>
                                    <th>Outlet GroupCode</th>
                                    <th>Outlet GroupName</th>
                                    <th>Outlet Desc</th>
                                    <th>Outlet Address1</th>
                                    <th>Outlet Address2</th>
                                    <th>Outlet Zipcode</th>
                                    <th>Outlet Type</th>
                                    <th>Outlet Phone</th>
                                    <th>Outlet Email</th>
                                    <th>Outlet Longitude</th>
                                    <th>Outlet Latitude</th>
                                    <th>Outlet AreaID</th>
                                    <th>Outlet AreaName</th>
                                </tr>
                            </thead>
                            <tbody id="qw"></tbody>
                        </table>
                        <br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary Import" data-request-url="@Url.Action("Import", "Outlet")">Import</button>
                    <button class="btn btn-primary ImportL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal delete -->
    <div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#e82323">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Delete @ViewBag.Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="javascript:void(0)" role="form">
                    <div class="modal-body">
                        <input id="idDel" type="hidden" class="form-control" name="id" value="">
                        Are you sure you want to delete @ViewBag.Title "<b><span id="nameDel"></span></b>" ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel!</button>
                        <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "Outlet")">Yes, delete it!</button>
                        <button class="btn btn-primary deleteL d-none" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://foliotek.github.io/Croppie/croppie.js"></script>
    <script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
    </script>
    <script src="~/Scripts/data/Outlet.js"></script>
