﻿@model b2bWeb.Models.Outlet
@using b2bWeb.Models
@{
    var Area = ViewBag.Area as List<Area> ?? new List<Area>();
    var GO = ViewBag.GroupOutlet as List<GroupOutlet> ?? new List<GroupOutlet>();
    var Repeat = ViewBag.recurring as List<Recurring> ?? new List<Recurring>();
}

<link rel="stylesheet" href="https://foliotek.github.io/Croppie/croppie.css">
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBKDtW47ZKzT5JPduQvi3gUFNHNZmXk-FU&libraries=places&callback=initialize"></script>

<style type="text/css">
    .pac-container {
        background-color: #FFF;
        z-index: 1050 !important;
        position: fixed;
        display: inline-block;
        float: left;
    }

    .modal {
        z-index: 20;
    }

    .modal-backdrop {
        z-index: 10;
    }

    .input-controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }

    #searchInput {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 50%;
    }

        #searchInput:focus {
            border-color: #4d90fe;
        }
</style>


<script>
    function initialize() {
        var LAT = '@Model.Outlet_Latitude';
        var LNG = '@Model.Outlet_Longitude';

        var latlng = new google.maps.LatLng(LAT, LNG);

        var map = new google.maps.Map(document.getElementById('map'), {
            //center: { lat: -6.165087, lng: 106.914355 },
            center: latlng,
            zoom: 18
        });
        var marker = new google.maps.Marker({
            map: map,
            position: latlng,
            draggable: true,
            anchorPoint: new google.maps.Point(0, -29)
        });

        var input = document.getElementById('searchInput');
        map.controls[google.maps.ControlPosition.TOP_RIGHT].push(input);
        var geocoder = new google.maps.Geocoder();
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        var infowindow = new google.maps.InfoWindow();
        autocomplete.addListener('place_changed', function () {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("Autocomplete's returned place contains no geometry");
                return;
            }

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);
            }

            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            bindDataToForm(place.formatted_address, place.geometry.location.lat(), place.geometry.location.lng());
            infowindow.setContent(place.formatted_address);
            infowindow.open(map, marker);

        });
        // this function will work on marker move event into map
        google.maps.event.addListener(marker, 'dragend', function () {
            geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        bindDataToForm(results[0].formatted_address, marker.getPosition().lat(), marker.getPosition().lng());
                        infowindow.setContent(results[0].formatted_address);
                        infowindow.open(map, marker);
                    }
                }
            });
        });
    }

    function bindDataToForm(address, lat, lng) {
        //document.getElementById('Outlet_Address1').value = address;
        document.getElementById('Lat').value = lat;
        document.getElementById('Long').value = lng;
    }

    google.maps.event.addDomListener(window, 'load', initialize());
</script>

<div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-dark"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="">Image</label><br />
                <a class="mg-b-10" href="#" data-toggle="modal" data-target="#ChooseImageOutlet_Image">
                    <img id="ImagesOutlet_Image" src="~/Content/images/default-image.png" style="width:150px; height:150px;" />
                </a>
                <span>klik image</span>
                <input type="hidden" name="Outlet_Image" id="Outlet_Image" />
            </div>
            <div class="form-group">
                <label for="Outlet_Code">Outlet_Code</label>
                <input type="hidden" class="form-control" id="id" name="id" value="" />
                <input type="text" class="form-control" id="Outlet_Code" name="Outlet_Code" placeholder="Outlet Code" autocomplete="off" />
                <p class="errorCode text-danger d-none"></p>
            </div>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="Outlet_Name" name="Outlet_Name" placeholder="Outlet Name" autocomplete="off" />
                <p class="errorName text-danger d-none"></p>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" id="Outlet_Email" name="Outlet_Email" placeholder="Outlet Email" autocomplete="off" />
                <p class="errorEmail text-danger d-none"></p>
            </div>
            <div class="form-group">
                <label for="Name">Group</label>
                <select class="form-control selectpicker" data-live-search="true" id="Outlet_GroupCode" name="Outlet_GroupCode" title="Outlet Group">
                    @foreach (var dis in GO ?? new List<GroupOutlet>())
                    {
                        <option value="@dis.GroupOutlet_Code">@dis.GroupOutlet_Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Type">Type</label>
                <select class="form-control selectpicker" id="Outlet_Type" name="Outlet_Type" autocomplete="off">
                    <option value="">Select</option>
                    <option value="GT">GT</option>
                    <option value="MT">MT</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <input type="text" class="form-control" id="Outlet_Desc" name="Outlet_Desc" placeholder="Outlet Desc" autocomplete="off" />
                <p class="errorDesc text-danger d-none"></p>
            </div>
            <div class="form-group">
                <label for="Name">Area Name</label>
                <select class="form-control selectpicker" data-live-search="true" id="Outlet_AreaID" name="Outlet_AreaID" title="choose" required>
                    @foreach (var E in Area ?? new List<Area>())
                    {
                        <option value="@E.Area_ID">@E.Area_Name</option>
                    }
                </select>
                <p class="errorArea text-danger d-none"></p>
            </div>
            <div class="form-group">
                <label for="Name">Recurring</label>
                <select class="form-control selectpicker" data-live-search="true" id="Outlet_Repeat_IDX" name="Outlet_Repeat_IDX" title="choose" required>
                    @foreach (var E in Repeat ?? new List<Recurring>())
                    {
                        <option value="@E.Repeat_IDX">@E.Repeat_Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="Zipcode">Zipcode</label>
                <input type="text" class="form-control" id="Outlet_Zipcode" name="Outlet_Zipcode" placeholder="Outlet Zipcode" autocomplete="off" />
                <p class="errorPos text-danger d-none"></p>
            </div>
            <div class="form-group">
                <label for="Phone">Phone</label>
                <input type="text" class="form-control" id="Outlet_Phone" name="Outlet_Phone" placeholder="Outlet Phone" autocomplete="off" />
                <p class="errorPhone text-danger d-none"></p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label for="">Set Location</label>
                    <div class="card">
                        <input id="searchInput" class="input-controls" type="text" placeholder="Enter a location">
                        <div class="map" id="map" style="width: 100%; height: 300px;"></div>
                    </div>
                    <div class="row">
                        <div class="col-8 col-sm-6">
                            <div class="form-group">
                                <label for="Longitude">Longitude</label>
                                <input type="text" class="form-control" id="Long" name="Outlet_Longitude" placeholder="Outlet Longitude" autocomplete="off" />
                                <p class="errorLongitude text-danger d-none"></p>
                            </div>
                        </div>
                        <div class="col-4 col-sm-6">
                            <div class="form-group">
                                <label for="Latitude">Latitude</label>
                                <input type="text" class="form-control" id="Lat" name="Outlet_Latitude" placeholder="Outlet Latitude" autocomplete="off" />
                                <p class="errorLatitude text-danger d-none"></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Address1">Address1</label>
                        <textarea class="form-control" id="Outlet_Address1" name="Outlet_Address1" rows="5" placeholder="Outlet Address1" autocomplete="off"></textarea>
                        <p class="errorAddress1 text-danger d-none"></p>
                    </div>
                    <div class="form-group">
                        <label for="Address2">Address2</label>
                        <textarea class="form-control" id="Outlet_Address2" name="Outlet_Address2" placeholder="Outlet Address2" autocomplete="off"></textarea>
                        <p class="errorAddress2 text-danger d-none"></p>
                    </div>
                    <div id="active" class="form-group">
                        <label>Active</label>
                        <select class="form-control selectpicker" id="Outlet_Isactive" name="Outlet_Isactive" title="Select">
                            <option value="true">Active</option>
                            <option value="false">NonActive</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" data-dismiss="modal">
                Close
            </button>
            <button class="btn btn-primary add" data-request-url="@Url.Action("AddUpd", "Outlet")" type="button">
                Submit
            </button>
            <button class="btn btn-primary addL d-none" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </div>
    </div>
</div>

<script>
    
$('.modal-footer').on('click', '.add', function () {
    $(".addL").removeClass("d-none");
    $(".add").addClass("d-none");
    $.ajax({
        type: 'POST',
        url: $(this).data('request-url'),
        data: {
            'Outlet_ID': $("#id").val(),
            'Outlet_Picture': $("#Outlet_Image").val(),
            'Outlet_Code': $("#Outlet_Code").val(),
            'Outlet_Name': $("#Outlet_Name").val(),
            'Outlet_Email': $("#Outlet_Email").val(),
            'Outlet_GroupCode': $("#Outlet_GroupCode").val(),
            'Outlet_Type': $("#Outlet_Type").val(),
            'Outlet_Desc': $("#Outlet_Desc").val(),
            'Outlet_AreaID': $("#Outlet_AreaID").val(),
            'Outlet_Repeat_IDX': $("#Outlet_Repeat_IDX").val(),
            'Outlet_Zipcode': $("#Outlet_Zipcode").val(),
            'Outlet_Phone': $("#Outlet_Phone").val(),
            'Outlet_Longitude': $("#Long").val(),
            'Outlet_Latitude': $("#Lat").val(),
            'Outlet_Address1': $("#Outlet_Address1").val(),
            'Outlet_Address2': $("#Outlet_Address2").val(),
            'Outlet_Isactive': $("#Outlet_Isactive").val()
        },
        success: function (data) {            
            $('.errorCode').addClass('d-none');
            $('.errorName').addClass('d-none');
            $('.errorArea').addClass('d-none');
            $('.errorLongitude').addClass('d-none');
            $('.errorLatitude').addClass('d-none');
            $('.errorDesc').addClass('d-none');
            $('.errorAddress1').addClass('d-none');
            $('.errorAddress2').addClass('d-none');
            $('.errorPhone').addClass('d-none');
            $('.errorPos').addClass('d-none');
            $('.errorEmail').addClass('d-none');

            if (data == "success") {
                cleanValue();
                $('#ModalAU').modal('hide');
                swal("Success", "add " + ViewBag + " successfully", {
                    icon: "success",
                    buttons: false,
                    timer: 2000,
                });
                document.getElementsByName("refresh")[0].click();

            } else if (data == "failed") {
                cleanValue();
                $('#ModalAU').modal('hide');
                swal("Failed!", "failed", {
                    icon: "error",
                    buttons: false,
                    timer: 2000,
                });
            } else if (data == "update") {
                cleanValue();
                $('#ModalAU').modal('hide');
                swal("Success", "update " + ViewBag + " successfully", {
                    icon: "success",
                    buttons: false,
                    timer: 2000,
                });
                document.getElementsByName("refresh")[0].click();

            } else if (data == "has") {
                cleanValue();
                $('#ModalAU').modal('hide');
                swal("oopppsss!", "data with that code already exists!", {
                    icon: "warning",
                    buttons: false,
                    timer: 2000,
                });
                document.getElementsByName("refresh")[0].click();

            } else {
                if ((data.errorModel.length > 0)) {
                    $(".addL").addClass("d-none");
                    $(".add").removeClass("d-none");
                              
                    for (var i = 0; i < data.errorModel.length; i++) {
                        if (data.errorModel[i]["key"] == "Outlet_Code") {
                            $('.errorCode').removeClass('d-none');
                            $('.errorCode').text(data.errorModel[i]["errors"]);
                        }

                        if (data.errorModel[i]["key"] == "Outlet_Name") {
                            $('.errorName').removeClass('d-none');
                            $('.errorName').text(data.errorModel[i]["errors"]);
                        }

                        if (data.errorModel[i]["key"] == "Outlet_Longitude") {
                            $('.errorLongitude').removeClass('d-none');
                            $('.errorLongitude').text(data.errorModel[i]["errors"]);
                        }

                        if (data.errorModel[i]["key"] == "Outlet_Latitude") {
                            $('.errorLatitude').removeClass('d-none');
                            $('.errorLatitude').text(data.errorModel[i]["errors"]);
                        }

                        if (data.errorModel[i]["key"] == "Outlet_AreaID") {
                            $('.errorArea').removeClass('d-none');
                            $('.errorArea').text(data.errorModel[i]["errors"]);
                        }

                        if (data.errorModel[i]["key"] == "Outlet_Desc") {
                            $('.errorDesc').removeClass('d-none');
                            $('.errorDesc').text(data.errorModel[i]["errors"]);
                        }

                        if (data.errorModel[i]["key"] == "Outlet_Address1") {
                            $('.errorAddress1').removeClass('d-none');
                            $('.errorAddress1').text(data.errorModel[i]["errors"]);
                        }

                        if (data.errorModel[i]["key"] == "Outlet_Address2") {
                            $('.errorAddress2').removeClass('d-none');
                            $('.errorAddress2').text(data.errorModel[i]["errors"]);
                        }

                        if (data.errorModel[i]["key"] == "Outlet_Phone") {
                            $('.errorPhone').removeClass('d-none');
                            $('.errorPhone').text(data.errorModel[i]["errors"]);
                        }

                        if (data.errorModel[i]["key"] == "Outlet_Zipcode") {
                            $('.errorPos').removeClass('d-none');
                            $('.errorPos').text(data.errorModel[i]["errors"]);
                        }

                        if (data.errorModel[i]["key"] == "Outlet_Email") {
                            $('.errorEmail').removeClass('d-none');
                            $('.errorEmail').text(data.errorModel[i]["errors"]);
                        }
                    }
                }
            }
        },
    });
});

$('.modal-footer').on('click', '.delete', function () {
    $(".deleteL").removeClass("d-none");
    $(".delete").addClass("d-none");
    $.ajax({
        type: 'POST',
        url: $(this).data('request-url'),
        data: {
            'Outlet_ID': $("#idDel").val(),
        },
        success: function (data) {
            $("#ModalDelete").modal('hide');
            $(".deleteL").addClass("d-none");
            $(".delete").removeClass("d-none");
            if (data == 1) {
                document.getElementsByName("refresh")[0].click();
                swal("Success", "delete " + ViewBag +" successfully", {
                    icon: "success",
                    buttons: false,
                    timer: 2000,
                });
            } else {
                swal("Failed!", "delete " + ViewBag +" failed", {
                    icon: "error",
                    buttons: false,
                    timer: 2000,
                });
            }
        },
    });
});
</script>