﻿@model List<b2bWeb.Models.Menu>
@using b2bWeb.Models
@{
    var menu = ViewBag.Menu as List<Menu>;
}

<nav>   
    <ul class="nav nav-tabs">
        @{
            foreach (var a in menu ?? new List<Menu>())
            {
                <li class="nav-item" id="@a.Menu_Analytics_Controller.Trim()">
                    <a class="nav-link" href="@Url.Action(a.Menu_Analytics_Controller.Trim(), "Analytics")">@a.Menu_Analytics_Name</a>
                </li>

                if (menu.Count == 1)
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action(a.Menu_Analytics_Controller.Trim(), "Analytics")">@a.Menu_Analytics_Name</a>
                    </li>
                    <script>
                       document.getElementById("@a.Menu_Analytics_Controller.Trim()").remove();
                    </script>
                }
                else if (a.Menu_Analytics_Controller.Trim() == "Index")
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action(a.Menu_Analytics_Controller.Trim(), "Analytics")">@a.Menu_Analytics_Name</a>
                    </li>
                    <script>
                       document.getElementById("@a.Menu_Analytics_Controller.Trim()").remove();
                    </script>
                }
            }
        }
    </ul>
</nav>

<div class="embed-responsive embed-responsive-16by9">
    @{
        foreach (var a in menu ?? new List<Menu>())
        {
            if (menu.Count == 1)
            { 
                <iframe class="embed-responsive-item" src="@a.Menu_Analytics_Url" frameborder="0" allowFullScreen="true"></iframe>
            }else if (a.Menu_Analytics_Controller.Trim() == "Index")
            {
                <iframe class="embed-responsive-item" src="@a.Menu_Analytics_Url" frameborder="0" allowFullScreen="true"></iframe>
            }
        }
    }
</div>


