﻿@model b2bWeb.Models.rowsEmployee
@using b2bWeb.Models
@{
    var employee = ViewBag.Employee as List<Employee> ?? new List<Employee>();
    var role = ViewBag.Role as List<Role> ?? new List<Role>();
}

<link rel="stylesheet" href="https://foliotek.github.io/Croppie/croppie.css">

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <span class="input-group-btn">
                            <a class="btn btn-outline-primary create" href="javascript:void(0)">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add
                            </a>
                        </span>
                        <span class="input-group-btn">
                            <a class="btn btn-outline-secondary import" href="javascript:void(0)">
                                <i class="fa fa-upload"></i>&nbsp;Import
                            </a>
                        </span>
                        <span class="input-group-btn">
                            <a class="btn btn-outline-success" href="@Url.Action("ExportToExcel", "Home")">
                                <i class="fa fa-download"></i>&nbsp;Excel
                            </a>
                        </span>
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataEmployee", "home")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">ACTION</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Employee_IsActive)" data-formatter="ToYesNo">ACTIVE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Employee_NIK)">NIK(HP)</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Employee_Password)">PASSWORD</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Employee_Name)">NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Employee_Phone)">PHONE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Employee_Email)">EMAIL</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Role_Name)">ROLE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Employee_isB2b)" data-formatter="ToYesNo">B2B(WEBSITE)</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Employee_Photo)" data-formatter="imageFormatter">PHOTO</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Employee_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Insert_Name)">INSERT BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Employee_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Update_Name)">UPDATE BY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("_ScriptTable"); }

<!-- Modal Add & update -->
<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Image</label><br />
                    <a class="mg-b-10" href="#" data-toggle="modal" data-target="#ChooseImageEmployee_Photo">
                        <img id="ImagesEmployee_Photo" src="~/Content/images/default-image.png" style="width:150px; height:150px;" />
                    </a>
                    <span>klik image</span>
                    <input type="hidden" name="Employee_Photo" id="Employee_Photo" />
                </div>
                <div class="form-group">
                    <label for="">NIK(HP)</label>
                    <input type="text" class="form-control" id="Employee_NIK" name="Employee_NIK" placeholder="NIK" autocomplete="off" />
                    <p class="errorNIK text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" id="Employee_Name" name="Employee_Name" placeholder="Name" autocomplete="off" />
                    <p class="errorName text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="text" class="form-control" id="Employee_Password" name="Employee_Password" placeholder="Password" autocomplete="off" />
                    <p class="errorPassword text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" class="form-control" id="Employee_Phone" name="Employee_Phone" placeholder="Phone" autocomplete="off" />
                    <p class="errorPhone text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control" id="Employee_Email" name="Employee_Email" placeholder="Email" autocomplete="off" />
                    <p class="errorEmail text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Role</label>
                    <select class="form-control selectpicker" data-live-search="true" id="Employee_Role" name="Employee_Role" title="Role">
                        @foreach (var dis in role ?? new List<Role>())
                        {
                            <option value="@dis.Role_ID">@dis.Role_Name</option>
                        }
                    </select>
                    <p class="errorRole text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="Type">B2B(WEBSITE)</label>
                    <select class="form-control selectpicker" id="Employee_isB2b" name="Employee_isB2b" title="B2B">
                        <option value="true">Active</option>
                        <option value="false">NonActive</option>
                    </select>
                    <p class="errorB2B text-danger d-none"></p>
                </div>               
                <div class="form-group">
                    <label for="">Leader</label>
                    <select class="form-control selectpicker" data-live-search="true" id="Employee_LeaderNik" name="Employee_LeaderNik" title="Leader">
                        @foreach (var E in employee ?? new List<Employee>())
                            {
                                <option value="@E.Employee_NIK">@E.Employee_Name</option>
                            }
                    </select>
                    <p class="errorLeader text-danger d-none"></p>
                </div>
                <div id="active" class="form-group">
                    <label>Active</label>
                    <select class="form-control selectpicker" id="Employee_IsActive" name="Employee_IsActive" title="Select">
                        <option value="true">Active</option>
                        <option value="false">NonActive</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-primary add" data-request-url="@Url.Action("AddUpd", "Home")" type="button">
                    Submit
                </button>
                <button class="btn btn-primary addL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal image-->
<div class="modal fade" id="ChooseImageEmployee_Photo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6183ff;">
                <h5 class="" id=""><span style="color: #ffffff">Choose Image</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="file-upload-inner ts-forms">
                    <div class="input prepend-big-btn">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input type="file" id="uploadEmployee_Photo" name="ImagesLogo" class="form-control">
                                <br />
                                <div id="upload-Employee_Photo" style="width:300px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary upload-Employee_Photo">Choose</button>
            </div>
        </div>
    </div>
</div>

<!-- modal import -->
<div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-6">
                    <p>
                        for the example of Template click <a href="@Url.Action("ExportTemplate", "Home")" class="btn btn-primary btn-sm">here</a>
                        @*<button class="btn btn-primary templateL btn-sm d-none" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>*@
                    </p>
                    <div class="form-group">
                        <input type="file" id="input-excel" class="form-control" name="postedFile" required />
                        <p class="errorImport text-danger d-none">file is required!</p>
                    </div>
                </div>
                <div id="result-table" class="d-none table-responsive">
                    <table id="table_import" class="table table-bordered table-sm">
                        <thead>
                            <tr class="text-uppercase">
                                <th>Employee NIK</th>
                                <th>Employee Name</th>
                                <th>Employee Password</th>
                                <th>Employee Phone</th>
                                <th>Employee Email</th>
                                <th>Employee LeaderNIK</th>
                                <th>Employee Role</th>
                                <th>Employee Role Name</th>
                                <th>Employee B2b(WEBSITE)</th>
                            </tr>
                        </thead>
                        <tbody id="qw"></tbody>
                    </table>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary Import" data-request-url="@Url.Action("Import", "Home")">Import</button>
                <button class="btn btn-primary ImportL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal delete -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#e82323">
                <h5 class="modal-title text-white" id="exampleModalLabel">Delete @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="javascript:void(0)" role="form">
                <div class="modal-body">
                    <input id="idDel" type="hidden" class="form-control" name="id" value="">
                    Are you sure you want to delete @ViewBag.Title "<b><span id="nameDel"></span></b>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel!</button>
                    <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "Home")">Yes, delete it!</button>
                    <button class="btn btn-primary deleteL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://foliotek.github.io/Croppie/croppie.js"></script>
<script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
</script>
<script src="~/Scripts/data/Employee.js"></script>