﻿@model b2bWeb.Models.rowsMobile_Menu
@using b2bWeb.Models
@{
    var Role = ViewBag.Role as List<Role> ?? new List<Role>();
    var GEMenu = ViewBag.GEMenu as List<GoldenEyeMenu> ?? new List<GoldenEyeMenu>();
}

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <span class="input-group-btn">
                            <a class="btn btn-outline-primary create" href="javascript:void(0)">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add
                            </a>
                        </span>
                        @*<span class="input-group-btn">
                                <a class="btn btn-outline-secondary import" href="javascript:void(0)">
                                    <i class="fa fa-upload"></i>&nbsp;Import
                                </a>
                            </span>
                            <span class="input-group-btn">
                                <a class="btn btn-outline-success" href="@Url.Action("ExportToExcel", "Brand")">
                                    <i class="fa fa-download"></i>&nbsp;Excel
                                </a>
                            </span>*@
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataMobile_Menu", "GEMenu")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">ACTION</th>
                                <th data-field="@Html.DisplayNameFor(m => m.MM_IsActive)" data-formatter="ToYesNo">ACTIVE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.MM_Role_Name)">ROLE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.MM_GoldenEye_Name)">GOLDENEYE MENU</th>
                                <th data-field="@Html.DisplayNameFor(m => m.MM_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.MM_InsertBy_Name)">INSERT BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.MM_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.MM_UpdateBy_Name)">UPDATE BY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("_ScriptTable"); }

<!-- Modal Add & update -->
@*data-show-refresh="true"*@
<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Role</label>
                    <input type="hidden" class="form-control" id="id" name="id" value="" />
                    <select class="form-control selectpicker" data-live-search="true" id="MM_Role_ID" name="MM_Role_ID" title="Role">
                        @foreach (var dis in Role ?? new List<Role>())
                        {
                            <option value="@dis.Role_ID">@dis.Role_Name</option>
                        }
                    </select>
                    <p class="errorRole text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Role</label>
                    <select class="form-control selectpicker" data-live-search="true" id="MM_Menu_GoldenEye_ID" name="MM_Menu_GoldenEye_ID" title="GoldenEye Menu">
                        @foreach (var dis in GEMenu ?? new List<GoldenEyeMenu>())
                        {
                            <option value="@dis.MMG_ID">@dis.MMG_Name</option>
                        }
                    </select>
                    <p class="errorMenu text-danger d-none"></p>
                </div>
                <div id="active" class="form-group">
                    <label>Active</label>
                    <select class="form-control selectpicker" id="MM_IsActive" name="MM_IsActive" title="Select">
                        <option value="true">Active</option>
                        <option value="false">NonActive</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-primary add" data-request-url="@Url.Action("AddUd", "GEMenu")" type="button">
                    Submit
                </button>
                <button class="btn btn-primary addL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal import
<div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <div class="col-sm-6">
                        <p>
                            for the example of Template click <a href="@Url.Action("ExportTemplate", "Brand")" class="btn btn-primary btn-sm">here</a>
                            @*<button class="btn btn-primary templateL btn-sm d-none" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </button>*@
                        </p>
                        <div class="form-group">
                            <input type="file" id="input-excel" class="form-control" name="postedFile" required />
                            <p class="errorImport text-danger d-none">file is required!</p>
                        </div>
                    </div>
                    <div id="result-table" class="d-none table-responsive">
                        <table id="table_import" class="table table-bordered table-sm">
                            <thead>
                                <tr class="text-uppercase">
                                    <th>Category Code</th>
                                    <th>Category Name</th>
                                    <th>Category Desc</th>
                                </tr>
                            </thead>
                            <tbody id="qw"></tbody>
                        </table>
                        <br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary Import" data-request-url="@Url.Action("Import", "Brand")">Import</button>
                    <button class="btn btn-primary ImportL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
        </div>
    </div>
</div>-->
<!-- modal delete -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#e82323">
                <h5 class="modal-title text-white" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="javascript:void(0)" role="form">
                <div class="modal-body">
                    <input id="idDel" type="hidden" class="form-control" name="id" value="">
                    Are you sure you want to delete @ViewBag.Title "<b><span id="nameDel"></span></b>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel!</button>
                    <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "GEMenu")">Yes, delete it!</button>
                    <button class="btn btn-primary deleteL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
</script>
<script src="~/Scripts/data/Menu_Mobile.js"></script>