﻿@model b2bWeb.Models.rowsItem
@using b2bWeb.Models
@{
    var Category = ViewBag.Category as List<Category> ?? new List<Category>();
}
    <link rel="stylesheet" href="https://foliotek.github.io/Croppie/croppie.css">

    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-transparent">@ViewBag.Title</div>
                <div class="card-body">
                    <div class="table-responsive text-nowrap mb-1">
                        <div id="toolbar">
                            <span class="input-group-btn">
                                <a class="btn btn-outline-primary create" href="javascript:void(0)">
                                    <i class="fa fa-plus-circle"></i>&nbsp;Add
                                </a>
                            </span>
                            <span class="input-group-btn">
                                <a class="btn btn-outline-secondary import" href="javascript:void(0)">
                                    <i class="fa fa-upload"></i>&nbsp;Import
                                </a>
                            </span>
                            <span class="input-group-btn">
                                <a class="btn btn-outline-success" href="@Url.Action("ExportToExcel", "Item")">
                                    <i class="fa fa-download"></i>&nbsp;Excel
                                </a>
                            </span>
                        </div>
                        <table id="table"
                               data-toggle="table"
                               data-toolbar="#toolbar"
                               data-search="true"
                               data-show-refresh="true"
                               data-show-toggle="true"
                               data-show-columns="true"
                               data-pagination="true"
                               data-side-pagination="server"
                               data-url="@Url.Action("GetDataItem", "Item")"
                               data-query-params-type="false"
                               data-buttons-class="primary"
                               class="table table-bordered table-sm table-hover">
                            <thead>
                                <tr>
                                    <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">ACTION</th>
                                    <th data-field="@Html.DisplayNameFor(m => m.Item_IsActive)" data-formatter="ToYesNo">ACTIVE</th>
                                    <th data-field="@Html.DisplayNameFor(m => m.Item_Code)">CODE</th>
                                    <th data-field="@Html.DisplayNameFor(m => m.Item_Name)">NAME</th>
                                    <th data-field="@Html.DisplayNameFor(m => m.Category_Name)">BRAND</th>
                                    <th data-field="@Html.DisplayNameFor(m => m.Item_Desc)">DESC</th>
                                    <th data-field="@Html.DisplayNameFor(m => m.Item_Desc_Detail)">DETAIL DESC</th>
                                    <th data-field="@Html.DisplayNameFor(m => m.Item_Price)" data-formatter="ToRp">PRICE</th>
                                    <th data-field="@Html.DisplayNameFor(m => m.Item_Image1)" data-formatter="imageFormatter">IMAGE</th>
                                    <th data-field="@Html.DisplayNameFor(m => m.Item_Sampling)" data-formatter="ToYesNo">SAMPLING</th>
                                    <th data-field="@Html.DisplayNameFor(m => m.Item_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                    <th data-field="@Html.DisplayNameFor(m => m.Insert_Name)">INSERT BY</th>
                                    <th data-field="@Html.DisplayNameFor(m => m.Item_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                                    <th data-field="@Html.DisplayNameFor(m => m.Update_Name)">UPDATE BY</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{ Html.RenderPartial("_ScriptTable"); }    

    <!-- Modal Add & update -->
    @*data-show-refresh="true"*@
    <div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-dark"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Image</label><br />
                        <a class="mg-b-10" href="#" data-toggle="modal" data-target="#ChooseImageItem_Image1">
                            <img id="ImagesItem_Image1" src="~/Content/images/default-image.png" style="width:150px; height:150px;" />
                        </a>
                        <span>klik image</span>
                        <input type="hidden" name="Item_Image1" id="Item_Image1" />
                    </div>
                    <div class="form-group">
                        <label for="">Code</label>
                        <input type="hidden" class="form-control" id="id" name="id" value="" />
                        <input type="text" class="form-control" id="Item_Code" name="Item_Code" placeholder="item code" autocomplete="off" />
                        <p class="errorCode text-danger d-none"></p>
                    </div>
                    <div class="form-group">
                        <label for="">Name</label>
                        <input type="text" class="form-control" id="Item_Name" name="Item_Name" placeholder="item name" autocomplete="off" />
                        <p class="errorName text-danger d-none"></p>
                    </div>
                    <div class="form-group">
                        <label for="">Desc</label>
                        <input type="text" class="form-control" id="Item_Desc" name="Item_Desc" placeholder="item desc" autocomplete="off" />
                        <p class="errorDesc text-danger d-none"></p>
                    </div>
                    <div class="form-group">
                        <label for="">Desc Detail</label>
                        <input type="text" class="form-control" id="Item_Desc_Detail" name="Item_Desc_Detail" placeholder="item desc detail" autocomplete="off" />
                        <p class="errorDescDetail text-danger d-none"></p>
                    </div>                    
                    <div class="form-group">
                        <label for="">Brand</label>
                        <select class="form-control selectpicker" data-live-search="true" id="Item_CategoryCode" name="Item_CategoryCode" title="brand">
                            @foreach (var dis in Category ?? new List<Category>())
                            {
                                <option value="@dis.Category_Code">@dis.Category_Name</option>
                            }
                        </select>
                        <p class="errorBrand text-danger d-none"></p>
                    </div>
                    <div class="form-group">
                        <label for="">Price</label>
                        <input type="text" class="form-control rupiah" id="Item_Price" name="Item_Price" placeholder="price" autocomplete="off" />
                        <p class="errorPrice text-danger d-none"></p>
                    </div>
                    <div class="form-group">
                        <label>Sampling</label>
                        <select class="form-control selectpicker" id="Item_Sampling" name="Item_Sampling" title="Select">
                            <option value="true">Active</option>
                            <option value="false">NonActive</option>
                        </select>
                        <p class="errorSampling text-danger d-none"></p>
                    </div>
                    <div id="active" class="form-group">
                        <label>Active</label>
                        <select class="form-control selectpicker" id="Item_IsActive" name="Item_IsActive" title="Select">
                            <option value="true">Active</option>
                            <option value="false">NonActive</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Close
                    </button>
                    <button class="btn btn-primary add" data-request-url="@Url.Action("AddUp", "Item")" type="button">
                        Submit
                    </button>
                    <button class="btn btn-primary addL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal image-->
    <div class="modal fade" id="ChooseImageItem_Image1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#6183ff;">
                    <h5 class="" id=""><span style="color: #ffffff">Choose Image</span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="file-upload-inner ts-forms">
                        <div class="input prepend-big-btn">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <input type="file" id="uploadItem_Image1" name="Item_Image1" class="form-control">
                                    <br />
                                    <div id="upload-Item_Image1" style="width:300px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary upload-Item_Image1">Choose</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal import -->
    <div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Import @ViewBag.Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-sm-6">
                        <p>
                            for the example of Template click <a href="@Url.Action("ExportTemplate", "Item")" class="btn btn-primary btn-sm">here</a>
                            @*<button class="btn btn-primary templateL btn-sm d-none" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </button>*@
                        </p>
                        <div class="form-group">
                            <input type="file" id="input-excel" class="form-control" name="postedFile" required />
                            <p class="errorImport text-danger d-none">file is required!</p>
                        </div>
                    </div>
                    <div id="result-table" class="d-none table-responsive">
                        <table id="table_import" class="table table-bordered table-sm">
                            <thead>
                                <tr class="text-uppercase">
                                    <th>Item Code</th>
                                    <th>Item Name</th>
                                    <th>Item Desc</th>
                                    <th>Item Desc Detail</th>
                                    <th>Item Category/Brand Code</th>
                                    <th>Item Category/Brand Name</th>
                                    <th>Item Price</th>
                                </tr>
                            </thead>
                            <tbody id="qw"></tbody>
                        </table>
                        <br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary Import" data-request-url="@Url.Action("Import", "Item")">Import</button>
                    <button class="btn btn-primary ImportL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal delete -->
    <div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#e82323">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Delete @ViewBag.Title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="javascript:void(0)" role="form">
                    <div class="modal-body">
                        <input id="idDel" type="hidden" class="form-control" name="id" value="">
                        Are you sure you want to delete @ViewBag.Title "<b><span id="nameDel"></span></b>" ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel!</button>
                        <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "Item")">Yes, delete it!</button>
                        <button class="btn btn-primary deleteL d-none" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://foliotek.github.io/Croppie/croppie.js"></script>
    <script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
    </script>
    <script src="~/Scripts/data/Product.js"></script>