﻿    
<br />
<div class="row">
    <div class="col-6 text-center">        
        <img src="~/Content/images/404.png" />
    </div>
    <div class="col-6 text-left">
        <p class="page-msg"> Oops, the page can't be found</p>
        <p class="page-msg"> Please <a href="@Url.Action("index", "Dashboard")" class="btn btn-outline-success">Go Back</a> or call admin, :) </p>
    </div>
</div>
<br />
<br />