﻿@using b2bWeb.Models
@{
    var DASH = ViewBag.Dashboard as List<Dashboard>;
}

<style>
    .vl {
        border-left: 6px solid black;
        height: 500px;
    }
</style>

<div class="container-fluid">
    <!-- Page Heading -->    
    @using (Html.BeginForm("Index", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete="off"}))
    {
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="d-sm-flex align-items-center justify-content-between">
                                <h1 class="h3">Dashboard</h1>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input class="form-control" id="dateMonth" type="text" name="date" value="@ViewBag.Tgl">

                                &nbsp;
                                <span class="input-group-btn">
                                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                                        <i class="fa fa-search"></i>&nbsp;Search
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    }

    @*<div class="card">*@
    @if (TempData["Quantity"] != null)
    {
        @*<div class="card-body">*@
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="card mb-3">
                    <br />
                    <h2 class="text-center"><b>SALE QUANTITY</b></h2>
                    <canvas id="myChart" class="chartjs" width="1200" height="300"></canvas>
                    <div class="text-right">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total Sale Quantity</div>
                                    <div class="h1 mb-0 font-weight-bold text-dark"><b>@TempData["Quantity"]</b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-5">
                <div class="card">
                    <h2 class="text-center"><b> SALE AMOUNT</b></h2>
                    <canvas id="myChart2" class="chartjs" width="1200" height="300"></canvas>
                    <div class="text-right">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Sale Amount</div>
                                    <div class="h1 mb-0 font-weight-bold text-dark"><b>Rp. @TempData["TotalAmount"] </b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-5">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <div class="h-100 row align-items-center">
                            <div class="col">
                                <h1 class="abc"><b>SALE QUANTITY PER ITEM</b></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <canvas id="myChart3" class="chartjs" width="800" height="500"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <canvas id="myChart4" class="chartjs" width="800" height="500"></canvas>
                        </div>
                    </div>
                    <div class="col-md-6 text-left">
                        <div class="h-100 row align-items-center">
                            <div class="col">
                                <h1 class="abc"><b>SALE AMOUNT PER ITEM</b></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h5 class="text-center">No data for selling</h5>
    }

</div>
@{
    foreach (var M in DASH ?? new List<Dashboard>())
    {
        <div style="background-color:#f8f9fa;">
            <br />
            <h1 class="text-center"><b><u>MASTER</u></b></h1>
            <br />
            <div class="row d-flex justify-content-center" style="margin-left:0;">
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <i class="fa fa-line-chart" aria-hidden="true" style="font-size:20px;"></i><br />
                            <h1><b>@M.Dashboard_Product</b></h1>
                            <kbd class="bg-success">Product</kbd>
                            @*<span style="color:#f8f9fa; background-color:black"><b>Product</b></span>*@
                        </div>
                    </div>
                    <br />
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <i class="fa fa-users" aria-hidden="true" style="font-size:20px;"></i><br />
                            <h1><b>@M.Dashboard_Employee</b></h1>
                            <kbd class="bg-success">Employee</kbd>
                            @*<span style="color:#f8f9fa; background-color:black"><b>Employee</b></span>*@
                        </div>
                    </div>
                    <br />
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <i class="fa fa-pie-chart" aria-hidden="true" style="font-size:20px;"></i><br />
                            <h1><b>@M.Dashboard_Brand</b></h1>
                            <kbd class="bg-success">Brand</kbd>
                            @*<span style="color:#f8f9fa; background-color:black"><b>Brand</b></span>*@
                        </div>
                    </div>
                    <br />
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <i class="fa fa-building" aria-hidden="true" style="font-size:20px;"></i><br />
                            <h1><b>@M.Dashboard_Outlet</b></h1>
                            <kbd class="bg-success">Outlet</kbd>
                            @*<span style="color:#f8f9fa; background-color:black"><b>Outlet</b></span>*@
                        </div>
                    </div>
                    <br />
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <i class="fa fa-bar-chart" aria-hidden="true" style="font-size:20px;"></i><br />
                            <h1><b>@M.Dashboard_Route</b></h1>
                            <kbd class="bg-success">Route</kbd>
                            @*<span style="color:#f8f9fa; background-color:black"><b>Route</b></span>*@
                        </div>
                    </div>
                    <br />
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <i class="fa fa-area-chart" aria-hidden="true" style="font-size:20px;"></i><br />
                            <h1><b>@M.Dashboard_Area</b></h1>
                            <kbd class="bg-success">Area</kbd>
                            @*<span style="color:#f8f9fa; background-color:black"><b>Area</b></span>*@
                        </div>
                    </div>
                    <br />
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center">
                            <i class="fa fa-hand-paper-o" aria-hidden="true" style="font-size:20px;"></i><br />
                            <h1><b>@M.Dashboard_Respond</b></h1>
                            <kbd class="bg-success">Respond</kbd>
                            @*<span style="color:#f8f9fa; background-color:black"><b>Respond</b></span>*@
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <br />
        </div>
    }
}
<div class="container-fluid">
    <br /><br /><br /><br />
    <div class="col-md-12">
        <h1 class="text-center"><b><u>TRANSACTION</u></b></h1>
        <br />
        <div class="mb-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <canvas id="ChartDisplay" class="chartjs" width="1200" height="300"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <canvas id="ChartStock" class="chartjs" width="1200" height="300"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <canvas id="ChartComp" class="chartjs" width="1200" height="300"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <canvas id="ChartFeedback" class="chartjs" width="1200" height="300"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <canvas id="ChartSampling" class="chartjs" width="1200" height="300"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-3">
                        <canvas id="ChartCoaching" class="chartjs" width="1200" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

        //if (ViewBag.LabelDisplay != null) {
            var trans = document.getElementById('ChartDisplay').getContext('2d');
            var transchart = new Chart(trans, {
                // The type of chart we want to create
                type: 'line',

                // The data for our dataset
                data: {
                    labels: @Html.Raw(ViewBag.LabelDisplay),
                    datasets: [{
                        label: "Display",
                        backgroundColor: 'rgb(33, 40, 239)',
                        borderColor: 'rgb(33, 40, 239)',
                        fill: false,
                        data: @Html.Raw(ViewBag.dataDisplay),
                    }]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                }
            });
        //}


    //if (ViewBag.LabelStock != null) {
        var trans1 = document.getElementById('ChartStock').getContext('2d');
        var transchart1 = new Chart(trans1, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: @Html.Raw(ViewBag.LabelStock),
                datasets: [{
                    label: "Stock",
                    backgroundColor: 'rgb(16, 104, 31)',
                    borderColor: 'rgb(16, 104, 31)',
                    fill: false,
                    data: @Html.Raw(ViewBag.dataStock),
                }]
            },

            // Configuration options go here
            options: {
                responsive: true,
            }
        });
    //}

    //if (ViewBag.LabelComp != null) {
        var trans2 = document.getElementById('ChartComp').getContext('2d');
        var transchart2 = new Chart(trans2, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: @Html.Raw(ViewBag.LabelComp),
                datasets: [{
                    label: "Competitor",
                    backgroundColor: 'rgb(235, 239, 32)',
                    borderColor: 'rgb(235, 239, 32)',
                    fill: false,
                    data: @Html.Raw(ViewBag.dataComp),
                }]
            },

            // Configuration options go here
            options: {
                responsive: true,
            }
        });
    //}

    //if (ViewBag.LabelFeedback != null) {
        var trans3 = document.getElementById('ChartFeedback').getContext('2d');
        var transchart3 = new Chart(trans3, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: @Html.Raw(ViewBag.LabelFeedback),
                datasets: [{
                    label: "Feedback",
                    backgroundColor: 'rgb(216, 118, 6)',
                    borderColor: 'rgb(216, 118, 6)',
                    fill: false,
                    data: @Html.Raw(ViewBag.dataFeedback),
                }]
            },

            // Configuration options go here
            options: {
                responsive: true,
            }
        });
    //}

    //if (ViewBag.LabelSampling != null) {
        var trans4 = document.getElementById('ChartSampling').getContext('2d');
        var transchart4 = new Chart(trans4, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: @Html.Raw(ViewBag.LabelSampling),
                datasets: [{
                    label: "Sampling",
                    backgroundColor: 'rgb(26, 232, 16)',
                    borderColor: 'rgb(26, 232, 16)',
                    fill: false,
                    data: @Html.Raw(ViewBag.dataSampling),
                }]
            },

            // Configuration options go here
            options: {
                responsive: true,
            }
        });
    //}

    //if (ViewBag.LabelCoaching != null) {
        var trans5 = document.getElementById('ChartCoaching').getContext('2d');
        var transchart5 = new Chart(trans5, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: @Html.Raw(ViewBag.LabelCoaching),
                datasets: [{
                    label: "Coaching",
                    backgroundColor: 'rgb(242, 0, 0)',
                    borderColor: 'rgb(242, 0, 0)',
                    fill: false,
                    data: @Html.Raw(ViewBag.dataCoaching),
                }]
            },

            // Configuration options go here
            options: {
                responsive: true,
            }
        });
    //}

    //if (ViewBag.Chart != null) {
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: @Html.Raw(ViewBag.Chart),
                datasets: [{
                    label: "sale Quantity",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    fill: true,
                    data: @Html.Raw(ViewBag.Qty),
                }]
            },

            // Configuration options go here
            options: {
                responsive: true,
            }
        });
    //}

    //if (ViewBag.Chart != null) {
        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var chart2 = new Chart(ctx2, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: @Html.Raw(ViewBag.Chart),
                datasets: [{
                    label: "sale Amount",
                    backgroundColor: 'rgb(98, 145, 255)',
                    borderColor: 'rgb(98, 145, 255)',
                    fill: true,
                    data: @Html.Raw(ViewBag.Amount),
                }]
            },

            // Configuration options go here
            options: {
                responsive: true,
                tooltips: {
                    callbacks: {
                        label: function (t, d) {
                            var xLabel = d.datasets[t.datasetIndex].label;
                            var yLabel = t.yLabel >= 1000 ? 'Rp' + t.yLabel.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : '$' + t.yLabel;
                            return xLabel + ': ' + yLabel;
                        }
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            callback: function (value, index, values) {
                                if (parseInt(value) >= 1000) {
                                    return 'Rp' + value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                } else {
                                    return 'Rp' + value;
                                }
                            }
                        }
                    }]
                }
            }
        });
    //}

    //if (ViewBag.PItem != null) {
        var ctx3 = document.getElementById('myChart3').getContext('2d');
        var chart3 = new Chart(ctx3, {
            // The type of chart we want to create
            type: 'pie',

            // The data for our dataset
            data: {
                labels: @Html.Raw(ViewBag.PItem),
                //labels: "",
                datasets: [{
                    label: "sales Amount",
                    backgroundColor: [
                        'rgb(255, 157, 97)',
                        'rgb(255, 207, 97)',
                        'rgb(255, 249, 97)',
                        'rgb(207, 255, 97)',
                        'rgb(97, 255, 97)',
                        'rgb(97, 255, 220)',
                        'rgb(90, 164, 196)',
                        'rgb(242, 107, 255)',
                        'rgb(255, 106, 205)',
                        'rgb(206, 177, 178)',
                        'rgb(182, 100, 244)',
                        'rgb(8, 14, 15)',
                        'rgb(130, 65, 5)',
                        'rgb(186, 221, 31)',
                        'rgb(118, 173, 110)',
                        'rgb(29, 66, 24)',
                        'rgb(114, 173, 144)',
                        'rgb(23, 109, 73)',
                        'rgb(88, 134, 150)',
                        'rgb(77, 154, 175)',
                        'rgb(59, 66, 68)',
                        'rgb(22, 41, 109)',
                        'rgb(137, 145, 175)',
                        'rgb(145, 135, 209)',
                        'rgb(174, 134, 209)',
                        'rgb(93, 41, 104)',
                        'rgb(219, 74, 249)',
                        'rgb(130, 0, 121)',
                        'rgb(94, 19, 89)',
                        'rgb(104, 71, 102)',
                        'rgb(107, 51, 103)',
                        'rgb(73, 14, 69)',
                    ],
                    data: @Html.Raw(ViewBag.PQty),
                }]
            },

            // Configuration options go here
            options: {
                responsive: true,
                legend: {
                    display: false,
                    //position: 'left'
                },
                title: {
                    display: true,
                    text: 'QUANTITY PER ITEM'
                }
            }
        });
    //}

    //if (ViewBag.PItem != null) {
        var ctx4 = document.getElementById('myChart4').getContext('2d');
        var chart4 = new Chart(ctx4, {
            // The type of chart we want to create
            type: 'pie',

            // The data for our dataset
            data: {
                labels: @Html.Raw(ViewBag.PItem),
                datasets: [{
                    //label: "Amount",
                    backgroundColor: [
                        'rgb(255, 157, 97)',
                        'rgb(255, 207, 97)',
                        'rgb(255, 249, 97)',
                        'rgb(207, 255, 97)',
                        'rgb(97, 255, 97)',
                        'rgb(97, 255, 220)',
                        'rgb(90, 164, 196)',
                        'rgb(242, 107, 255)',
                        'rgb(255, 106, 205)',
                        'rgb(206, 177, 178)',
                        'rgb(182, 100, 244)',
                        'rgb(8, 14, 15)',
                        'rgb(130, 65, 5)',
                        'rgb(186, 221, 31)',
                        'rgb(118, 173, 110)',
                        'rgb(29, 66, 24)',
                        'rgb(114, 173, 144)',
                        'rgb(23, 109, 73)',
                        'rgb(88, 134, 150)',
                        'rgb(77, 154, 175)',
                        'rgb(59, 66, 68)',
                        'rgb(22, 41, 109)',
                        'rgb(137, 145, 175)',
                        'rgb(145, 135, 209)',
                        'rgb(174, 134, 209)',
                        'rgb(93, 41, 104)',
                        'rgb(219, 74, 249)',
                        'rgb(130, 0, 121)',
                        'rgb(94, 19, 89)',
                        'rgb(104, 71, 102)',
                        'rgb(107, 51, 103)',
                        'rgb(73, 14, 69)',
                    ],
                    data: @Html.Raw(ViewBag.PAmount),
                }
                ]
            },

            // Configuration options go here
            options: {
                responsive: true,
                legend: {
                    display: false,
                    //position: 'right'
                },
                title: {
                    display: true,
                    text: 'AMOUNT PER ITEM'
                },
                tooltips: {
                    callbacks: {
                        label: function (t, d) {
                            var xAmount = d.datasets[0].data[t.index];
                            var xLabel = d.labels[t.index];
                            var yLabel = xAmount >= 1000 ? 'Rp' + xAmount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") : 'Rp' + xAmount;

                            return xLabel + ' : ' + yLabel;
                        }
                    }
                }
            }
        });
    //}

</script>
@*<script>
    $(document).ready(function () {
        $("#appendedInputButton").datepicker({
            dateFormat: 'MM yy',
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,

            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
        });

        $("#appendedInputButton").focus(function () {
            $(".ui-datepicker-calendar").hide();
            $("#ui-datepicker-div").position({
                my: "center top",
                at: "center bottom",
                of: $(this)
            });

        });
    });
</script>*@
