﻿@model b2bWeb.Models.rowsM_Batch_Number
@using b2bWeb.Models
@{
    var Item = ViewBag.Item as List<Item> ?? new List<Item>();
}

<style>
    .datepicker {
        z-index: 1600 !important; /* has to be larger than 1050 */
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <span class="input-group-btn">
                            <a class="btn btn-outline-primary create" href="javascript:void(0)">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add
                            </a>
                        </span>
                        <span class="input-group-btn">
                            <a class="btn btn-outline-secondary import" href="javascript:void(0)">
                                <i class="fa fa-upload"></i>&nbsp;Import
                            </a>
                        </span>
                        <span class="input-group-btn">
                            <a class="btn btn-outline-success" href="@Url.Action("ExportToExcel", "Batchnumber")">
                                <i class="fa fa-download"></i>&nbsp;Excel
                            </a>
                        </span>
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataBatchnumber", "batchnumber")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">ACTION</th>
                                <th data-field="@Html.DisplayNameFor(m => m.BN_IsActive)" data-formatter="ToYesNo">ACTIVE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Category_Name)">BRAND NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Product_Name)">PRODUCT NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.BN_BatchNumber)">BATCHNUMBER</th>
                                <th data-field="@Html.DisplayNameFor(m => m.BN_Exp_Date)" data-formatter="ToDateOnly">EXP DATE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.BN_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Insert_Name)">INSERT BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.BN_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Update_Name)">UPDATE BY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_ScriptTable"); }

<!-- Modal Add & update -->
@*data-show-refresh="true"*@
<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Name">Product</label>
                    <input type="hidden" class="form-control" id="id" name="id" value="" />
                    <select class="form-control selectpicker" data-live-search="true" id="BN_Item_Code" name="BN_Item_Code" title="Product">
                        @foreach (var a in Item ?? new List<Item>())
                        {
                            <option value="@a.Item_Code">@a.Item_Name</option>
                        }
                    </select>
                    <p class="errorItem text-danger d-none"></p>
                </div>                
                <div class="form-group">
                    <label for="">Batch Number</label>
                    <input type="text" class="form-control" id="BN_BatchNumber" name="BN_BatchNumber" placeholder="Batch Number" autocomplete="off" />
                    <p class="errorBatch text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Exp Date</label>
                    <input type="text" class="form-control " id="commonDate" name="BN_Exp_Date" placeholder="Exp Date" autocomplete="off" />
                    <p class="errorExp text-danger d-none"></p>
                </div>
                <div id="active" class="form-group">
                    <label>Active</label>
                    <select class="form-control selectpicker" id="BN_IsActive" name="BN_IsActive" title="Select">
                        <option value="true">Active</option>
                        <option value="false">NonActive</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-primary add" data-request-url="@Url.Action("AddUp", "Batchnumber")" type="button">
                    Submit
                </button>
                <button class="btn btn-primary addL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#e82323">
                <h5 class="modal-title text-white" id="exampleModalLabel">Delete @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="javascript:void(0)" role="form">
                <div class="modal-body">
                    <input id="idDel" type="hidden" class="form-control" name="id" value="">
                    Are you sure you want to delete @ViewBag.Title "<b><span id="nameDel"></span></b>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel!</button>
                    <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "Batchnumber")">Yes, delete it!</button>
                    <button class="btn btn-primary deleteL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- modal import -->
<div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-6">
                    <p>
                        for the example of Template click <a href="@Url.Action("ExportTemplate", "Batchnumber")" class="btn btn-primary btn-sm">here</a>
                        @*<button class="btn btn-primary templateL btn-sm d-none" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>*@
                    </p>
                    <div class="form-group">
                        <input type="file" id="input-excel" class="form-control" name="postedFile" required />
                        <p class="errorImport text-danger d-none">file is required!</p>
                    </div>
                </div>
                <div id="result-table" class="d-none table-responsive">
                    <table id="table_import" class="table table-bordered table-sm">
                        <thead>
                            <tr class="text-uppercase">
                                <th>Product Code</th>
                                <th>Product Name</th>
                                <th>BatchNumber</th>
                                <th>Exp Date</th>
                            </tr>
                        </thead>
                        <tbody id="qw"></tbody>
                    </table>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary Import" data-request-url="@Url.Action("Import", "Batchnumber")">Import</button>
                <button class="btn btn-primary ImportL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
</script>
<script src="~/Scripts/data/BatchNumber.js"></script>