﻿@model b2bWeb.Models.rowsOrder

<style>
    .datepicker {
        z-index: 1600 !important; /* has to be larger than 1050 */
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <div class="form-inline" role="form">
                            <span class="input-group-btn">
                                <a href="#" class="btn btn-outline-success my-2 my-sm-0" onclick="excel_date();">
                                    <i class="fa fa-download"></i>&nbsp;Excel
                                </a>
                            </span>
                            &nbsp;
                            <div class="form-group">
                                <input class="form-control" type="text" id="periode" name="periode" value="" placeholder="periode" size="21" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataOrder", "Purchase")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           data-query-params="queryParams"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatterDetailsOnly" data-events="operateEvents">DETAILS</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Order_InsertBy)">NIK</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Order_InsertBy_Name)">NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.TransCode)">TRANSCODE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Order_Transdate)" data-formatter="ToDateOnly">TRANSDATE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Order_Total_Amount)" data-formatter="ToRp">ORDER TOTAL AMOUNT</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Order_Total_Qty)">TOTAL QUANTITY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Code)">OUTLET CODE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Name)">OUTLET NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Order_IsDelete)" data-formatter="ToYesNo">DELETE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Order_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Order_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_ScriptTable"); }

<script>
    window.operateEvents = {
        'click .details': function (e, value, row, index) {
            $('#test').empty();
            $.ajax({
                url: "/Purchase/GetbyID/" + row.TransID,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    $('#Order_InsertOn').text(ToJavaScriptDateA(result[0].Order_InsertOn));
                    $('#TransCode').val(result[0].TransCode);
                    $('#Employee_Name').val(result[0].Employee_Name);
                    $('#Order_Total_Qty').val(result[0].Order_Total_Qty);
                    $('#Order_Total_Amount').val(convertToRupiah(result[0].Order_Total_Amount));

                    var len = result.length;

                    for (i = 0; i < len; ++i) {
                        $('#test').append(
                            '<div class="card text-center">' +                            
                            '<br><p class=""><img class="card-img-top" src="' + result[i].Item_Image1 + '" alt="" style="width:120px;height:140px;"></p>' +
                            '<div class="card-body">' +
                            '<h5 class="card-title">' + result[i].Item_Name + '' + '</h5>' +
                            '<span class="card-text">Price : ' + convertToRupiah(result[i].Order_Price) + '</span>' +
                            '<br />' +
                            '<span class="card-text">Quantity : ' + result[i].Order_Qty + '</span>' +
                            '</div>' +
                            '</div>');
                    }

                    $('#myModal').modal('show');
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            return false;
        }
    }
</script>

<div class="modal fade" id="myModal_excel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6183ff;">
                <h5 class="modal-title" id="myModalLabel" style="color: #ffffff">Export to Excel @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            @using (Html.BeginForm("ExportToExcel", "Purchase", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="text-uppercase">Start Date</label>
                        <div>
                            <input type="text" class="form-control" id="startDate" name="startDate" required autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="text-uppercase">End Date</label>
                        <div>
                            <input type="text" class="form-control" id="endDate" name="endDate" required autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">IMAGE</label>
                        <select class="custom-select" id="image_excel" name="image" required autocomplete="off">
                            <option value="">Select</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        <span id="image_value" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success ex">Excel</button>
                    <button class="btn btn-primary exL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">                
                <h4 class="modal-title" id="myModalLabel">Details Purchase</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <b><p class="text-right">Date = <span id="Order_InsertOn"></span></p></b>
                            <div class="row">
                                <div class="col-8 col-sm-6">
                                    <div class="form-group row">
                                        <label for="" class="col-sm-6 col-form-label">Trans Code:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="TransCode">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-sm-6 col-form-label">SPG Name:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="Employee_Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-6">
                                    <div class="form-group row">
                                        <label for="" class="col-sm-6 col-form-label">Total QTY:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="Order_Total_Qty">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-sm-6 col-form-label">Total Amount:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="Order_Total_Amount">
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="col-md-12">
                                    <div class="card-deck" id="test">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>