﻿@using MvcPaging
@model IPagedList<b2bWeb.Models.StockReport>

<div class="table-responsive text-nowrap mb-1">
    <table class="table table-bordered table-sm table-hover">
        <thead>
            <tr class="table-active text-uppercase">
                <th> Outlet Code</th>
                <th> Outlet Name</th>
                <th> Product Code</th>
                <th> Product Name</th>
                <th> Employee NIK</th>
                <th> Employee Name</th>
                <th> Sales TransDate</th>
                <th> Stock</th>
                <th> Sales Qty</th>
                <th> Sisa Stock</th>
                <th> Sales Total</th>
                @*<th> Opname Suggestion</th>
                    <th> Opname Delta</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Outlet_Code</td>
                    <td>@item.Outlet_Name</td>
                    <td>@item.Product_Code</td>
                    <td>@item.Product_Name</td>
                    <td>@item.Employee_NIK</td>
                    <td>@item.Employee_Name</td>
                    <td>@item.Sales_TransDate.ToString("dd-MM-yyyy")</td>
                    <td>@item.Opname_stock</td>
                    <td>@item.Sales_Qty</td>
                    <td>
                        @{
                            int A = item.Opname_stock - item.Sales_Qty;
                        }
                        @A
                    </td>
                    <td>@item.Sales_LineTotal.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("id-id"))</td>
                    @*<td>@item.Opname_Suggestion</td>
                        <td>@item.Opname_Delta</td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="alert alert-dismissible alert-dark" role="alert">
    <div class="pagination pagination-large light-theme">
        @Html.Raw(Ajax.Pager(
         new Options
         {
             PageSize = Model.PageSize,
             TotalItemCount = Model.TotalItemCount,
             CurrentPage = Model.PageNumber,
             ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous", Page = "" },
             ItemIcon = new ItemIcon() { First = "icon-backward", Previous = "icon-chevron-left", Next = "icon-chevron-right", Last = "icon-forward" },
             TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page {0}." },
             Size = Size.small,
             Alignment = Alignment.right,
             IsShowControls = true,
             IsShowFirstLast = true,
             IsShowPages = true,
             CssClass = ""
         },
         new AjaxOptions
         {
             UpdateTargetId = "grid-list",
             OnBegin = "beginPaging",
             OnSuccess = "successPaging",
             OnFailure = "failurePaging"
         }, new { controller = "StockReport", action = "Index", StockReposrt = ViewData["StockReposrt"], pilih = ViewData["pilih"], StartDate = ViewData["StartDate"], EndDate = ViewData["EndDate"],  }))
    </div>

    <p>
        Showing <span class="badge badge-success">@Model.ItemStart</span> to <span class="badge badge-success">@Model.ItemEnd</span>
        of <span class="badge badge-info">@Model.TotalItemCount</span> entries
    </p>
</div>