﻿@model b2bWeb.Models.rowsPopup

<link rel="stylesheet" href="https://foliotek.github.io/Croppie/croppie.css">
<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <span class="input-group-btn">
                            <a class="btn btn-outline-primary create" href="javascript:void(0)">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add
                            </a>
                        </span>
                        @*<span class="input-group-btn">
                                <a class="btn btn-outline-secondary import" href="javascript:void(0)">
                                    <i class="fa fa-upload"></i>&nbsp;Import
                                </a>
                            </span>
                            <span class="input-group-btn">
                                <a class="btn btn-outline-success" href="@Url.Action("ExportToExcel", "Promo")">
                                    <i class="fa fa-download"></i>&nbsp;Excel
                                </a>
                            </span>*@
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataPopup", "Popup")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">ACTION</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Pop_IsActive)" data-formatter="ToYesNo">ACTIVE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Pop_Name)">NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Pop_Module)">MODULE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Pop_Pict)" data-formatter="imageFormatter">IMAGE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Pop_Text)">TEXT</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Pop_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Pop_InsertBy_Name)">INSERT BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Pop_EditOn)" data-formatter="ToDate">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Pop_EditBy_Name)">UPDATE BY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_ScriptTable"); }

<!-- Modal Add & update -->
<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Popup Name</label>
                    <input type="hidden" class="form-control" id="id" name="id" value="" />
                    <input type="text" class="form-control" id="Pop_Name" name="Pop_Name" placeholder="popup name" autocomplete="off" />
                    <p class="errorName text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Popup Module</label>
                    <select class="form-control selectpicker" data-live-search="true" id="Pop_Module" name="Pop_Module" title="choose">
                        <option value="NOO">NOO</option>
                        <option value="STOCK">STOCK</option>
                        <option value="SAMPLING">SAMPLING</option>
                        <option value="SALES">SALES</option>
                        <option value="EXP_DATE">EXP_DATE</option>
                        <option value="COACHING_MENTORING">COACHING_MENTORING</option>
                        <option value="PLANOGRAM">DISPLAY</option>
                        <option value="COLLECTION">COLLECTION</option>
                        <option value="DELIVERY">DELIVERY</option>
                        <option value="PENGAMBILA_BARANG">PENGAMBILA_BARANG</option>
                        <option value="PURCHASE">PURCHASE</option>
                        <option value="COMPETITOR">COMPETITOR</option>
                        <option value="FEEDBACK">FEEDBACK</option>
                        <option value="ACTIVITY">ACTIVITY</option>
                        <option value="SPENDING_FEE">SPENDING_FEE</option>
                        <option value="TRACKING">TRACKING</option>
                        <option value="COACHING_MENTORING">COACHING_MENTORING</option>
                        <option value="TASK">TASK</option>
                        <option value="SURVEY_TELESALES">SURVEY_TELESALES</option>
                    </select>
                    <p class="errorModule text-danger d-none"></p>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 col-form-label">
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" onclick="image()" id="radio1" type="radio" value="1">
                            <label class="form-check-label" for="radio1">Image</label>
                        </div>
                        <div class="form-check form-check-inline mr-1">
                            <input class="form-check-input" onclick="text()" id="radio2" type="radio" value="2">
                            <label class="form-check-label" for="radio2">Text</label>
                        </div>
                    </div>
                    <div class="col-md-12 col-form-label">
                        <div class="collapse" id="collapse1">
                            <div class="card card-body">
                                <div class=row>
                                    <div class="col-md-6">                                        
                                        <div class="form-group">
                                            <label for="">Image</label><br />
                                            <a class="mg-b-10" href="#" data-toggle="modal" data-target="#ChooseImagePop_Pict">
                                                <img id="ImagesPop_Pict" src="~/Content/images/default-image.png" style="width:150px; height:150px;" />
                                            </a>
                                            <span>klik image</span>
                                            <input type="hidden" name="Pop_Pict" id="Pop_Pict" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapse" id="collapse2">
                            <div class="card card-body">
                                <div class="form-group">
                                    <label for="">Pop Text</label>
                                    <textarea class="form-control" rows="5" id="Pop_Text" name="Pop_Text"></textarea>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="active" class="form-group">
                    <label>Active</label>
                    <select class="form-control selectpicker" id="Pop_IsActive" name="Pop_IsActive" title="Select">
                        <option value="true">Active</option>
                        <option value="false">NonActive</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-primary add" data-request-url="@Url.Action("AddUp", "Popup")" type="button">
                    Submit
                </button>
                <button class="btn btn-primary addL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal image1-->
<div class="modal fade" id="ChooseImagePop_Pict" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6183ff;">
                <h5 class="" id=""><span style="color: #ffffff">Choose Image</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="file-upload-inner ts-forms">
                    <div class="input prepend-big-btn">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input type="file" id="uploadPop_Pict" name="ImagesLogo" class="form-control">
                                <br />
                                <div id="upload-Pop_Pict" style="width:300px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary upload-Pop_Pict">Choose</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#e82323">
                <h5 class="modal-title text-white" id="exampleModalLabel">Delete @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="javascript:void(0)" role="form">
                <div class="modal-body">
                    <input id="idDel" type="hidden" class="form-control" name="id" value="">
                    Are you sure you want to delete @ViewBag.Title "<b><span id="nameDel"></span></b>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel!</button>
                    <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "Popup")">Yes, delete it!</button>
                    <button class="btn btn-primary deleteL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://foliotek.github.io/Croppie/croppie.js"></script>
<script type="text/javascript">
     var ViewBag = '@ViewBag.Title';
</script>
<script src="~/Scripts/data/Popup.js"></script>