﻿@{
    Layout = null;
}
@model b2bWeb.Models.Company
@using b2bWeb.Models
@*@{
    var Paket = ViewBag.Data;
}*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GoldenEye.ID</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="field force application, sfa, sales force application, team, collaboration, tools, analytics, real-time, performance" name="keywords">
    <meta content="information about goldeneye application for field forces" name="description">

    <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
    <!-- Favicons -->
    <link href="https://goldeneye.id/img/favicon.png" rel="icon">
    <link href="https://goldeneye.id/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="https://goldeneye.id/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="https://goldeneye.id/lib/animate/animate.min.css" rel="stylesheet">
    <link href="https://goldeneye.id/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="https://goldeneye.id/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://goldeneye.id/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="http://demo.itsolutionstuff.com/plugin/croppie.css">

    <!-- Main Stylesheet File -->
    <link href="https://goldeneye.id/css/style.css" rel="stylesheet">
    <!-- =======================================================
      Theme Name: NewBiz
      Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
    <link href="~/Content/Register.css" rel="stylesheet" />
</head>

<body>

    <!--==========================
    Header
    ============================-->
    <header id="header" class="fixed-top">
        <div class="container">
            <div class="logo d-flex justify-content-center">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
                <a href="#intro" class="scrollto py-0"><img src="https://goldeneye.id/img/logo.png" alt="" class="img-fluid"></a>
            </div>
        </div>
    </header><!-- #header -->
    <br /><br /><br />
    <main id="main">

        <!--==========================
          About Us Section
        ============================-->
        <div class="mb-5"></div>
        <div class="mb-5"></div>
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-dark">Goldeneye.id</h1>
                        <p>Empower team activities into accountable performance</p>
                        <ul>
                            <li>
                                Mendapatkan insight dan gambaran kondisi di lapangan.
                            </li>
                            <li>
                                Pemilik product dapat memantau & menganalisa team yang bekerja dilapangan secara real-time.
                            </li>
                            <li>
                                Memiliki Standard dan kepastian kerja bagi team dilapangan.
                            </li>
                            <li>
                                Penggunaan teknologi terbaik baik untuk rute dengan teknologi terbaik optimise Google Maps, pengenalan wajah dan GPS Location dengan google Maps.
                            </li>
                            Semua informasi menjadi lebih kuantitatif dan dapat akuntable.
                            <li>
                                Semua informasi menjadi lebih kuantitatif dan dapat akuntable.
                            </li>
                            <li>
                                Insight bisnis berasal dari data bukan dari siapa.
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        @using (Html.BeginForm("index", "register", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="card text-left">
                                <div class="card-header bg-transparent">Register</div>
                                <div class="card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-10 offset-md-1">
                                                <div class="form-group">
                                                    <label for="" class="form-label">Nama Perusahaan*</label>
                                                    <div class="">
                                                        @*<input type="text" class="form-control" name="Company_Name" required>*@
                                                        @Html.EditorFor(model => model.Company_Name,new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                        @Html.ValidationMessageFor(model => model.Company_Name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="form-label">Logo</label>
                                                    <div class=" text-left">
                                                        <a class="Primary mg-b-10" href="#" data-toggle="modal" data-target="#ChooseImage1">
                                                            <img id="Images1" src="~/Content/images/default-image.png" style="max-width:150px;max-height:150px;" />
                                                        </a>
                                                        <span>klik image</span>
                                                        <input type="hidden" name="Images_Name" id="Merchant_Image1" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="form-label">Email*</label>
                                                    <div class="">
                                                        @*<input type="email" class="form-control" name="Company_Email" required>*@
                                                        @Html.EditorFor(model => model.Company_Email, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                        @Html.ValidationMessageFor(model => model.Company_Email, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="form-label">No Tlp*</label>
                                                    <div class="">
                                                        @*<input type="number" class="form-control" name="Company_No_Telp" required>*@
                                                        @Html.EditorFor(model => model.Company_No_Telp, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                        @Html.ValidationMessageFor(model => model.Company_No_Telp, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="form-label">WhatsApp*</label>
                                                    <div class="">
                                                        @*<input type="number" class="form-control" name="Company_Wa" required>*@
                                                        @Html.EditorFor(model => model.Company_Wa, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                        @Html.ValidationMessageFor(model => model.Company_Wa, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="form-label">NPWP*</label>
                                                    <div class="">
                                                        @*<input type="text" class="form-control" name="Company_NPWP" required>*@
                                                        @Html.EditorFor(model => model.Company_NPWP, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                        @Html.ValidationMessageFor(model => model.Company_NPWP, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="form-label">Alamat*</label>
                                                    <div class="">
                                                        @*<textarea class="form-control" name="Company_Address" required></textarea>*@
                                                        @Html.EditorFor(model => model.Company_Address, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                                                        @Html.ValidationMessageFor(model => model.Company_Address, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="" class="form-label">Packet*</label>                                                   
                                                    @Html.DropDownListFor(model => model.Company_Packet_ID, ViewBag.Data as SelectList, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Company_Packet_ID, "", new { @class = "text-danger" })
                                                </div>
                                                <br />
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-block btn-lg btn-success">Register</button>
                                                    <p class="text-left">*Semua wajib diisi</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section><!-- #about -->

        <section id="download" class="section-bg">
            <div class="container-fluid">                
                <div class="section-header">
                    <br />
                    <h3>Download</h3>
                    <p>silahkan download & daftarkan perusahaan, Gratis selama 14 hari trial.</p>
                    <p><a href="https://play.google.com/store/apps/details?id=id.cinta.ge"><img src="https://goldeneye.id/img/gp.png" style="width:250px;height:80px;" alt="Download melalui Google playstore"></a></p>
                </div>
            </div>
        </section><!-- #download -->
    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-info">
                        <h3>GOLDENEYE</h3>
                        <p>
                            Empower team activities into accountable performance
                        </p>
                        <br>
                        <p>
                            Powered by:<br>
                            PT CIPTA INOVATIF ABADI (Cinta.ID)
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Hubungi Kami</h4>
                        <p>
                            Kirana Two Office Tower<br>
                            Kelapa Gading<br>
                            Jkt Utara 14240<br>
                            Indonesia<br>
                            <strong>Phone:</strong> +62 812 9986 7899<br>
                            <strong>Email:</strong> hello@cinta.id<br>
                        </p>

                        @*<div class="social-links">
                                <a href="https://www.facebook.com/ID.GoldenEye" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/id.goldeneye/" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/goldeneyeid/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a href="https://api.whatsapp.com/send?phone=6281299867899" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="container">            
            <div class="copyright">
                &copy; Copyright <strong>GoldenEye</strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="http://cinta.id/">Cinta.ID</a>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="ChooseImage1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><span style="color: #000000">Pilih logo</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="file-upload-inner ts-forms">
                            <div class="input prepend-big-btn">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <input type="file" id="upload1" name="ImagesLogo" class="form-control">
                                        <div id="upload-demo1" style="width:300px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-primary upload-result1">Save</button>
                    </div>
                </div>
            </div>
        </div>


    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="https://goldeneye.id/lib/jquery/jquery.min.js"></script>
    <script src="https://goldeneye.id/lib/jquery/jquery-migrate.min.js"></script>
    <script src="https://goldeneye.id/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://goldeneye.id/lib/easing/easing.min.js"></script>
    <script src="https://goldeneye.id/lib/mobile-nav/mobile-nav.js"></script>
    <script src="https://goldeneye.id/lib/wow/wow.min.js"></script>
    <script src="https://goldeneye.id/lib/waypoints/waypoints.min.js"></script>
    <script src="https://goldeneye.id/lib/counterup/counterup.min.js"></script>
    <script src="https://goldeneye.id/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://goldeneye.id/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="https://goldeneye.id/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="https://goldeneye.id/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="https://goldeneye.id/js/main.js"></script>
    <script src="http://demo.itsolutionstuff.com/plugin/croppie.js"></script>
    <script src="~/Scripts/CropImage.js"></script>
</body>
</html>
