﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GoldenEye.ID</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="field force application, sfa, sales force application, team, collaboration, tools, analytics, real-time, performance" name="keywords">
    <meta content="information about goldeneye application for field forces" name="description">

    <!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
    <!-- Favicons -->
    <link href="https://goldeneye.id/img/favicon.png" rel="icon">
    <link href="https://goldeneye.id/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="https://goldeneye.id/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="https://goldeneye.id/lib/animate/animate.min.css" rel="stylesheet">
    <link href="https://goldeneye.id/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="https://goldeneye.id/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="https://goldeneye.id/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="http://demo.itsolutionstuff.com/plugin/croppie.css">

    <!-- Main Stylesheet File -->
    <link href="https://goldeneye.id/css/style.css" rel="stylesheet">
    <!-- =======================================================
      Theme Name: NewBiz
      Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
    <link href="~/Content/Register.css" rel="stylesheet" />
</head>

<body>

    <!--==========================
    Header
    ============================-->
    <header id="header" class="fixed-top">
        <div class="container">
            <div class="logo d-flex justify-content-center">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
                <a href="#intro" class="scrollto py-0"><img src="https://goldeneye.id/img/logo.png" alt="" class="img-fluid"></a>
            </div>
        </div>
    </header><!-- #header -->
    <br /><br /><br />
    <main id="main">

        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
            <div class="container">

                <div class="container text-center">
                    @if (Convert.ToString(TempData["Success"]) == "oke")
                    {
                        <h6>Terimaksih <b>@TempData["company"]</b> telah bergabung bersama <b>GOLDENEYE</b>,</h6>
                        <h6>kami telah mengirimkan email konfirmasi ke <b>@TempData["email"]</b> untuk melanjutkan...</h6><br />
                        <a href="https://goldeneye.id/" class="btn btn-outline-primary btn-sm">
                            Back to Home
                        </a>
                    }
                    else
                    {
                        <h1>Uppsss, you lost....</h1>
                        <a href="https://goldeneye.id/" class="btn btn-outline-primary btn-sm">
                            Back to Home
                        </a>
                    }
                </div>
            </div>
        </section><!-- #about -->


        <section id="download" class="section-bg">
            <div class="container-fluid">
                <div class="section-header">
                    <h3>Download</h3>
                    <p>silahkan download & daftarkan perusahaan, Gratis selama 14 hari trial.</p>
                    <p><a href="https://play.google.com/store/apps/details?id=id.cinta.ge"><img src="https://goldeneye.id/img/gp.png" style="width:250px;height:80px;" alt="Download melalui Google playstore"></a></p>
                </div>
            </div>
        </section><!-- #download -->
    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6 footer-info">
                        <h3>GOLDENEYE</h3>
                        <p>
                            Empower team activities into accountable performance
                        </p>
                        <br>
                        <p>
                            Powered by:<br>
                            PT CIPTA INOVATIF ABADI (Cinta.ID)
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Hubungi Kami</h4>
                        <p>
                            Kirana Two Office Tower<br>
                            Kelapa Gading<br>
                            Jkt Utara 14240<br>
                            Indonesia<br>
                            <strong>Phone:</strong> +62 812 9986 7899<br>
                            <strong>Email:</strong> hello@cinta.id<br>
                        </p>

                        @*<div class="social-links">
                                <a href="https://www.facebook.com/ID.GoldenEye" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.instagram.com/id.goldeneye/" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/in/goldeneyeid/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                <a href="https://api.whatsapp.com/send?phone=6281299867899" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>GoldenEye</strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="http://cinta.id/">Cinta.ID</a>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="ChooseImage1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><span style="color: #000000">Pilih logo</span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="file-upload-inner ts-forms">
                            <div class="input prepend-big-btn">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <input type="file" id="upload1" name="ImagesLogo" class="form-control">
                                        <div id="upload-demo1" style="width:300px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-outline-primary upload-result1">Save</button>
                    </div>
                </div>
            </div>
        </div>


    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- JavaScript Libraries -->
    <script src="https://goldeneye.id/lib/jquery/jquery.min.js"></script>
    <script src="https://goldeneye.id/lib/jquery/jquery-migrate.min.js"></script>
    <script src="https://goldeneye.id/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://goldeneye.id/lib/easing/easing.min.js"></script>
    <script src="https://goldeneye.id/lib/mobile-nav/mobile-nav.js"></script>
    <script src="https://goldeneye.id/lib/wow/wow.min.js"></script>
    <script src="https://goldeneye.id/lib/waypoints/waypoints.min.js"></script>
    <script src="https://goldeneye.id/lib/counterup/counterup.min.js"></script>
    <script src="https://goldeneye.id/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://goldeneye.id/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="https://goldeneye.id/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="https://goldeneye.id/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="https://goldeneye.id/js/main.js"></script>
    <script src="http://demo.itsolutionstuff.com/plugin/croppie.js"></script>
    <script src="~/Scripts/CropImage.js"></script>
</body>
</html>
