﻿@model b2bWeb.Models.rowsActivities

<style>
    .datepicker {
        z-index: 1600 !important; /* has to be larger than 1050 */
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <span class="input-group-btn">
                                    <a href="#" class="btn btn-outline-success my-2 my-sm-0" onclick="excel_date();">
                                        <i class="fa fa-download"></i>&nbsp;Excel
                                    </a>
                                </span>
                            </div>
                            &nbsp;
                            <div class="form-group">
                                <input class="form-control" type="text" id="periode" name="periode" value="" placeholder="periode" size="21" autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataActivities", "Activities")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           data-query-params="queryParams"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="@Html.DisplayNameFor(m => m.Employee_Name)">NAME</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Activities_Image)" data-formatter="imageFormatter">IMAGE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Name)">OUTLET</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Respond_Name)">RESPOND</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Activities_Desc)">DESCRIPTION</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Activities_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Activities_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_ScriptTable"); }

<div class="modal fade" id="myModal_excel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6183ff;">
                <h5 class="modal-title" id="myModalLabel" style="color: #ffffff">Export to Excel @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            @using (Html.BeginForm("ExportToExcel", "Activities", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="text-uppercase">Start Date</label>
                        <div>
                            <input type="text" class="form-control" id="startDate" name="startDate" required autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="text-uppercase">End Date</label>
                        <div>
                            <input type="text" class="form-control" id="endDate" name="endDate" required autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">IMAGE</label>
                        <select class="custom-select" id="image_excel" name="image" required autocomplete="off">
                            <option value="">Select</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        <span id="image_value" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success ex">Excel</button>
                    <button class="btn btn-primary exL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>
@*<script>
    $(document).ready(function () {
        document.getElementById('advancedSearchCari').onclick = function () {            
            $(".Employee_Name").addClass("d-none");
            $(".Activities_Image").addClass("d-none");
            $(".Outlet_Name").addClass("d-none");
            $(".Respond_Name").addClass("d-none");
            $(".Visit_Image").addClass("d-none");
            $(".Activities_Desc").addClass("d-none");
            $(".Activities_UpdateOn").addClass("d-none");
                        
            $('#Activities_InsertOn').daterangepicker({
                opens: 'left',
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                }
            });

            $('#Activities_InsertOn').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            });

            $('#Activities_InsertOn').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });

            $('.applyBtn').on('click', function () {
                var input = $("#Activities_InsertOn");
                var len = input.val().length;
                input.val(input.val());

                setCaretPosition("Activities_InsertOn", len);
            })

            function setCaretPosition(elemId, caretPos) {
                var el = document.getElementById(elemId);

                if (el !== null) {

                    if (el.createTextRange) {
                        var range = el.createTextRange();
                        range.move('character', caretPos);
                        range.select();
                        return true;
                    }

                    else {
                        if (el.selectionStart || el.selectionStart === 0) {
                            el.focus();
                            el.setSelectionRange(caretPos, caretPos);
                            return true;
                        }

                        else { // fail city, fortunately this never happens (as far as I've tested) :)
                            el.focus();
                            return false;
                        }
                    }
                }
            }
        };
    });
</script>*@