﻿@model b2bWeb.Models.rowsDelivery

@using b2bWeb.Models
@{
    var Outlet = ViewBag.Outlet as List<Outlet> ?? new List<Outlet>();
    var Employee = ViewBag.Employee as List<Employee> ?? new List<Employee>();
    var Item = ViewBag.Item as List<Item> ?? new List<Item>();
}

<style>
    .scrollbar {
        /*background-color: #333;*/
        overflow: auto;
        white-space: nowrap;
    }

    .datepicker {
        z-index: 1600 !important; /* has to be larger than 1050 */
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <span class="input-group-btn">
                                    <a class="btn btn-outline-primary create" href="javascript:void(0)">
                                        <i class="fa fa-plus-circle"></i>&nbsp;Add
                                    </a>
                                </span>
                                &nbsp;
                                <span class="input-group-btn">
                                    <a class="btn btn-outline-secondary import" href="javascript:void(0)">
                                        <i class="fa fa-upload"></i>&nbsp;Import
                                    </a>
                                </span>
                                &nbsp;
                                <span class="input-group-btn">
                                    <a href="#" class="btn btn-outline-success my-2 my-sm-0" onclick="excel_date();">
                                        <i class="fa fa-download"></i>&nbsp;Excel
                                    </a>
                                </span>
                            </div>
                            &nbsp;
                            <div class="form-group">
                                <input class="form-control" type="text" id="periode" name="periode" value="" placeholder="periode" size="21" autocomplete="off"/>
                            </div>
                        </div>                        
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataDelivery", "Delivery")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           data-query-params="queryParams"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatterDetails" data-events="operateEvents">ACTION</th>
                                @*<th data-field="@Html.DisplayNameFor(m => m.)" data-formatter="ToYesNo">ACTIVE</th>*@
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Name)">OUTLET</th>
                                <th data-field="@Html.DisplayNameFor(m => m.DO_PIC_Name)">EMPLOYEE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.DO_Transdate)" data-formatter="ToDateOnly">DO DATE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.DO_Total_Qty)">QUANTITY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.DO_Total_Amount)" data-formatter="ToRp">QUANTITY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.DO_Desc)">DESC</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Respond_Name)">RESPOND</th>
                                <th data-field="@Html.DisplayNameFor(m => m.DO_Capture_Image)" data-formatter="imageFormatter">IMAGE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.DO_SendingStatus)" data-formatter="DelivStatus">STATUS</th>
                                <th data-field="@Html.DisplayNameFor(m => m.DO_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.DO_InsertBy_Name)">INSERT BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.DO_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.DO_UpdateBy_Name)">UPDATE BY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_ScriptTable"); }

<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Outlet</label>
                    <input type="hidden" class="form-control" id="id" name="id" value="" />
                    <select class="form-control selectpicker" data-live-search="true" id="DO_OutletCode" name="DO_OutletCode" title="outlet">
                        @foreach (var E in Outlet ?? new List<Outlet>())
                        {
                            <option value="@E.Outlet_Code" class="text-sm-left" style="font-size:small">@E.Outlet_Name.ToUpper()</option>
                        }
                    </select>
                    <p class="errorOutlet text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Employee</label>
                    <select class="form-control selectpicker" data-live-search="true" id="DO_PIC" name="DO_PIC" title="employee">
                        @foreach (var E in Employee ?? new List<Employee>())
                        {
                            <option value="@E.Employee_NIK" class="text-sm-left" style="font-size:small">@E.Employee_Name.ToUpper()</option>
                        }
                    </select>
                    <p class="errorEmployee text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Do Date</label>
                    <input type="text" class="form-control " id="commonDate" name="DO_Transdate" placeholder="do date" autocomplete="off" />
                    <p class="errorDoDate text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="Name">Product</label>
                    <select class="form-control selectpicker" data-live-search="true" id="Item" name="Item" title="choose" required>
                        @foreach (var E in Item ?? new List<Item>())
                        {
                            <option value="@E.Item_ID|@E.Item_Name|@E.Item_Price">@E.Item_Name.ToUpper()</option>
                        }
                    </select>
                    <p class="errorItem text-danger d-none"></p>
                </div>
                <hr />
                <p id="anyProduct" class="d-none">Product yang anda pilih:</p>
                <div id="PilihProduct">                    
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-primary add" data-request-url="@Url.Action("AddUp", "Delivery")" type="button">
                    Submit
                </button>
                <button class="btn btn-primary addL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal details-->
<div class="modal fade" id="Details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <div class="card-deck" id="IsiDetails">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- modal delete -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#e82323">
                <h5 class="modal-title text-white" id="exampleModalLabel">Delete @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="javascript:void(0)" role="form">
                <div class="modal-body">
                    <input id="idDel" type="hidden" class="form-control" name="id" value="">
                    Are you sure you want to delete @ViewBag.Title "<b><span id="nameDel"></span></b>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel!</button>
                    <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "Delivery")">Yes, delete it!</button>
                    <button class="btn btn-primary deleteL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- export to excel -->
<div class="modal fade" id="myModal_excel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6183ff;">
                <h5 class="modal-title" id="myModalLabel" style="color: #ffffff">Export to Excel @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            @using (Html.BeginForm("ExportToExcel", "Delivery", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="text-uppercase">Start Date</label>
                        <div>
                            <input type="text" class="form-control" id="startDate" name="startDate" required autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="text-uppercase">End Date</label>
                        <div>
                            <input type="text" class="form-control" id="endDate" name="endDate" required autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">IMAGE</label>
                        <select class="custom-select" id="image_excel" name="image" required autocomplete="off">
                            <option value="">Select</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        <span id="image_value" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success ex">Excel</button>
                    <button class="btn btn-primary exL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- modal import -->
<div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-6">
                    <p>
                        for the example of Template click <a href="@Url.Action("ExportTemplate", "delivery")" class="btn btn-primary btn-sm">here</a>
                        @*<button class="btn btn-primary templateL btn-sm d-none" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>*@
                    </p>
                    <div class="form-group">
                        <input type="file" id="input-excel" class="form-control" name="postedFile" required />
                        <p class="errorImport text-danger d-none">file is required!</p>
                    </div>
                </div>
                <div id="result-table" class="d-none table-responsive">
                    <table id="table_import" class="table table-bordered table-sm">
                        <thead>
                            <tr class="text-uppercase">
                                <th>DO Date</th>
                                <th>Employee NIK</th>
                                <th>Employee Name</th>
                                <th>Outlet Code</th>
                                <th>Outlet Name</th>
                                <th>Product Code</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody id="qw"></tbody>
                    </table>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary Import" data-request-url="@Url.Action("Import", "delivery")">Import</button>
                <button class="btn btn-primary ImportL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
</script>
<script src="~/Scripts/data/Delivery.js"></script>