﻿@model b2bWeb.Models.rowsMTask

@using b2bWeb.Models
@{    
    var Employee = ViewBag.Employee as List<Employee> ?? new List<Employee>();
}

    <style>
        .datepicker {
            z-index: 1600 !important; /* has to be larger than 1050 */
        }        
    </style>

<link rel="stylesheet" href="https://foliotek.github.io/Croppie/croppie.css">

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <span class="input-group-btn">
                            <a class="btn btn-outline-primary create" href="javascript:void(0)">
                                <i class="fa fa-plus-circle"></i>&nbsp;Add
                            </a>
                        </span>
                        @*<span class="input-group-btn">
                            <a class="btn btn-outline-secondary import" href="javascript:void(0)">
                                <i class="fa fa-upload"></i>&nbsp;Import
                            </a>
                        </span>
                        <span class="input-group-btn">
                            <a class="btn btn-outline-success" href="@Url.Action("ExportToExcel", "MTask")">
                                <i class="fa fa-download"></i>&nbsp;Excel
                            </a>
                        </span>*@
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataMTask", "MTask")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">ACTION</th>
                                @*<th data-field="@Html.DisplayNameFor(m => m.Task_IsActive)" data-formatter="ToYesNo">ACTIVE</th>*@
                                <th data-field="@Html.DisplayNameFor(m => m.Task_IsPublish)" data-formatter="ToYesNo">PUBLISH</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Task_Title)">TITLE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Task_Image_Example)" data-formatter="imageFormatter">IMAGE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Task_Desc)">DESC</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Task_Deadline)" data-formatter="ToDateOnly">DEADLINE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Task_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Task_Insert_Name)">INSERT BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Task_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Task_Update_Name)">UPDATE BY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("_ScriptTable"); }

<!-- Modal Add & update -->
@*data-show-refresh="true"*@
<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" class="form-control" id="Task_Title" name="Task_Title" placeholder="title" autocomplete="off" />
                    <input type="hidden" name="id" id="id" />
                    <p class="errorTitle text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Image</label><br />
                    <a class="mg-b-10" href="#" data-toggle="modal" data-target="#ChooseImageTask_Image_Example">
                        <img id="ImagesTask_Image_Example" src="~/Content/images/default-image.png" style="width:150px; height:150px;" />
                    </a>
                    <span>klik image</span>
                    <input type="hidden" name="Task_Image_Example" id="Task_Image_Example" />
                </div>
                <div class="form-group">
                    <label for="">Desc</label>
                    <input type="text" class="form-control" id="Task_Desc" name="Task_Desc" placeholder="desc" autocomplete="off" />
                    <p class="errorDesc text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Deadline</label>
                    <input type="text" class="form-control" id="commonDate" name="Task_Deadline" placeholder="deadline" autocomplete="off" />
                    <p class="errorDeadline text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Employee</label>
                    <select class="form-control selectpicker" data-actions-box="true" multiple data-live-search="true" id="Numpang" name="Numpang">
                        @foreach (var E in Employee ?? new List<Employee>())
                        {
                            <option value="@E.Employee_NIK">@E.Employee_Name.ToUpper() (@E.Role_Name)</option>
                        }
                    </select>
                    <p class="errorNIK text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label>Publish</label>
                    <select class="form-control selectpicker" id="Task_IsPublish" name="Task_IsPublish" title="Select">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <p class="errorPublish text-danger d-none"></p>                    
                </div>
                @*<div id="active" class="form-group">
                    <label>Active</label>
                    <select class="form-control selectpicker" id="Task_IsActive" name="Task_IsActive" title="Select">
                        <option value="true">Active</option>
                        <option value="false">NonActive</option>
                    </select>
                </div>*@
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-primary add" data-request-url="@Url.Action("AddUp", "MTask")" type="button">
                    Submit
                </button>
                <button class="btn btn-primary addL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal image-->
<div class="modal fade" id="ChooseImageTask_Image_Example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6183ff;">
                <h5 class="" id=""><span style="color: #ffffff">Choose Image</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="file-upload-inner ts-forms">
                    <div class="input prepend-big-btn">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input type="file" id="uploadTask_Image_Example" name="ImagesLogo" class="form-control">
                                <br />
                                <div id="upload-Task_Image_Example" style="width:300px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary upload-Task_Image_Example">Choose</button>
            </div>
        </div>
    </div>
</div>

<!-- modal delete -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#e82323">
                <h5 class="modal-title text-white" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="javascript:void(0)" role="form">
                <div class="modal-body">
                    <input id="idDel" type="hidden" class="form-control" name="id" value="">
                    Are you sure you want to delete @ViewBag.Title "<b><span id="nameDel"></span></b>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel!</button>
                    <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "MTask")">Yes, delete it!</button>
                    <button class="btn btn-primary deleteL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://foliotek.github.io/Croppie/croppie.js"></script>
<script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
</script>
<script src="~/Scripts/data/MTask.js"></script>