﻿@model b2bWeb.Models.rowsCollection

@using b2bWeb.Models
@{
    var Outlet = ViewBag.Outlet as List<Outlet> ?? new List<Outlet>();
    var Employee = ViewBag.Employee as List<Employee> ?? new List<Employee>();
}


<style>
    .scrollbar {
        /*background-color: #333;*/
        overflow: auto;
        white-space: nowrap;
    }

    .datepicker {
        z-index: 1600 !important; /* has to be larger than 1050 */
    }
</style>

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                <div class="table-responsive text-nowrap mb-1">
                    <div id="toolbar">
                        <div class="form-inline" role="form">
                            <div class="form-group">
                                <span class="input-group-btn">
                                    <a class="btn btn-outline-primary create" href="javascript:void(0)">
                                        <i class="fa fa-plus-circle"></i>&nbsp;Add
                                    </a>
                                </span>
                                &nbsp;
                                <span class="input-group-btn">
                                    <a class="btn btn-outline-secondary import" href="javascript:void(0)">
                                        <i class="fa fa-upload"></i>&nbsp;Import
                                    </a>
                                </span>
                                &nbsp;
                                <span class="input-group-btn">
                                    <a href="#" class="btn btn-outline-success my-2 my-sm-0" onclick="excel_date();">
                                        <i class="fa fa-download"></i>&nbsp;Excel
                                    </a>
                                </span>
                            </div>
                            &nbsp;
                            <div class="form-group">
                                <input class="form-control" type="text" id="periode" name="periode" value="" placeholder="periode" size="21" autocomplete="off"/>
                            </div>
                        </div>                        
                    </div>
                    <table id="table"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-search="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-pagination="true"
                           data-side-pagination="server"
                           data-url="@Url.Action("GetDataCollection", "Collection")"
                           data-query-params-type="false"
                           data-buttons-class="primary"
                           data-query-params="queryParams"
                           class="table table-bordered table-sm table-hover">
                        <thead>
                            <tr>
                                <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">ACTION</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Inv_IsActive)" data-formatter="ToYesNo">ACTIVE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Outlet_Name)">OUTLET</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Employee_Name)">EMPLOYEE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Respond_Name)">RESPOND</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Inv_No)">INVOICE NO</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Inv_DueDate)" data-formatter="ToDateOnly">DO DATE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Inv_Amount)" data-formatter="ToRp">AMOUNT</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Inv_ActualAmount)" data-formatter="ToRp">ACTUAL AMOUNT</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Inv_Desc)">DESC</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Inv_Capture_Image)" data-formatter="imageFormatter">IMAGE</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Inv_CallStatus)" data-formatter="CallStatus">STATUS</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Inv_InsertOn)" data-formatter="ToDate">INSERT ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Inv_InsertBy_Name)">INSERT BY</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Inv_UpdateOn)" data-formatter="ToDate">UPDATE ON</th>
                                <th data-field="@Html.DisplayNameFor(m => m.Inv_UpdateBy_Name)">UPDATE BY</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@{ Html.RenderPartial("_ScriptTable"); }

<div class="modal fade" id="ModalAU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Invoice No</label>
                    <input type="hidden" class="form-control" name="id" id="id" />
                    <input type="text" class="form-control" name="Inv_No" id="Inv_No" placeholder="Invoice No" autocomplete="off" />
                    <p class="errorInvNo text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Due Date</label>
                    <input type="text" class="form-control" name="Inv_DueDate" id="commonDate" placeholder="Due Date" autocomplete="off" />
                    <p class="errorDueDate text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="Name">Outlet</label>
                    <select class="form-control selectpicker" data-live-search="true" id="Inv_OutletCode" name="Inv_OutletCode" required title="choose">
                        @foreach (var A in Outlet ?? new List<Outlet>())
                        {
                            <option value="@A.Outlet_Code">@A.Outlet_Name</option>
                        }
                    </select>
                    <p class="errorOutlet text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="Name">Employee</label>
                    <select class="form-control selectpicker" data-live-search="true" id="Inv_PIC" name="Inv_PIC" required title="choose">
                        @foreach (var E in Employee ?? new List<Employee>())
                        {
                            <option value="@E.Employee_NIK">@E.Employee_Name</option>
                        }
                    </select>
                    <p class="errorEmployee text-danger d-none"></p>
                </div>
                <div class="form-group">
                    <label for="">Amount</label>
                    <input type="text" class="form-control rupiah" name="Inv_Amount" id="Inv_Amount" placeholder="Amount" autocomplete="off" />
                    <p class="errorAmount text-danger d-none"></p>
                </div>
                <div class="form-group" id="active">
                    <label for="">Collection</label>
                    <select class="form-control selectpicker" id="Inv_IsActive" name="Inv_IsActive" title="choose">
                        <option value="true">Active</option>
                        <option value="false">NonActive</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">
                    Close
                </button>
                <button class="btn btn-primary add" data-request-url="@Url.Action("AddUp", "Collection")" type="button">
                    Submit
                </button>
                <button class="btn btn-primary addL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>


<!-- modal delete -->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#e82323">
                <h5 class="modal-title text-white" id="exampleModalLabel">Delete @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="javascript:void(0)" role="form">
                <div class="modal-body">
                    <input id="idDel" type="hidden" class="form-control" name="id" value="">
                    Are you sure you want to delete @ViewBag.Title "<b><span id="nameDel"></span></b>" ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No, cancel!</button>
                    <button type="button" class="btn btn-primary delete" data-request-url="@Url.Action("Delete", "Collection")">Yes, delete it!</button>
                    <button class="btn btn-primary deleteL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal_excel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#6183ff;">
                <h5 class="modal-title" id="myModalLabel" style="color: #ffffff">Export to Excel @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            </div>
            @using (Html.BeginForm("ExportToExcel", "Collection", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="text-uppercase">Start Date</label>
                        <div>
                            <input type="text" class="form-control" id="startDate" name="startDate" required autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="text-uppercase">End Date</label>
                        <div>
                            <input type="text" class="form-control" id="endDate" name="endDate" required autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">IMAGE</label>
                        <select class="custom-select" id="image_excel" name="image" required autocomplete="off">
                            <option value="">Select</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        <span id="image_value" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success ex">Excel</button>
                    <button class="btn btn-primary exL d-none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
</script>

<!-- modal import -->
<div class="modal fade" id="ModalImport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Import @ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-6">
                    <p>
                        for the example of Template click <a href="@Url.Action("ExportTemplate", "collection")" class="btn btn-primary btn-sm">here</a>
                        @*<button class="btn btn-primary templateL btn-sm d-none" type="button" disabled>
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>*@
                    </p>
                    <div class="form-group">
                        <input type="file" id="input-excel" class="form-control" name="postedFile" required />
                        <p class="errorImport text-danger d-none">file is required!</p>
                    </div>
                </div>
                <div id="result-table" class="d-none table-responsive">
                    <table id="table_import" class="table table-bordered table-sm">
                        <thead>
                            <tr class="text-uppercase">
                                <th>Invoice No</th>
                                <th>Due Date</th>
                                <th>Outlet Code</th>
                                <th>Outlet Name</th>
                                <th>Employee NIK</th>
                                <th>Employee Name</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody id="qw"></tbody>
                    </table>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary Import" data-request-url="@Url.Action("Import", "collection")">Import</button>
                <button class="btn btn-primary ImportL d-none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ViewBag = '@ViewBag.Title';
</script>
<script src="~/Scripts/data/Collection.js"></script>