﻿@model b2bWeb.Models.Company
@using b2bWeb.Models
@{
    var Data = ViewBag.Data as List<Company>;
}

<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-transparent">@ViewBag.Title</div>
            <div class="card-body">
                @foreach (var a in Data ?? new List<Company>())
                {

                    <div class="container">
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Logo</label>
                            <div class="col-sm-10">
                                @if ((a.Company_Logo == null) || (string.IsNullOrEmpty(a.Company_Logo)))
                                {
                                    <img src="~/Content/images/default-image.png" class="card-img-top rounded mb-3" alt="" style="width:150px;height:170px;">
                                }
                                else
                                {
                                    <img src="@a.Company_Logo" class="card-img-top rounded mb-3" alt="" style="width:150px;height:170px;">
                                }
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Company</label>
                            <div class="col-sm-10">
                                <span>@a.Company_Name</span>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Address</label>
                            <div class="col-sm-10">
                                <span>@a.Company_Address</span>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Email</label>
                            <div class="col-sm-10">
                                <span>@a.Company_Email</span>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label for="" class="col-sm-2">NPWP</label>
                            <div class="col-sm-10">
                                <span>@a.Company_NPWP</span>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label for="" class="col-sm-2">No</label>
                            <div class="col-sm-10">
                                <span>@a.Company_No_Telp</span>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label for="" class="col-sm-2">WhatsApp</label>
                            <div class="col-sm-10">
                                <span>@a.Company_Wa</span>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Area Distance</label>
                            <div class="col-sm-10">
                                <span>@a.Company_Distance.ToString("#,##0")</span>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Outlet Distance</label>
                            <div class="col-sm-10">
                                <span>@a.Company_DistanceOutlet.ToString("#,##0")</span>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Face Recognition</label>
                            <div class="col-sm-10">
                                @if (a.Company_FaceRecognation == true)
                                {
                                    <kbd class="bg-dark">Yes</kbd>
                                }
                                else
                                {
                                    <kbd class="bg-danger">No</kbd>
                                }
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Optimized Route</label>
                            <div class="col-sm-10">
                                @if (a.Company_RouteOptimize == 1)
                                {
                                    <kbd class="bg-dark">Distance</kbd>
                                }
                                else if (a.Company_RouteOptimize == 2)
                                {
                                    <kbd class="bg-danger">Time</kbd>
                                }
                            </div>
                        </div>
                        <hr />
                        <div class="form-group row">
                            <label for="" class="col-sm-2">Join On</label>
                            <div class="col-sm-10">
                                <span>@a.Company_InsertOn.ToString("dd MMMM yyyy")</span>
                            </div>
                        </div>
                        <hr />
                        <span class="input-group-btn">
                            @*@Url.Action("update", "company")*@
                            <a class="btn btn-outline-success my-2 my-sm-0 update" href="#">
                                <i class="fa fa-edit"></i>&nbsp;Update
                            </a>
                        </span>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-show-refresh="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("upd", "company", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    foreach (var a in Data ?? new List<Company>())
                    {
                        <form>
                            <div class="form-group row">
                                <label for="" class="col-sm-4 col-form-label text-right">Logo</label>
                                <div class="col-sm-8 text-left">
                                    @if (a.Company_Logo == null)
                                    {
                                        <img id="Images_Item" style="max-width:150px;max-height:150px;" src="~/Content/images/default-image.png" /><br /><br />
                                    }
                                    else
                                    {
                                        <img id="Images_Item" style="max-width:150px;max-height:150px;" src="@a.Company_Logo" /><br /><br />
                                    }
                                    <input type="file" name="Images" id="item_Image" onchange="readURL(this);" />
                                    <input type="hidden" name="Images_Name" id="item_Image_Name" value="@a.Company_Logo" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-4 col-form-label text-right">Distance Area (meter)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control rupiah" id="Company_Distance" name="Company_Distance1" value="@a.Company_Distance.ToString("#,##0")" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-4 col-form-label text-right">Distance Outlet (meter)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control rupiah" id="Company_DistanceOutlet" name="Company_DistanceOutlet1" value="@a.Company_DistanceOutlet.ToString("#,##0")" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-4 col-form-label text-right">Face Recognition</label>
                                <div class="col-sm-8">
                                    <select class="custom-select" id="Company_FaceRecognation" name="Company_FaceRecognation">
                                        <option>Select </option>
                                        @if (a.Company_FaceRecognation == true)
                                        {
                                            <option value="true" selected>Active</option>
                                            <option value="false">NonActive</option>
                                        }
                                        else
                                        {
                                            <option value="true">Active</option>
                                            <option value="false" selected>NonActive</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-4 col-form-label text-right">Optimized Route</label>
                                <div class="col-sm-8">
                                    <select class="custom-select" id="Company_RouteOptimize" name="Company_RouteOptimize">
                                        <option>Select </option>
                                        @if (a.Company_RouteOptimize == 1)
                                        {
                                            <option value="1" selected>Distance</option>
                                            <option value="2">Time</option>
                                        }
                                        else if (a.Company_RouteOptimize == 2)
                                        {
                                            <option value="1">Distance</option>
                                            <option value="2" selected>Time</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-4 col-form-label text-right">Email</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Company_Email" value="@a.Company_Email" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-4 col-form-label text-right">No Tlp</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Company_No_Telp" value="@a.Company_No_Telp" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-4 col-form-label text-right">WhatsApp</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Company_Wa" value="@a.Company_Wa" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-4 col-form-label text-right">NPWP</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="Company_NPWP" value="@a.Company_NPWP" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-4 col-form-label text-right">Address</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" name="Company_Address" rows="8" required>@a.Company_Address</textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-6 col-form-label text-right"></label>
                                <div class="col-sm-6">
                                    <button class="btn btn-default" type="button" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button class="btn btn-primary add" type="submit">
                                        Submit
                                    </button>
                                    <button class="btn btn-primary addL d-none" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Loading...
                                    </button>
                                </div>
                            </div>
                        </form>

                    }
                }
            </div>
            @*<div class="modal-footer">
                        <button class="btn btn-default" type="button" data-dismiss="modal">
                            Close
                        </button>
                        <button class="btn btn-primary add" type="button">
                            Submit
                        </button>
                        <button class="btn btn-primary addL d-none" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                </div>*@
        </div>
    </div>
</div>
<script>
     $('.update').click(function () {
        $(".modal-title").text('Update '+'@ViewBag.Title');
        $("#ModalU").modal('show');
     });

    //$('.add').click(function () {
    //     $(".addL").removeClass("d-none");
    //    $(".add").addClass("d-none");
    //});

</script>